<section class="yearbook-pdf" #pdfElement>
  <div class="page frontpage" [style]="pdfStyle.page.value">
    <div class="header" [style]="pdfStyle.page.frontpage.header.value">
      <div
        class="heading"
        [style]="pdfStyle.page.frontpage.header.heading.value"
      >
        <p [style]="pdfStyle.page.frontpage.header.heading.p.value">
          2021 - 2022
        </p>
        <p [style]="pdfStyle.page.frontpage.header.heading.p.value">
          los arcos 83 a
        </p>
      </div>
      <div
        class="partnerBrand"
        [style]="pdfStyle.page.frontpage.header.partnerBrand.value"
      >
        <img
          class="partner-brand__img"
          [src]="getImage('amblelogo')"
          [style]="pdfStyle.page.frontpage.header.partnerBrand.img.value"
        />
      </div>
    </div>
  </div>
</section>
<button
  class="btn btn-primary"
  [disabled]="resourceLoaded"
  (click)="printPdfFromHtml()"
>
  Download
</button>
