<div fullWidth *ngFor="let item of settings.items; index as i">
  <div *ngIf="item.image || item.title || item.description" class="bloque">
    <div class="bloque1">
      <div #imagenPerfil>
        <input type="file" class="d-none" (change)="readUrl($event)" />
      </div>
      <div class="text-hover">
        <img
          [src]="url ? url : '../../../../assets/images/profile2.png'"
          [alt]="name"
          (click)="uploadImageCaller(imagenPerfil)"
        />
        <h6>Actualizar Imagen</h6>
      </div>
    </div>
    <div class="bloque2">
      <h1>{{ name }}</h1>
      <p>{{ item.description }}</p>
    </div>
  </div>
  <div class="container-form">
    <ng-template #profileContainer></ng-template>
  </div>
</div>
