<div fullWidth *ngFor="let item of settings.items; index as i" class="profile-wrapper">
  <div *ngIf="item.image || item.title || item.description" class="bloque">
    <div class="bloque1">
      <div #imagenPerfil>
        <input type="file" class="d-none" (change)="readUrl($event)" />
      </div>
      <div class="text-hover">
        <img
          *ngIf="url"
          [src]="url"
          [alt]="name"
          (click)="uploadImageCaller(imagenPerfil)"
        />
        <fa-icon *ngIf="!url" [icon]="faUser" (click)="uploadImageCaller(imagenPerfil)"></fa-icon>
        <h6 (click)="uploadImageCaller(imagenPerfil)">Actualizar Imagen</h6>        
      </div>
    </div>
    <div class="bloque2">
      <h1>{{ name }}</h1>
      <p>{{ item.description }}</p>
    </div>
  </div>
  <div class="container-form">
    <ng-template #profileContainer></ng-template>
  </div>
</div>
