.bloque {
  width: 100%;
  padding: 50px !important;
  display: contents !important;
}
.bloque1 {
  text-align: center;
  width: 35%;
  display: inline-block;
}
.bloque1 img {
  width: 60%;
  border-radius: 50%;
}

.bloque2 {
  text-align: center;
  width: 50%;
  display: inline-block;
  vertical-align: middle;
}
.bloque2 h1 {
  color: #00809a;
}

.container-form {
  width: 100%;
  padding: 50px;
}

@media (max-width: 768px) {
  .bloque1 {
    width: 100%;
  }
  .bloque1 img{
    width: 35%;
  }
  .bloque2 {
    width: 100%;
  }
}
