<div *ngFor="let info of settings.infoContainer">
    <div *ngFor="let a of info.principal" class="style-principal d-flex">
        <div class="style-principal-div">
            <h6>Tema:</h6>
            <span>{{a.tema}}</span>
        </div>
        <div class="style-principal-div">
            <h6>Objetivos:</h6>
            <span *ngFor="let i of a.objetivo">
                {{i.conObjetivo + ',' + ' '}}
            </span>
        </div>
        <div class="style-principal-div">
            <h6>Estrategias:</h6>
            <span *ngFor="let i of a.estrategia">
                {{i.contEstrategia + ',' + ' '}}
            </span>
        </div>
        <div class="style-principal-div">
            <h6>Contenidos:</h6>
            <span *ngFor="let i of a.contenido">
                {{i.contContenido + ',' + ' '}}
            </span>
        </div>
    </div>
    <div *ngFor="let dato of info.datosNivel" class="style-nivel d-flex">
        <div *ngIf="dato.nivel" class="style-nivel-div">
            <h6>Nivel:</h6>
            <span>
                {{dato.nivel}}
            </span>
        </div>
        <div *ngIf="dato.week" class="style-nivel-div">
            <h6>Semanas:</h6>
            <span *ngFor="let d of dato.week">
                {{d.contWeek + ',' + ' '}}
            </span>
        </div>
        <div *ngIf="dato.time" class="style-nivel-div">
            <h6>Tiempo estimado de ejecución:</h6>
            <span>{{dato.time}}</span>
        </div>
        <div *ngIf="dato.tecnica" class="style-nivel-div">
            <h6>Técnica:</h6>
            <span *ngFor="let d of dato.tecnica">
                {{d.contTecnica + ',' + ' '}}
            </span>
        </div>
        <div *ngIf="dato.recurso" class="style-nivel-div">
            <h6>Recursos:</h6>
            <span *ngFor="let d of dato.recurso">
                {{d.contRecurso + ',' + ' '}}</span>
        </div>
        <div *ngIf="dato.evaluacion"class="style-nivel-div">
            <h6>Evaluación:</h6>
            <span *ngFor="let d of dato.evaluacion">
                {{d.contEvaluacion + ',' + ' '}}
            </span>
        </div>
    </div>
    <div *ngFor="let dato of info.datosNivel" class="style-checklist">
        <div *ngIf="flag;else other_content">
        <h6>{{dato.title}}</h6>
        <div class="mt-3 mb-3" *ngFor="let check of prueba">
            <nb-checkbox class="prueba" status="basic"><span class="descripcion">{{check.name}}</span>
            </nb-checkbox>
        </div>
    </div>



    <ng-template #other_content>
        <h6>{{dato.title}}</h6>
        <div class="mt-3 mb-3" *ngFor="let check of dato.checkList">
            <nb-checkbox class="prueba" status="basic"><span class="descripcion">{{check.description}}</span>
            </nb-checkbox>
        </div>
    </ng-template>



    </div>
    <div *ngFor="let dato of info.datosNivel" class="style-material">
        <div *ngIf="dato.material">
        <h6>Material de apoyo:</h6>
        <span *ngFor="let m of dato.material">
            <a href={{m.link}} target="_blank">
                {{m.link + ',' + ''}}
            </a>
        </span>
    </div>
</div>
    <div class="style-btn">
        <button *ngIf="info.button" title="general"
            class="btn btn-primary text-decoration-none p-1 btn-in-wrapper ml-4">{{info.button.name}}
        </button>
    </div>
    <h5 *ngIf="info.subtitle">{{info.subtitle}}</h5>
    <hr [class.mt-0]="info.subtitle" *ngIf="info.line">
</div>