@import "scss/placeholders";
::ng-deep {
  .bloque {
    display: none;
  }
  .visually-hidden {
    position: absolute !important;
    height: 22px;
    width: 49px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
  }
  .container-form {
    width: 100%;
    padding: 10px 40px !important;
  }
  .nb-theme-default {
    nb-checkbox .text:not(:empty) {
      padding-left: 1rem;
    }

    h6 {
      color: $blue !important;
    }

    nb-checkbox.status-basic
      .native-input:enabled:active
      + .custom-checkbox.checked {
      background-color: $blue;
      border-color: $blue;
    }

    nb-checkbox.status-basic .custom-checkbox.checked {
      background-color: $blue;
      border-color: $blue;
    }
    span .descripcion {
      color: $blue;
      font-size: 1rem;
      font-weight: 100;
    }
    @media (max-width:768px){
      span .descripcion {
        font-size: 0.8rem;
      }
    }
    nb-checkbox .custom-checkbox {
      border-radius: 0px !important;
    }
    .style-btn {
      text-align: right;
      margin-top: 2rem;

      &.no-margin {
        margin-top: 0;
      }
    }
    a.btn,
    button.btn {
      @include shared-btn-confs;
      @media (max-width: 768px) {
        font-size: 0.7rem;
      }
    }

    @media (max-width: 768px) {
      .style-btn {
        text-align: left;
        margin-left: 0px;
      }
    }
  }

  .style-checklist {
    padding-left: 1.5rem;

    nb-checkbox.status-basic {
      .custom-checkbox {
        &:hover {
          background-color: rgba(0, 0, 0, 0.16);
          border-color: $blue;
        }
        &:hover.checked {
          background-color: $blue;
          border-color: $blue;
        }
      }

      .native-input:enabled:focus + .custom-checkbox.checked {
        background-color: $blue;
        border-color: $blue;
      }
      .native-input:disabled:checked + .custom-checkbox {
        border-color: rgba(143, 155, 179, 0.24);
      }

      &.disabled-and-approved {
        .native-input:disabled:checked + .custom-checkbox {
          background-color: $blue;
          border-color: $blue;
        }
      }
      
    }

    label {
      align-items: baseline !important;

      .custom-checkbox{
        top: 0.35rem;
      }
    }

    &.in-generic-activity {
      display: flex;
      flex-wrap: wrap;
      padding-left: 0;

      h6 {
        flex: 100%;
      }

      .check-btn {
        flex: 100%;
        text-align: justify;        

        @media screen and (orientation: portrait) and (min-width: 480px) {
          flex: 50%;
        }
        @include mediabreak(small,landscape,true,640px) {
          flex: 50%;
        }

        &:nth-child(even) {
          @media screen and (orientation: portrait) and (min-width: 480px) { padding-right: 1rem; }
          @include mediabreak(small,landscape,true,640px) { padding-right: 1rem; }
        }
        &:last-child {
          @media screen and (orientation: portrait) and (min-width: 480px) { padding-right: 0; }
          @include mediabreak(small,landscape,true,640px) { padding-right: 0; }          
        }
      }
    }
  }

  &.style-principal {
    flex-wrap: wrap;
    background-color: $blue;
    padding: 1.5rem;
    margin-bottom: 1rem;
    .style-principal-div {
      width: 50%;
      margin-bottom: 0.5rem;
      h6 {
        color: white !important;
      }
      span {
        font-size: 1.125rem;
        color: white;
      }
      @media (max-width: 768px) {
        span {
          font-size: 0.9rem;
        }
      }
    }
    .ng-select {
      background-color: $blue;
      .ng-dropdown-panel {
        z-index: 3;
        .scroll-host {
          left: -0.75rem;
          top: 0.35rem;
          background: $blue;
          border: solid map-get($color_map, form-gray);
          border-width: 0 1px 1px;

          .scrollable-content {
            padding: 0 1rem;
          }
        }
      }

      &.ng-select-opened .ng-select-container {
        z-index: 3;
      }

      .ng-select-container {
        .ng-placeholder {
          color: #6c757d;
        }

        &.ng-has-value .ng-placeholder {
          display: none;
        }
      }

      &.ng-untouched {
        &.ng-invalid .ng-select-container .ng-placeholder,
        &.image-status .ng-select-container .ng-placeholder {
          display: block;
        }
        &.ng-valid:not(.image-status) .ng-select-container .ng-placeholder {
          display: none;
        }
      }

      &.ng-touched.ng-pristine,
      &.ng-touched.ng-invalid {
        .ng-select-container .ng-placeholder {
          display: block;
        }
      }

      &.ng-select-filtered .ng-select-container .ng-placeholder {
        display: none !important;
      }

      .ng-clear-wrapper .ng-clear {
        color: map-get($color_map, form-gray);
      }

      .ng-arrow-wrapper {
        width: 1rem;

        .ng-arrow {
          height: 0.5rem !important;
          width: 0.5rem !important;
          border-color: map-get($color_map, form-gray);
          border-style: solid;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -0.15rem;
        }
      }
    }
  }

  &.style-nivel {
    flex-wrap: wrap;
    padding: 1.5rem;
    .style-nivel-div {
      width: 50%;
      margin-bottom: 1rem;
      span {
        font-size: 1.125rem;
        color: $blue;
      }
      @media (max-width: 768px) {
        span {
          font-size: 0.9rem;
        }
      }
    }
    .ng-select {
      .ng-dropdown-panel {
        z-index: 3;
        .scroll-host {
          left: -0.75rem;
          top: 0.35rem;
          background: #fff;
          border: solid map-get($color_map, form-gray);
          border-width: 0 1px 1px;

          .scrollable-content {
            padding: 0 1rem;
          }
        }
      }

      &.ng-select-opened .ng-select-container {
        z-index: 3;
      }

      .ng-select-container {
        .ng-placeholder {
          color: #6c757d;
        }

        &.ng-has-value .ng-placeholder {
          display: none;
        }
      }

      &.ng-untouched {
        &.ng-invalid .ng-select-container .ng-placeholder,
        &.image-status .ng-select-container .ng-placeholder {
          display: block;
        }
        &.ng-valid:not(.image-status) .ng-select-container .ng-placeholder {
          display: none;
        }
      }

      &.ng-touched.ng-pristine,
      &.ng-touched.ng-invalid {
        .ng-select-container .ng-placeholder {
          display: block;
        }
      }

      &.ng-select-filtered .ng-select-container .ng-placeholder {
        display: none !important;
      }

      .ng-clear-wrapper .ng-clear {
        color: map-get($color_map, form-gray);
      }

      .ng-arrow-wrapper {
        width: 1rem;

        .ng-arrow {
          height: 0.5rem !important;
          width: 0.5rem !important;
          border-color: map-get($color_map, form-gray);
          border-style: solid;
          border-width: 0 2px 2px 0;
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
          top: -0.15rem;
        }
      }
    }
  }

  &.style-material {
    padding: 1.5rem;
    h6 {
      display: inline;
      margin-right: 1rem;
    }
    span {
      font-size: 1.125rem;
      color: $blue;
      word-wrap: break-word;
    }
    @media (max-width:768px){
      span {
        font-size: 0.9rem;
      }
    }
  }

  hr {
    height: 3px;
    background-color: $blue;
    margin-top: 2rem;
  }

  label {
    display: flex;
  }

  /*estilos del select*/
  .select-estatus {
    width: 55% !important;
  }
  .form-control.in-checklist-view {
    color: $blue;

    &[readonly] {
      cursor: default;
      background-color: #fff;
      position: absolute;
      top: 2px;
      left: 2px;
      border: none;
      width: 80%;
      padding-bottom: 0 !important;
      height: auto;
    }

    &[type="date"]:focus + .form-control[readonly] {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }

    &.ng-touched {
      &.ng-invalid,
      &.date-not-valid {
        border: 2px solid $red;
      }

      &.ng-valid:not(.date-not-valid):not(.image-description):not(.image-status) {
        border: 2px solid $green;
      }

      & ~ .error-message,
      &.ng-invalid.date-not-valid ~ .date-error-message {
        display: block;
      }

      &:not(.date-not-valid) ~ .date-error-message {
        display: none;
      }
    }

    &.ng-untouched {
      & ~ .error-message,
      & ~ .date-error-message {
        display: none;
      }
    }
  }

  @media (max-width: 768px) {
    &.style-principal-div {
      width: 100% !important;
    }
    &.style-nivel-div {
      width: 100% !important;
    }
    .select-estatus {
      width: 100% !important;
    }
    .style-material {
      h6 {
        display: flex;
      }
    }
  }

  .nb-theme-default nb-checkbox.status-basic .native-input:enabled:focus + .custom-checkbox.checked {
    background-color: #00809a;
    border-color: #00809a;
}
}
