<nb-card>
  <nb-card-body
    class="header-title-and-button-container"
    [class.comes-from-steps]="isFromSteps"
    [class.has-yearbook]="header && header.download"
  >
    <div
      [class.col-sm-6]="header && header.title && header.download"
      class="title-style"
    >
      <h1>{{ header?.title }}</h1>
    </div>

    <button
      *ngIf="header && !header.download"
      (click)="goToSteps()"
      class="btn btn-primary text-decoration-none py-1 px-4 btn-go-steps"
    >
      Ir a los pasos
    </button>

    <div class="print-index-check" *ngIf="header && header.indexOption">
      <input
        (click)="setIndexOption($event)"
        type="checkbox"
        id="print-index-check__input"
        [checked]="header.indexOption.value"
      />
      <label for="print-index-check__input">
        <span
          *ngIf="pdfIndexOptionLoading"
          class="spinner-grow spinner-grow-sm"
        ></span>
        <span *ngIf="!pdfIndexOptionLoading">Añadir indice al pdf</span>
      </label>
    </div>

    <button
      *ngIf="header && header.download"
      class="btn btn-primary text-decoration-none p-1 btn-in-wrapper btn-download-yearbook"
      (click)="routeToPdfTemplate()"
      [disabled]="pdfBtnDisabled"
    >
      {{ header?.download?.name ? header.download.name : '' }}
    </button>

    <!-- <button
      *ngIf="header && header.download"
      [title]="
        disablePdfDownload()
          ? 'Cargando informacion del AmbLeMario'
          : 'Descargar AmbLeMario'
      "
      class="btn btn-primary text-decoration-none p-1 btn-in-wrapper btn-download-yearbook"
      (click)="generatePDF()"
      [disabled]="disablePdfDownload() || creatingPdf"
    >
      <span *ngIf="creatingPdf" class="spinner-grow spinner-grow-sm"></span>
      {{ creatingPdf ? 'Preparando descarga' : 'Descargar PDf viejo' }}
    </button> -->
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body>
    <ng-template #blocksContainer></ng-template>
  </nb-card-body>
</nb-card>
