@import 'scss/variables';
@import 'scss/responsive';
@import 'scss/elements/headings';

web-bg-heading {
  display: block;
  margin: auto;
}

.bg-heading {
  position: relative;
  width: 100%;
  margin: auto;

  h2 {
    color: $white;
    font-size: 8vw;
    line-height: 1.3;
    margin: 0 12.5%;
    position: absolute;
    text-align: left;
    width: 80%;
    z-index: 10;

    @include breakpoint(small, landscape) {
      font-size: 4vw;
    }

    @include breakpoint(medium) {
      font-size: 4vw;
    }
  }
  .line {
    position: relative;

    &.blue {
      background-color: $blue;
      height: 12vw;
      right: 4vw;

      @include breakpoint(small, landscape) {
        height: 6vw;
        right: 2vw;
      }

      @include breakpoint(medium) {
        height: 6vw;
        right: 2vw;
      }
    }

    &.green {
      background-color: $green;
      height: 10vw;
      left: 4vw;
      top: -1vw;

      @include breakpoint(small, landscape) {
        height: 5vw;
        left: 2vw;
        top: -.5vw;
      }

      @include breakpoint(medium) {
        height: 5vw;
        left: 2vw;
        top: -.5vw;
      }
    }
  }

}
