<div [id]="'steps-accordion'+mode" class="steps-accordion">
    <div class="card" *ngFor="let step of steps; index as i">
      <div class="card-header">
        <!-- <a class="card-link" data-toggle="collapse" [href]="step.goMods ? (!curriculumPending? ('#step'+i+'-'+mode) : '#') : ('#step'+i+'-'+mode)" 
        [class.not-enabled]="step.goMods ? (!curriculumPending? false : true) : false"> -->
        <a class="card-link" data-toggle="collapse" [href]="'#step'+i+'-'+mode">
          <div class="texts"><h6 class="font-weight-bold">{{ step.name }}</h6> <div class="bar mx-3"></div> <h6 class="desktop-only">Estatus: {{ getStatusName(step.status) }}</h6></div>
          <div class="arrow"><fa-icon [icon]="arrow"></fa-icon></div>
        </a>
      </div>
      <div [id]="'step'+i+'-'+mode" class="collapse" [class.show]="i==0" [attr.data-parent]="'#steps-accordion'+mode">
        <div class="card-body">
          <h6 class="mobile-only"><b>Estatus:</b> {{ getStatusName(step.status) }}</h6>
          
          <ng-container *ngIf="!step.isForm; else formOpt">
            <p *ngIf="step.text" class="first-p">{{ step.text }}</p>       
            
            <div *ngIf="step.hasVideo" class="video-container">
              <div class="video" [innerHTML]="getVideo(step.video.url)"></div>
              <p class="font-weight-bold">{{ step.video.name }}</p>
            </div>   
            
            <a *ngIf="step.hasFile" [href]="sanitizeFile(step.file.url)" target="_blank" [download]="step.file.name" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
            (click)="mode!=user_type? $event.preventDefault():null" [class.inactive]="mode!=user_type">
              Descargar archivo
            </a>
            <div *ngIf="step.hasUpload" class="d-inline" [id]="'upload-btn-'+i+'-'+mode" #uploadFile>
              <input class="hide-upload-btn" [id]="uploadFile.id+'0'" (change)="fileMngr($event,i)" type="file">
              <button [id]="uploadFile.id+'1'" (click)="clickUpload(uploadFile); $event.preventDefault()" class="btn btn-primary text-decoration-none py-2 px-4 mt-1" 
              [class.has-several]="step.hasFile" [disabled]="mode!=user_type">
                {{ step.uploadedFile && step.uploadedFile.name.length>0 ? shortenName(step.uploadedFile.name) : 'Adjuntar archivo' }}
              </button>
              <button *ngIf="!step.send && step.uploadedFile && step.uploadedFile.name.length>0 ? true:false" [id]="uploadFile.id+'2'" (click)="sendAttached(i); $event.preventDefault()" 
                class="btn btn-primary text-decoration-none py-2 px-4 mt-1 has-several" [disabled]="mode!=user_type">
                Enviar
              </button>
            </div>
            <button *ngIf="step.send" class="btn btn-primary text-decoration-none py-2 px-4 mt-1" 
            [class.has-several]="step.hasFile || step.hasUpload" [disabled]="mode!=user_type">
              Enviar curriculum
            </button>
            <button *ngIf="step.goMods" class="btn btn-primary text-decoration-none py-2 px-4 mt-1" [routerLink]="['/previous-steps/modules']" 
            [disabled]="mode!=user_type || curriculumPending" [title]="curriculumPending? 'Aún no has aprobado el paso de curriculo':''">
              Ir a los modulos
            </button>

            <form *ngIf="step.hasChecklist && step.checklist.length>0" class="checks-form">
              <div class="checkbox" *ngFor="let check of step.checklist; index as j">
                <label class="check-container">{{ check.name }}
                  <input type="checkbox" [checked]="check.checked? check.checked: (check.checked==false? check.checked:false)" (change)="checkChange($event,i,j)">
                  <span class="checkmark"></span>
                </label>
              </div>

              <button *ngIf="step.hasChecklist && step.checklist.length>0" (click)="saveChecks(i); $event.preventDefault()" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
                [disabled]="mode!=user_type">
                Guardar
              </button>
            </form>            
          </ng-container>
          <ng-template #formOpt>
            <div *ngIf="step.type==2" class="has-form">
              <app-steps-forms [who]="'coordinator'" [disable]="mode!=user_type"></app-steps-forms>
            </div>
            <div *ngIf="step.type==3" class="has-form">
              <app-steps-forms [who]="'sponsor'" [disable]="mode!=user_type"></app-steps-forms>
            </div>
            <div *ngIf="step.type==4" class="has-form">
              <app-steps-forms [who]="'school'" [disable]="mode!=user_type"></app-steps-forms>
            </div>      
          </ng-template>
        </div>
      </div>
    </div>
</div>
