<div [id]="'steps-accordion'+mode" class="steps-accordion">
    <div class="card" *ngFor="let step of steps; index as i">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" [href]="'#step'+i+'-'+mode">
          <h6 class="font-weight-bold">{{ step.name }}</h6> <div class="bar mx-3 d-inline"></div> <h6>Estatus: {{ step.status }}</h6>
        </a>
      </div>
      <div [id]="'step'+i+'-'+mode" class="collapse" [class.show]="i==0" [attr.data-parent]="'#steps-accordion'+mode">
        <div class="card-body">
          <ng-container *ngIf="!step.isForm; else formOpt">
            <p *ngIf="step.text">{{ step.text }}</p>          
            <div *ngIf="step.video" class="video" [innerHTML]="getVideo(step.video.url)"></div>
            <a *ngIf="step.file" [href]="step.file.url" target="_blank" [download]="step.file.name" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
              Descargar archivo
            </a>
            <div *ngIf="step.upload" class="d-inline" [id]="'upload-btn-'+i+'-'+mode" #uploadFile>
              <input class="hide-upload-btn" [id]="uploadFile.id+'0'" (change)="imageMngr($event)" type="file">
              <button [id]="uploadFile.id+'1'" (click)="clickUpload(uploadFile); $event.preventDefault()" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
                Adjuntar archivo
              </button>
            </div>
            <button *ngIf="step.send" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
              Enviar curriculum
            </button>
            <button *ngIf="step.goMods" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1" [routerLink]="['/previous-steps/modules']">
              Ir a los modulos
            </button>

            <form *ngIf="step.checks && step.checks.length>0">
              <div class="checkbox" *ngFor="let check of step.checks; index as i">
                <label><input type="checkbox">{{ check.text }}</label>
              </div>

              <button *ngIf="step.save" (click)="$event.preventDefault()" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
                Guardar
              </button>
            </form>            
          </ng-container>
          <ng-template #formOpt>
            <div *ngIf="step.type==1">
              <form>
                <h6>Titulo</h6>
                <div class="form-group">
                  <!-- <label for="email">Email address:</label> -->
                  <input type="text" class="form-control" placeholder="Nombre de la escuela">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Codigo del plantel">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Direccion">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Estado">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Municipio">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Calles / Carrera">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Ciudad">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Numero de telefono">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Tipo de escuela</option>
                    <option>Opcion 1</option>
                    <option>Opcion 2</option>
                  </select>
                </div>
                <h6>Titulo</h6>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre de director o directora">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Apellido del director">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Correo del director">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Numero de telefono del director">
                </div>
                <h6>Titulo</h6>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre de subdirector o subdirectora">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Apellido del subdirector">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Correo del subdirector">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Numero de telefono del subdirector">
                </div>
                <h6>Titulo</h6>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cantidad de docentes">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cantidad personal administrativo">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cantidad personal obrero">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cantidad de estudiantes">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cantidad de grados">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Cantidad de secciones">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Turno de clases</option>
                    <option>Opcion 1</option>
                    <option>Opcion 2</option>
                  </select>
                </div>
                <button type="submit" (click)="$event.preventDefault()" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
                  Enviar solicitud
                </button>
              </form>
            </div>
            <div *ngIf="step.type==2">

            </div>
            <div *ngIf="step.type==3">

            </div>
            <div *ngIf="step.type==4">

            </div>
            <div *ngIf="step.type==5">
              <form>
                <div class="form-group">
                  <!-- <label for="email">Email address:</label> -->
                  <input type="text" class="form-control" placeholder="Nombre de la empresa">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="RIF de la empresa">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Estado">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Municipio">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Calles / Carrera">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Ciudad">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Numero de telefono">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Tipo de empresa">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Nombre de la persona de contacto">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Apellido de la persona de contacto">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Telefono de la persona de contacto">
                </div>
                <button type="submit" (click)="$event.preventDefault()" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
                  Enviar solicitud
                </button>
              </form>
            </div>
            <div *ngIf="step.type==6">
              <form>
                <div class="form-group">
                  <!-- <label for="email">Email address:</label> -->
                  <input type="text" class="form-control" placeholder="Nombre">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Apellido">
                </div>
                <div class="form-group">
                  <input type="date" class="form-control" placeholder="Fecha de nacimiento">
                </div>
                <div class="form-group">
                  <select class="form-control">
                    <option>Sexo</option>
                    <option>Masculino</option>
                    <option>Femenino</option>
                  </select>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Tipo de documento (V/E)">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Identificacion">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Telefono de habitacion">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Estado">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Municipio">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Calles / Carreras">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Ciudad de residencia">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Casa / Edificio">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Correo electronico">
                </div>
                <div class="form-group">
                  <input type="tel" class="form-control" placeholder="Numero de telefono">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Profesion">
                </div>
                <button type="submit" (click)="$event.preventDefault()" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">
                  Enviar solicitud
                </button>
              </form>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
</div>
