<div [id]="'steps-accordion'+mode" class="steps-accordion">
    <div class="card" *ngFor="let step of steps; index as i">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" [href]="'#step'+i+'-'+mode" [class.active-arrow]="getCollapsed(i,mode)">
          <div class="texts"><h6 class="font-weight-bold">{{ step.name }}</h6> <div class="bar mx-3"></div> <h6 class="desktop-only">Estatus: {{ getStatusName(step.status) }}</h6></div>
          <div class="arrow"><fa-icon [icon]="arrow"></fa-icon></div>
        </a>
      </div>
      <div [id]="'step'+i+'-'+mode" class="collapse" [class.show]="getCollapsed(i,mode)" [attr.data-parent]="'#steps-accordion'+mode">
        <div class="card-body">
          <h6 class="mobile-only"><b>Estatus:</b> {{ getStatusName(step.status) }}</h6>

          <p *ngIf="step.hasText" class="first-p">{{ step.text }}</p> 
          
          <ng-container *ngIf="!step.isForm; else formOpt">        
            <div *ngIf="step.hasDate" class="form-group">
              <label for="datefill"> Fecha: </label>
              <input type="date" name="datefill" [class.not-enabled]="!isAdmin() && (compareMode() || step.status=='3')" 
              class="form-control" placeholder="Introduzca una fecha" [value]="getDateFrmt(step)" (change)="controlDate($event,step)" 
              [disabled]="!isAdmin() && (compareMode() || step.status=='3')">
              <div class="field-alerts">
                <div class="field-invalid">¡Debe tener una fecha valida, mayor a la de hoy!</div>
              </div>
            </div>   
            <div *ngIf="step.hasVideo" class="video-container">
              <div class="video" [innerHTML]="getVideo(step.video.url)"></div>              
            </div>   
            
            <!-- todo: APPROVE OR REJECT BUTTON FOR ADMIN ------------------------------------------------>
            <button *ngIf="isAdmin() && step.approvalType=='1' && step.status=='1'" class="btn btn-primary text-decoration-none py-2 px-4"
            [disabled]="step.sending || isNotConfirmable(step)" (click)="approvalMethod(step,i,mode)">
            <span *ngIf="step.sending" class="spinner-grow spinner-grow-sm"></span>{{ !step.sending? 'Aprobar' : 'Aprobando..' }}
            </button>
            <!-- todo:................................................................................. -->

            <a *ngIf="step.hasFile" [href]="sanitizeFile(step.file.url)" target="_blank" [download]="step.file.name" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
            (click)="!isAdmin() && (compareMode() || step.status=='3')? $event.preventDefault():null" [class.inactive]="!isAdmin() && (compareMode() || step.status=='3')"
            [class.has-several]="isAdmin() && step.approvalType=='1'">
              Descargar archivo
            </a>
            <div *ngIf="step.hasUpload" class="d-inline" [id]="'upload-btn-'+i+'-'+mode" #uploadFile>
              <input class="hide-upload-btn" [id]="uploadFile.id+'0'" (change)="fileMngr($event,i)" type="file" 
              accept="application/pdf,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/vnd.ms-excel,application/vnd.ms-powerpoint">
              <button [id]="uploadFile.id+'1'" (click)="clickUpload(uploadFile); $event.preventDefault()" class="btn btn-primary text-decoration-none py-2 px-4 mt-1 attachfile" 
              [class.has-several]="(isAdmin() && step.approvalType=='1') || step.hasFile" [disabled]="(compareMode() && !isAdmin() ) || step.sending || step.status=='3'" [class.hidebtn]="step.status=='2'">
                {{ step.uploadedFile && step.uploadedFile.name.length>0 ? shortenName(step.uploadedFile.name) : 'Adjuntar archivo' }}
              </button>
              <button [id]="uploadFile.id+'2'" (click)="approvalMethod(step,i,mode); $event.preventDefault()" class="btn btn-primary text-decoration-none py-2 px-4 mt-1 has-several" 
              [class.hidebtn]="step.send || (step.status=='1' && !step.uploadedFile) || step.status=='3' || showSeveralsButton(step)"
              [disabled]="(compareMode() && !isAdmin() ) || (!step.uploadedFile && step.status=='1') || step.sending">
                <span *ngIf="step.sending" class="spinner-grow spinner-grow-sm"></span>{{ !step.sending? (step.status=="1"? 'Enviar':'Cancelar solicitud') : (step.status=="1"? 'Enviando..':'Cancelando..') }}
              </button>
            </div>
            <button *ngIf="step.send && step.status!='3' && !showSeveralsButton(step)" class="btn btn-primary text-decoration-none py-2 px-4 mt-1" 
            [class.has-several]="step.hasFile || step.hasUpload" [disabled]="(compareMode() && !isAdmin() ) || (!step.uploadedFile && step.status=='1') || step.sending"
            (click)="approvalMethod(step,i,mode)">
              <span *ngIf="step.sending" class="spinner-grow spinner-grow-sm"></span>{{ !step.sending? (step.status=="1"? 'Enviar curriculum':'Cancelar solicitud') : (step.status=="1"? 'Enviando..':'Cancelando..') }}
            </button>

            <!-- ? GO LEARNING MODULES BUTTON -->
            <button *ngIf="step.goMods" class="btn btn-primary text-decoration-none py-2 px-4 mt-1" [routerLink]="['/previous-steps/modules']" 
            [disabled]="!isAdmin() && (compareMode() || curriculumPending)" [title]="isAdmin()? '' : (compareMode()?'':(curriculumPending? 'Aún no has aprobado el paso de curriculo':'') )">
              Ir a los modulos
            </button>

            <form *ngIf="step.hasChecklist && step.checklist.length>0" class="checks-form" (ngSubmit)="approvalMethod(step,i,mode)"
              [class.has-siblings]="step.hasVideo || step.hasUpload || step.hasFile || step.hasDate">
              <div class="checkbox" *ngFor="let check of step.checklist; index as j">
                <label class="check-container">{{ check.name }}
                  <input type="checkbox" [checked]="check.checked" (change)="checkChange($event,i,j)" 
                  [disabled]="(compareMode() && !isAdmin() ) || step.sending || step.status=='3'">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div class="checks-btn-container">
                <button *ngIf="step.hasChecklist && step.checklist.length>0 && !showSeveralsButton(step)" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
                  [disabled]="(compareMode() && !isAdmin() ) || step.sending || step.status=='3' || !enableChecksBtn(step)">
                  <span *ngIf="step.sending" class="spinner-grow spinner-grow-sm"></span>{{ !step.sending? 'Guardar':'Guardando..' }}
                </button>
              </div>              
            </form>   
            
            <div class="severals-btn mt-2">
              <button *ngIf="showSeveralsButton(step)" class="btn btn-primary text-decoration-none py-2 px-4" 
              [disabled]="(compareMode() && !isAdmin() ) || step.sending || step.status=='3' || disableSeveralsButton(step)"
              (click)="approvalMethod(step,i,mode)">
                <span *ngIf="step.sending" class="spinner-grow spinner-grow-sm"></span>{{ !step.sending? 'Guardar':'Guardando..' }}
              </button>
            </div>
          </ng-container>
          <ng-template #formOpt>
            <div *ngIf="step.type==2" class="has-form">
              <app-steps-forms [who]="'coordinator'" [project_id]="project_id" [status]="step.status" [disable]="(compareMode() && !isAdmin()) || step.status=='3'" 
              [has_sponsor]="has_sponsor" [setStates]="setStates" [setMuns]="setMuns" (emitMessage)="callToaster($event)" [index]="i" [mode]="mode" 
              [approvalHistory]="step.approvalHistory"></app-steps-forms>
            </div>
            <div *ngIf="step.type==3" class="has-form">
              <app-steps-forms [who]="'sponsor'" [project_id]="project_id" [status]="step.status" [disable]="(compareMode() && !isAdmin()) || step.status=='3'" 
              [has_sponsor]="has_sponsor" [setStates]="setStates" [setMuns]="setMuns" (emitMessage)="callToaster($event)" [index]="i" [mode]="mode"
              [approvalHistory]="step.approvalHistory"></app-steps-forms>
            </div>
            <div *ngIf="step.type==4" class="has-form">
              <app-steps-forms [who]="'school'" [project_id]="project_id" [status]="step.status" [disable]="(compareMode() && !isAdmin()) || step.status=='3'" 
              [has_sponsor]="has_sponsor" [setStates]="setStates" [setMuns]="setMuns" (emitMessage)="callToaster($event)" [index]="i" [mode]="mode"
              [approvalHistory]="step.approvalHistory"></app-steps-forms>
            </div>      
          </ng-template>

          <!-- FAIL TOAST -->
          <div [id]="'toast'+i+'-'+mode" class="toast">
            <div class="toast-body">
              <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
              <p class="mb-0">Hubo un problema al conectar con el servidor, por favor intente más tarde.</p>              
            </div>
          </div>
        </div>
      </div>
    </div>
</div>