@import './responsive';

$color_map: (
    blue: #00809a,
    soft-green-old: #9ad644,
    soft-green: #81b03e,
    progress-green: #38d485,
    dark-green: #00722e,
    gray: #ebeff5,
    tab-gray: #cccccc,
    dark-gray: #909090,
    darkie-gray: #827f7f,
    darkest-gray: #626262,
    red: #f53030,
);

// z-index
$z-index-higher: 4;

%padding-conts {
    padding: 1.5rem 1rem 1rem;
  
    @media screen and (min-width: 480px) and (orientation: portrait) { padding: 2rem; }  
    @include mediabreak(medium,landscape,true,800px) { padding: 2rem; }
    @include mediabreak(larger,landscape,true,1600px) { padding: 2.5rem 3rem; }
  }
  
  // Generals
  %h1 {
    font-size: x-large !important;  
    @include mediabreak(small,portrait) { font-size: xx-large !important; }
    @include mediabreak(larger,landscape,true,1600px) { font-size: 1.65rem !important; }
    @include mediabreak(larger,landscape,true,1900px) { font-size: xx-large !important; }
  }
  %h34 {
    font-size: large !important;
    @include mediabreak(small,portrait) { font-size: x-large !important; }
    @include mediabreak(large,portrait) { font-size: xx-large !important; }
    @include mediabreak(large,landscape) { font-size: 1.25rem !important; }
    @include mediabreak(larger,landscape,true,1600px) { font-size: 1.5rem !important; }
    @include mediabreak(larger,landscape,true,1900px) { font-size: 1.75rem !important; }
  }
  %p {  
    @include mediabreak(small,portrait) { font-size: larger !important; }
    @include mediabreak(large,portrait) { font-size: 1.35rem !important; }
    @include mediabreak(large,landscape) { font-size: 0.9rem !important; }
    @include mediabreak(larger,landscape,true,1600px) { font-size: medium !important; }
    @include mediabreak(larger,landscape,true,1900px) { font-size: large !important; }
  }
  @mixin button-pad {
    @include mediabreak(large,landscape) {
      padding: 0.45rem 0.5rem !important;
      width: 10rem !important;
    }
    @include mediabreak(larger,landscape,true,1600px) { 
      min-width: 11rem !important; 
      width: auto !important;
      padding: 0.45rem 0.85rem !important;
    }
    @include mediabreak(larger,landscape,true,1900px) { min-width: 12rem !important; }
  }