@use "sass:map";

$breakpoints: (
    "small": 320px,
    "medium": 768px,
    "large": 1024px
);

$directions: (
    "down": max,
    "up": min
);

$orientations: (
    "landscape": landscape,
    "portrait": portrait
);

@mixin breakpoint($size, $orientation: "", $direction: "up") {
    $media-query: "only screen ";
    $breakpoint: "";
    @if map-has-key($breakpoints, $size) {
        $breakpoint: map-get($breakpoints, $size);
    }

    @if map-has-key($directions, $direction) {
        $media-query: "#{$media-query} and (#{map-get($directions, $direction)}-width: #{$breakpoint}) ";
    }

    @if map-has-key($orientations, $orientation) {
        $media-query: "#{$media-query} and (orientation: #{$orientation})";
    }

    @media #{$media-query} {
        @content;
    }
}

@mixin columns($number) {
  width: calc( (100% / 12) * #{$number});
}
