<section
  class="cover"
  [ngClass]="{
    'blog-archive': isBlogArchive,
    'blog-post': !isBlogArchive
  }"
>
  <web-cover [slides]="coverData.slides"></web-cover>
  <h1 *ngIf="isBlogArchive">Bienvenidos</h1>
  <p *ngIf="isBlogArchive">
    Lorem ipsum dolor sit amet consectetur adipiscing elit, nascetur vivamus
    congue dictum risus molestie urna, suspendisse ac sapien magna habitasse
    natoque. Eget mauris placerat erat nec curae non litora lobortis, mus sem
    primis accumsan velit cras praesent blandit nunc, justo neque euismod mollis
    lacus orci scelerisque.
  </p>
</section>
<router-outlet></router-outlet>
