@import "scss/responsive";
@import "scss/variables";

::ng-deep {
  .image-extended {
    margin-left: -110vw !important;
    @include breakpoint(small, landscape) {
      margin-left: 0 !important;
    }

    @include breakpoint(medium) {
      margin-left: 0 !important;
    }
  }

  .blog-post {
    .image-extended {
      margin-top: -40vw !important;
      @include breakpoint(small, landscape) {
        margin-top: 0 !important;
      }

      @include breakpoint(medium) {
        margin-top: 0 !important;
      }
    }
  }
}

section.cover {
  position: relative;
  color: $white;
  transition: 1s ease max-height;

  &.blog-post {
    max-height: 60vw;
    overflow: hidden;
    transition: 1s ease max-height;

    @include breakpoint(small, landscape) {
      max-height: 18vw;
    }

    @include breakpoint(medium) {
      max-height: 18vw;
    }
  }

  h1,
  p {
    position: absolute;
    left: 12vw;
  }

  h1 {
    font-size: 8vw;
    font-weight: bold;
    top: 24vw;
    width: 80%;

    @include breakpoint(small, landscape) {
      font-size: 4vw;
    }

    @include breakpoint(medium) {
      font-size: 4vw;
    }
  }

  p {
    top: 35vw;
    font-size: 4.5vw;
    width: 80%;

    @include breakpoint(small, landscape) {
      font-size: 1.8vw;
      top: 30vw;
      width: 60%;
    }

    @include breakpoint(medium) {
      font-size: 1.8vw;
      top: 30vw;
      width: 60%;
    }

    @include breakpoint(large) {
      font-size: 1.2vw;
      width: 40%;
    }
  }
}
