<section
  class="cover"
  [ngClass]="{
    'blog-archive': isBlogArchive,
    'blog-post': !isBlogArchive
  }"
>
  <web-cover [slides]="coverData.slides"></web-cover>
  <h1 *ngIf="isBlogArchive">Bienvenidos</h1>
  <p *ngIf="isBlogArchive">
    En AmbLeMa valoramos las nuevas ideas en pro de una educación de calidad. En nuestro Blog también compartimos, nuestras experiencias, noticias, innovaciones, actividades y aprendizajes durante la aplicación de la Herramienta Socio-Educativa en todas las escuelas que apoyamos. Cada uno de nuestros actores principales -docentes, padrinos y coordinadores- tienen algo que aportar.
  </p>
</section>
<router-outlet></router-outlet>
