<footer>
  <div class="footer-links">
    <!--
    <web-button [ngClass]="lg">
        ¿Te gustaría que <strong>Amblema</strong> esté en tu escuela?
    </web-button>
    <web-button [ngClass]="lg">
        ¿Te gustaría que <strong>Amblema</strong> esté en tu escuela?
    </web-button>
    <web-button [ngClass]="lg">
        ¿Te gustaría que <strong>Amblema</strong> esté en tu escuela?
    </web-button>
    -->

    <button class="footer-btn lg">¿Te gustaría que <strong>Amblema</strong> esté en tu escuela?</button>
    <button class="footer-btn lg">¿Te gustaría ser <strong>Padrino</strong> de una escuela?</button>
    <button class="footer-btn lg">¿Te gustaría ser <strong>Coordinador</strong> de una escuela?</button>

  </div>
  <div class="footer-bg"></div>
</footer>
