.chart-graphics {
  position: relative;
  height: 40vh;

  &.fit-container {
    height: 100% !important;
  }

  @media screen and (orientation: landscape) {
    height: 60vh;
  }

  &.hide-chart {
    opacity: 0;
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    margin-left: -10%;

    @media screen and (orientation: landscape) {
      margin-left: -5%;
    }
  }
}
