::ng-deep {
  [class^="icon-"]:before,
  [class*=" icon-"]:before,
  input[type="date"]:after {
    font-family: "amblemaicons";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }

  .icon-one:before,
  .icon-two:before,
  .icon-three:before {
    font-family: Montserrat;
    font-weight: bold;
  }

  .icon-one:before {
    content: "1";
  }
  .icon-two:before {
    content: "2";
  }
  .icon-three:before {
    content: "3";
  }

  .icon-medal:before {
    content: "\e900";
  }
  .icon-amblemonedas:before {
    content: "\e901";
  }
  .icon-anuario:before {
    content: "\e902";
  }
  .icon-convencion:before {
    content: "\e903";
  }
  .icon-diagnostico:before {
    content: "\e904";
  }
  .icon-icn-docentes:before {
    content: "\e905";
  }
  .icon-planificacion:before {
    content: "\e906";
  }
  .icon-taller-inicial:before {
    content: "\e907";
  }
  .icon-venezuela:before {
    content: "\e908";
  }
  .icon-actividades:before {
    content: "\e909";
  }
  .icon-trash-empty:before {
    content: "\f014";
  }
  .icon-camera:before {
    content: "\f030";
  }
  .icon-pencil:before {
    content: "\f040";
  }
  .icon-eye:before {
    content: "\f06e";
  }
  .icon-calendar:before {
    content: "\f073";
  }
  .icon-folder-open:before {
    content: "\f07c";
  }
  .icon-bars:before {
    content: "\f0c9";
  }
  .icon-list-numbered:before {
    content: "\f0cb";
  }
  .icon-trash:before {
    content: "\f1f8";
  }
  .icon-book:before {
    content: "\f02d";
  }
  .icon-image:before {
    content: "\f03e";
  }
  .icon-photo:before {
    content: "\f03e";
  }
  .icon-picture-o:before {
    content: "\f03e";
  }
  .icon-leaf:before {
    content: "\f06c";
  }
  .icon-bar-chart:before {
    content: "\f080";
  }
  .icon-bar-chart-o:before {
    content: "\f080";
  }
  .icon-group:before {
    content: "\f0c0";
  }
  .icon-users:before {
    content: "\f0c0";
  }
}
