@import "~@nebular/theme/styles/theming";
@import "~@nebular/theme/styles/themes/default";
@import "~@nebular/theme/styles/prebuilt/default.css";
@import "~@nebular/theme/styles/globals";
@import "~@nebular/auth/styles/globals";
// @import "scss/variables";
@import "fonts/amblema-icons/amblemaicons";
@import 'scss/sharedheader';

::ng-deep {
  $nb-enable-css-custom-properties: true;

  $nb-themes: nb-register-theme(
    (
      header-background-color: $blue,
      footer-background-color: $blue,
      sidebar-background-color: $blue,
      text-basic-color: $green,
      // Menu theme variables
        menu-text-color: #ffffff,
      menu-item-icon-color: #ffffff,
      menu-item-hover-text-color: #01474e,
      menu-item-icon-hover-color: #01474e,
      menu-item-active-text-color: #00353a,
      menu-item-icon-active-color: #00353a,
      menu-item-divider-width: 2px,
      menu-item-divider-color: #367a92,
      // General theme variables
        color-primary-100: #f2f6ff,
      color-primary-200: #d9e4ff,
      color-primary-300: #a6c1ff,
      color-primary-400: #598bff,
      color-primary-500: #3366ff,
      color-primary-600: #274bdb,
      color-primary-700: #1a34b8,
      color-primary-800: #102694,
      color-primary-900: #091c7a,
    ),
    default,
    default
  );

  @include nb-install() {
    @include nb-theme-global();
    @include nb-auth-global();
  }

  body {
    font-family: "Montserrat";
    color: nb-theme(text-basic-color);
  }

  @media (max-width: 1199px) {
    .nb-theme-default
      nb-layout
      .layout
      .layout-container
      .content
      .columns
      nb-layout-column {
      padding: 2.25rem 2.25rem 0.75rem 5rem;
    }
  }
  @media (max-width: 575px) {
    .nb-theme-default
      nb-layout
      .layout
      .layout-container
      .content
      .columns
      nb-layout-column {
      padding: 2.25rem 2.25rem 0.75rem;
    }
  }

  table {
    margin-top: 15px;
    margin-bottom: 20px;
  }
  //COLOROES DEL MENU
  .nb-theme-default nb-menu .menu-item > .menu-items > .menu-item a:hover {
    color: #01474e;
  }
  .nb-theme-default nb-menu .menu-item a:hover {
    color: #01474e;
  }
  .nb-theme-default nb-menu .menu-item a:hover .menu-icon {
    color: #01474e !important;
  }
  .nb-theme-default nb-menu .menu-item > .menu-items > .menu-item a:focus {
    color: #00353a;
  }
  .nb-theme-default nb-menu .menu-item a:focus {
    color: #00353a;
  }
  .nb-theme-default nb-menu .menu-item a:focus .menu-icon {
    color: #00353a !important;
  }

  .nb-theme-default {
    nb-sidebar {
      width: 12rem;
      .main-container {
        width: inherit;
      }
    }

    nb-menu {
      .menu-item {
        .menu-icon {
          width: auto;
        }
        a {
          padding: 0.5rem 0.5rem;
          .menu-title {
            flex: 1 1 50% !important;
            font-weight: normal;
            line-height: 1.2;
            max-width: 100%;
            font-family: "Montserrat";
          }
        }
        // Submenu items
        & > .menu-items {
          padding: 0 0.5rem;

          & > .menu-item {
            a {
              padding: 0.5rem 0.5rem;
            }
          }
        }
      }
    }
    .e-toolbar .e-tbar-btn .e-tbar-btn-text,
    .e-control {
      font-family: "Montserrat" !important;
    }
    nb-layout-header nav a:focus,
    nb-layout-header nav a:active,
    nb-layout-header nav a:hover {
      color: #00353a;
    }
    h6,
    h5,
    nb-card,
    nb-tabset nb-tab,
    p,
    nb-checkbox .text,
    a,
    nb-user .user-name {
      font-family: "Montserrat" !important;
    }
    @media (max-width: 768px) {
      h6{
        font-size: 1rem;
      }
    }
    h1 {
      font-size: 1.6rem;
      font-family: "Montserrat" !important;
      margin: 0;
    }
    @media (min-width:768px) and (max-width:1200px) {
      h1 {
        font-size: 1.125rem;
      }
    }
    @media (max-width: 768px) {
      h1 {
        font-size: 1rem;
        line-height: 1.5rem;
      }
    }
    nb-layout-column {
      nb-card {
        nb-card-body {
          padding: 1.25rem 2.5rem;
          overflow: visible;

          .welcome-text {
            color: $blue;
            font-family: "Montserrat" !important;
          }
          .welcome-image {
            @media screen and (orientation: landscape) and (min-width: 640px) { max-width: 84%; }
            @media screen and (orientation: landscape) and (min-width: 1024px) { max-width: 60%; }
            @media screen and (orientation: landscape) and (min-width: 1600px) { max-width: 56%; }
            @media screen and (orientation: landscape) and (min-width: 1900px) { max-width: 50%; }
            @media screen and (orientation: landscape) and (min-width: 2000px) { max-width: 50rem; }
          }

          &.header-title-and-button-container {
            .btn-go-steps, .btn-download-yearbook {
              @include layout-header-btn-confs();
            }
            .btn-go-steps {
              display: none;
            }

            &.comes-from-steps, &.has-yearbook {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .btn-go-steps {
                    display: inline-block;
                }

                @media screen and (orientation: portrait) {
                  flex-wrap: wrap;
                  align-items: baseline;

                  .title-style {
                    @media screen and (max-width: 374px) {
                      margin-bottom: 1rem;
                    }
                  }
                }
            }
          }
        }
        @media (max-width: 768px) {
          nb-card-body {
            padding: 1.25rem 1rem;
          }
        }

        &:nth-child(2) nb-card-body {
          padding: 1.25rem 0;
        }
      }
    }

    // nb-user.size-giant .user-name {
    //   font-size: 1.5rem;
    //   line-height: 1.25rem;
    //   font-weight: bold;
    // }

    nb-layout-header {
      img {
        cursor: pointer;
        width: 25px;
        height: 25px;
        position: absolute;
        left: 0px;
        top: -10px;
      }

      .header-main-name {
        margin-left: 1rem;

        @media screen and (orientation: landscape){
          margin-left: 0.5rem;
        }
        @include mediabreak(small,landscape,true,640px) {
          margin-left: 0;
        }

        .h1-amblema {
          @include shared-main-name();
        }
      }
    }

    nb-sidebar {
      &.is-hidden {
        display: none;
      }

      &.compacted nb-menu .menu-item a.active::before {
        background: transparent;
      }
    }

    /*DROPDOWN PRUEBA*/
    .dropdown {
      .dropdown-menu {
          @include shared-dropdown-menu();
          &.show {
            top: 0.75rem !important;
            right: 0px;
            @media screen and (orientation: landscape) and (min-width: 640px) { top: 0.85rem !important; }
            @media screen and (orientation: landscape) and (min-width: 1280px) { top: 0.6rem !important; }
          }
      }
    }

    // .nb-theme-default nb-user.size-giant .user-name {
    //   font-size: 1.5rem;
    //   line-height: 1.25rem;
    //   font-weight: bold;
    // }

    nb-user .user-picture {
      border: none;
      @include shared-user-image-confs();
    }
    .header-avatar-user .avartar-container {
      display: flex;
      align-items: center;
      cursor: pointer;

      .user-name {
        @include shared-user-name-confs();

        ::ng-deep {
          span {
              display: block;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      .h1-amblema {
        margin-left: -50px;
      }
    }
    .style-btn-anuario {
      text-align: right;
      display: inline-block;
    }
    @media (max-width: 576px) {
      .style-btn-anuario {
        text-align: left;
      }
    }
    .title-style {
      display: inline-block;
    }

    ::-webkit-input-placeholder {
      font-size: 0.8rem;
      font-family: "Montserrat";
    }
    :-moz-placeholder {
      /* Firefox 18- */
      font-size: 0.8rem;
      font-family: "Montserrat";
    }
    ::-moz-placeholder {
      /* Firefox 19+ */
      font-size: 0.8rem;
      font-family: "Montserrat";
    }
    :-ms-input-placeholder {
      font-size: 0.8rem;
      font-family: "Montserrat";
    }
  }

  .ng-select {
    .ng-select-container {
      .ng-placeholder {
          font-size: 0.8rem;
          font-family: "Montserrat";
          line-height: 2;
      }
    }
  }
}


#no-peca-modal {
  background: rgba(0, 0, 0, 0.25);
  .modal-content {
      .modal-header {
          border-bottom: none;
          padding: 1rem 1rem;
          .close:focus { outline: none; }
      }
      .modal-body {
        color: $blue;
        text-align: justify;
        padding: 0 2rem 3rem 2rem;
      }
  }
}
