<nb-layout>
  <nb-layout-header fixed>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1" style="padding: 0;">
      <nb-icon
        icon="bars"
        style="color: white;font-size: 1.5rem;"
        (click)="toggle()"
      ></nb-icon>
    </div>   
    <div class="header-main-name mr-auto">
      <h1 class="h1-amblema"><b>AmbLeMa</b></h1>
    </div>
    <div class="dropdown header-avatar-user">
      <div class="avartar-container" data-toggle="dropdown">
        <nb-user
          size="giant"
          [name]="nameUser"
          [showName]="false"
          [picture]="
            imageUser ? imageUser : '../../../../assets/images/profile2.png'
          "
        ></nb-user>
        <h4 class="mb-0 user-name font-weight-bold" [innerHTML]="getUserOneOrTwoLines(nameUser)"></h4>
      </div>
      <div class="dropdown-menu dropdown-content">
        <a *ngIf="userType !== '0' && userType !== '1'" class="dropdown-item" [routerLink]="['perfil-usuario']">Perfil</a>
        <a class="dropdown-item" [routerLink]="['/auth/logout']">Salir</a>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <ng-container *ngIf="showWelcome">
      <nb-card>
        <nb-card-body class="d-flex flex-column align-items-center pt-5">
          <h4 class="welcome-text text-center">¡Bienvenido al PECA de AmbLeMa!</h4>
          <img class="img-fluid welcome-image" src="../../assets/images/logo_amblema.jpg" alt="AmbLeMa">
        </nb-card-body>
      </nb-card>
    </ng-container>
    <!-- <span *ngIf="loading">cargando</span>  -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>Diseñado y desarrollado por Binaural C.A</nb-layout-footer>
</nb-layout>

<!-- MODAL -->
<button #noPecaModalLauncher type="button" class="d-none" data-toggle="modal" data-target="#no-peca-modal" data-backdrop="false" data-keyboard="false"></button>
<div class="modal fade" id="no-peca-modal"><div class="modal-dialog modal-dialog-scrollable modal-dialog-centered"><div class="modal-content">
  <div class="modal-header"><button type="button" class="close d-none" data-dismiss="modal">&times;</button></div>
  <div class="modal-body">Esta escuela no está registrada en el período académico actual. Por favor contacta al administrador</div>
</div></div></div>