<nb-layout>
  <nb-layout-header fixed>
    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">
      <img src="../../assets/icons/menu.svg" alt="" (click)="toggle()">
    </div>
    <div class="col-8 col-sm-9 col-md-8 col-lg-8 col-xl-9">
      <h1 class="h1-amblema"><b>AmbLeMa</b></h1>
    </div>
    <div class="dropdown col-3 col-sm-2 col-md-3 col-lg-3 col-xl-2">
      <nb-user size="giant" name="Carlos Camacaro" [picture]="image_profile">
      </nb-user>
      <div class="dropdown-content">
        <a [routerLink]="['perfil-usuario']">Perfil</a>
        <a href="/auth/logout">Salir</a>
      </div>
    </div>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" responsive start>
    <nb-menu [items]="menu"></nb-menu>
  </nb-sidebar>

  <nb-layout-column>
    <!-- <span *ngIf="loading">cargando</span>  -->
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer>Diseñado y desarrollado por Binaural C.A</nb-layout-footer>
</nb-layout>