@import 'scss/placeholders';
@import 'scss/sharedheader';

// h4 {
//     @extend %h34;
// }
p {
    @extend %p;
}

.header-elearning {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: map-get($color_map, blue);
    box-shadow:0 2px 6px 2px rgba(0,0,0,0.15);
    z-index: $z-index-higher; 
    -webkit-transition: all .5s; transition: all .5s;
        
    @include mediabreak(small,portrait) { padding: 0.25rem 1rem 0.5rem; }
    @include mediabreak(medium,landscape,true,800px) { padding: 0 2rem; }
    // desktop
    @include mediabreak(large,landscape) { padding: 0 1rem 0 1.5rem; }
    @include mediabreak(larger,landscape,true,1600px) { padding: 0 1.5rem 0 2rem; }

    .no-under {
        margin-bottom: 0.15rem;
        @include mediabreak(medium,landscape,true,800px) { margin-bottom: 0.3rem; }
        @include mediabreak(large,landscape) { margin-bottom: 0.5rem; }
        @include mediabreak(larger,landscape,true,1680px) { margin-bottom: 1.2rem; }
    }
    .header-first-row {
        align-items: center;

        @include media-breakpoint-up(md) {
            @media screen and (min-width: 800px) and (orientation: landscape) {
                align-items: flex-end;
            }
        }
        @include mediabreak(medium,landscape,true,800px) { align-items: flex-end; }

        .main-name {
            color: map-get($color_map, soft-green);
            margin-inline-start: auto;
            cursor: default;
            
            @include shared-main-name();

            @include mediabreak(medium,landscape,true,800px) { padding-bottom: 1.35rem; }
            // desktop 
            @include mediabreak(large,landscape) { padding-bottom: 1.45rem; }
            @include mediabreak(larger,landscape) { 
                padding-bottom: 1.35rem !important;
            }
            @include mediabreak(larger,landscape,true,1600px) {
                padding-bottom: 1rem !important;
            }
        }
    
        .dropdown {
            .dropdown-menu {
                &.show {
                    border: none;
                    -webkit-box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.1);
                    box-shadow: 0px 1px 8px 2px rgba(0,0,0,0.1);
                    left: -0.25rem !important;
                }

                .dropdown-item {
                    color: $blue;

                    &:active {
                        background-color: transparent;
                        color: $blue;
                    }

                    &:hover {
                        color: $green;
                    }
                }
            }
        }
        .avatar-container {
            cursor: pointer;

            .rounded-circle {
                @include shared-user-image-confs();
            }
    
            .name {
                // word-spacing: 100vw;
                @include shared-user-name-confs();
                
                ::ng-deep {
                    span {
                        display: block;
                    }
                } 
            }
        }
    }       
    
    .user-info {
        color: #fff;
        margin-bottom: 0.5rem;
        text-align: center;

        @include mediabreak(small,portrait) { text-align: right; }
        @include mediabreak(small,landscape,true,640px) { 
            text-align: right;
            margin-bottom: 1rem;
        }

        .coins {
            img {
                height: 1.2rem;
                vertical-align: sub;
                @include mediabreak(small,portrait) { margin-bottom: 0.1rem; }
                @include mediabreak(larger,landscape,true,1900px) { margin-bottom: 0.1rem; }
            }
        }
    }
}