<div class="main-steps-view">
    <div class="description-info d-flex flex-column align-items-center mb-5">
        <h1 class="font-weight-bold mb-4">Pasos para formar parte de AmbLeMa</h1>
        <div class="below-desc-info">
            <p class="text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>
        <button type="button" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1" [routerLink]="['/previous-steps/modules']">Módulos</button>
    </div>    

    <div class="tabs-container">
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#general">Generales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#sponsor">Padrino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#coordinator">Coordinador</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#school">Escuela</a>
            </li>
        </ul>

        <div class="steps-progress-bar">
            <h6>Progreso de los pasos</h6>
            <div class="progress">
                <div class="progress-bar" style="width:50%;"></div>
            </div>
        </div>
        
        <!-- Tab panes -->
        <div class="tab-content">
            <div id="general" class="container tab-pane active"><br>
                <app-general-steps [mode]="1" [steps]="generalSteps"></app-general-steps>
            </div>
            <div id="sponsor" class="container tab-pane fade"><br>
                <app-general-steps [mode]="3" [steps]="sponsorSteps"></app-general-steps>
            </div>
            <div id="coordinator" class="container tab-pane fade"><br>
                <app-general-steps [mode]="2" [steps]="coordinatorSteps"></app-general-steps>
            </div>
            <div id="school" class="container tab-pane fade"><br>
                <app-general-steps [mode]="4" [steps]="schoolSteps"></app-general-steps>
            </div>
        </div>
    </div>
</div>