<!-- CAMBIAR LAS VARIABLEAS DEL FOR POR PRUEBA POR SETTINGS.SLIDERiMAGE -->
<div *ngIf="showSlider && sliderName" class="gallery d-flex flex-wrap slider-component">
  <div [class]="'carousel-1 images images'+sliderName+' carousel col-sm-2'"
    [class.d-none]="settings.sliderImage && settings.sliderImage.length<2">
    <owl-carousel #imgsElement [options]="myCarouselOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="image-item mb-3" *ngFor="let image of settings.sliderImage;index as i" (click)="goToImg(i)">
        <img class="slide-image" src="{{image.image}}">
      </div>
    </owl-carousel>
  </div>
  <div 
    class="carousel-2 carousel col-sm-7"
    [class.margin-both-auto]="settings.sliderImage && settings.sliderImage.length<2"
    [ngSwitch]="sliderName"
  >
    <ng-container *ngSwitchCase="'2'">
      <owl-carousel #owlElement2 [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <ng-container *ngTemplateOutlet="sliderImagesTemplate; context: { sliderimagearr: settings.sliderImage }"></ng-container>
      </owl-carousel>
    </ng-container>

    <ng-container *ngSwitchCase="'3'">
      <owl-carousel #owlElement3 [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <ng-container *ngTemplateOutlet="sliderImagesTemplate; context: { sliderimagearr: settings.sliderImage }"></ng-container>
      </owl-carousel>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <owl-carousel #owlElement1 [options]="mySlideOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <ng-container *ngTemplateOutlet="sliderImagesTemplate; context: { sliderimagearr: settings.sliderImage }"></ng-container>
      </owl-carousel>
    </ng-container>
  </div>

  <div class="carousel-text image-desc-container d-flex col-sm-3">
    <div [class.margin-both-auto]="settings.sliderImage && settings.sliderImage.length<2" class="mb-4 image-desc"
      *ngFor="let image of settings.sliderImage; index as i" [class.hidden]="i!=shown">
      <h6 class="mb-4 image-desc">{{image.text}}</h6>
      <span *ngIf="image.fields">
        <ng-datepicker
          #inputDate
          [options]="datePickerOptions"
          (ngModelChange)="glbls.validateDate($event,'greater', true, true)"
        >
        </ng-datepicker>
        <!--
        <input
          #inputDate
          type="date"
          data-format='{"day":"numeric","month":"numeric","year":"numeric"}'
          placeholder="dd/mm/yyyy"
          class="form-control sb-date-picker"
          (change)="glbls.validateDate($event,'greater')"
        />
        <input
          [class.d-none]="inputDate.value.length > 0"
          class="form-control"
          autocomplete='off'
          type="text"
          readonly
          (click)="focusDatePicker(inputDate)"
        />
        -->
      </span>
      <p class="mb-4 mt-4 image-desc">{{ image.description }}</p>
    </div>
  </div>

  <div class="secundario carousel col-sm-12 px-0">
    <owl-carousel [options]="OwlOptions"
      [class.margin-both-auto]="settings.sliderImage && settings.sliderImage.length<2"
      [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let image of settings.sliderImage;index as i">
        <h6 class="mb-4 image-desc h6-responsive">{{image.text}}</h6>
        <span *ngIf="image.fields">
          <ng-datepicker
            #inputDate
            [options]="datePickerOptions"
            (ngModelChange)="glbls.validateDate($event,'greater', true, true)"
          >
          </ng-datepicker>
          <!--
          <input #inputDate
            type="date"
            class="form-control sb-date-picker"
            (change)="glbls.validateDate($event,'greater')"
            />
            <input
            [class.d-none]="inputDate.value.length > 0"
            class="form-control"
            autocomplete='off'
            type="text"
            readonly
            (click)="focusDatePicker(inputDate)"
          />
          -->
        </span>
        <img class="slide-image" src="{{image.image}}">
        <div class="slide-text">
          <p class="mb-4 mt-4 image-desc">{{ image.description }}</p>
        </div>
      </div>
    </owl-carousel>
  </div>
</div>


<!-- Slider Images Template -->
<ng-template #sliderImagesTemplate let-sliderimagearr="sliderimagearr">
  <div class="item" *ngFor="let image of sliderimagearr; index as i">
    <img class="slide-image" src="{{image.image}}">
  </div>
</ng-template>