@import '../../../../web/pages/previous-steps/previous-steps.component.scss';
@import 'scss/placeholders';

%bold-blue {
	color: map-get($color_map, blue);
	line-height: 1.7rem;
}

@mixin gallery-height {
    height: 65vw;
    @include mediabreak(small,portrait) { height: 46.35vw; }
    @include mediabreak(small,landscape,true,640px) { height: 46vw; }
    @include mediabreak(large,landscape) { height: 41.5vw; }
    @include mediabreak(larger,landscape,true,1366px) { height: 35.5vw; }
}
.noesta{
	display: none;
}
.h6-responsive{
	display: inline-block;
	@media (max-width: 768px) {
		margin-left: 2rem;
	}
}
.carousel-1,
.carousel-2,
.carousel-text{
	display: initial;
}
.secundario{
	display: none;
	margin-top: 1.5rem;
}
@media (max-width:768px){
	.secundario{
		display: initial;
	}
	.carousel-1,
	.carousel-2{
		display: none !important;
	}
	.carousel-text{
		display: none !important;
	}
}

::ng-deep .owl-carousel {
	-webkit-transition: opacity .25s;
	transition: opacity .25s;

	.owl-nav button.owl-next {
		right: -77vw;
	}

	@media (min-width:576px) and (max-width:768px){
		.owl-item img {
			position: relative;
			display: block;
			width: 80% !important;
			left: 60px;
		}
	}
	@media (min-width:400px) and (max-width:575px){
		.owl-item img {
			position: relative;
			display: block;
			width: 80% !important;
			left: 45px;
			margin-top: 2rem;
		}
	}
	@media (max-width:399px){
		.owl-item img {
			position: relative;
			display: block;
			width: 80% !important;
			left: 35px;
			margin-top: 2rem;
		}
	}
	@media (min-width:400px) and (max-width:576px){
		.owl-nav button.owl-next {
			right: -80vw;
		}
	}
	@media (max-width:400px){
		.owl-nav button.owl-prev{
			top: -3rem;
		}
		.owl-nav button.owl-next{
			top: -3rem;
		}
		.owl-nav button.owl-next {
			right: -80vw;
		}
	}
}
.image-desc{
	color: $blue !important;
	@media (max-width: 768px) {
		margin-left: 2rem;
	}
	//font-size: 0.8rem;
}
.form-control {
	color: $blue;
    width: 85%;

	&.sb-date-picker {
		position: relative;
	}

	&[readonly] {
	cursor: default;
	background-color: #fff;
	position: absolute;
	top: 55px;
	left: 135px;
	border: none;
	width: 10%;
	padding-bottom: 0 !important;
	height: auto;
	visibility: hidden;
	}

	&[type="date"]:focus + .form-control[readonly] {
	display: none;
	}

	&:focus {
	box-shadow: none;
	}

	&.ng-touched {
	&.ng-invalid, &.date-not-valid {
		border: 2px solid $red;
	}

	&.ng-valid:not(.date-not-valid):not(.image-description):not(.image-status) {
		border: 2px solid $green;
	}
	
	& ~ .error-message, &.ng-invalid.date-not-valid ~ .date-error-message {
		display: block;
	}

	&:not(.date-not-valid) ~ .date-error-message {
		display: none;
	}          
	}

	&.ng-untouched {
	& ~ .error-message, & ~ .date-error-message {
		display: none;
	}
	}

	.input-responsive{
		display: inline-block;
	}

}

@media (min-width:576px) and (max-width:992px){
	.form-control{
		width: 40%;
		margin-left: 1rem;
		display: inline-block;
	}
}
@media (min-width:576px) and (max-width:768px){
	.form-control{
/* 		top: 3px !important;
		left: 316px !important; */
		display: inline-block;
	}
}
@media (max-width: 576px){
	.input-responsive{
		margin-bottom: 1rem;
	}
	.form-control{
		margin-left: 2rem;
	}
}

.gallery {
	@include mediabreak(small,landscape,true,640px) { margin-top: 2rem; }
	@include mediabreak(larger,landscape,true,1366px) { margin: 3rem; }

	.col-sm-7{
		@include mediabreak(larger,landscape,true,1600px) {
			flex: 0 0 55%;
			max-width: 55%   
		}  
		@media (min-width:576px) and (max-width: 992px){
			flex: 0 0 80%;
			max-width: 80%  
		}          
	}
	.col-sm-2 {
		@include mediabreak(larger,landscape,true,1600px) {
			flex: 0 0 15%;
			max-width: 15%   
		} 
		@media (min-width:576px) and (max-width: 992px){
			flex: 0 0 20%;
			max-width: 20%  
		}              
	}
	.col-sm-3 {
		@include mediabreak(larger,landscape,true,1600px) {
			flex: 0 0 30%;
			max-width: 30%   
		}   
		@media (min-width:576px) and (max-width: 992px){
			flex: 0 0 100%;
			max-width: 100%  
		}            
	}


	.carousel {           
		owl-carousel ::ng-deep .owl-carousel .owl-item {
			.owl-video-wrapper, img {  
				@include gallery-height;    
				object-fit: cover;          
				@include mediabreak(small,portrait) {
					width: 67vw;
				}
				@include mediabreak(small,landscape,true,640px) {
					width: 69.5vw;
				}
				@include mediabreak(medium,landscape,true,800px) {
					width: 67vw;
				}
				@include mediabreak(large,portrait) {
					width: 69.5vw;
				}
				@include mediabreak(large,landscape) {
					width: 100%;
				}
			}
		}                    
	}

	.images {
		@mixin images-redo { display: flex; flex-direction: column; justify-content: space-between; }
		@include mediabreak(small,landscape,true,640px) {
			@include images-redo;
		}
		@include mediabreak(large,portrait) {
			@include images-redo;
		}

		owl-carousel ::ng-deep .owl-carousel .owl-stage {
			@media screen and (orientation:landscape) and (min-width:640px) {
				@include gallery-height;    
			}
			
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			width: 100% !important;
			&::after {
				display: none;
			}
			
			.owl-item:first-child { display: none; }
			.owl-item { width: 100% !important; }

			.owl-video-wrapper{
				.owl-video-play-icon {
					background-size: 50%;
					background-position: center;
				}
				.owl-video-wrapper .owl-video-play-icon { display: none; }
			}
		}
		.image-item {
			display: flex; align-items: center;
			cursor: pointer;
			position: relative;
							
			@include mediabreak(small,landscape,true,640px) {
				margin-bottom: 0 !important;
			}
			@include mediabreak(large,portrait) {
				margin-bottom: 0 !important;
			}
			
			img, ::ng-deep .owl-video-wrapper, .over-video {
				min-width: 33vw;max-width: 33vw;
				min-height: 22vw;max-height: 22vw;
				object-fit: cover;

				@mixin img-redo { min-width: 22vw;max-width: 22vw; margin-right: 0 !important; margin-left: auto; }
				@include mediabreak(small,portrait) {
					@include img-redo;
					min-height: 14vw;max-height: 14vw;                        
				}
				@include mediabreak(small,landscape,true,640px) {
					@include img-redo;
					min-height: 13vw;max-height: 13vw;                        
				}
				@include mediabreak(large,landscape) {
					min-width: unset;
					max-width: unset;
					width: 87%;
					min-height: 12vw;
					max-height: 12vw;
				}
				@include mediabreak(larger,landscape,true,1366px) { min-height: 10vw; max-height: 10vw; }
				@include mediabreak(larger,landscape,true,1600px) { 
					min-height: 10.3vw;
					max-height: 10.3vw;
				}
			}
			p {                    
				color: map-get($color_map, blue);
				line-height: initial;

				small {
					font-size: 95%;
				}

				@include mediabreak(small,portrait) {
					display: none;
				}
				@include mediabreak(small,landscape,true,640px) {
					display: none;
				}
			}
		}            
	}
}    
/*.image-desc-container {
	@include mediabreak(large, landscape) { margin-bottom: 6rem; }
	text-align: justify;
	.image-desc {
		display: none;
		@extend %bold-blue;
		opacity: 1;
		-webkit-transition: opacity .75s;transition: opacity .75s;
		-webkit-transition-delay: .25s;transition-delay: .25s;

		@mixin image-desc-redo { display: inline-block; width: 73.25%; }
		@include mediabreak(small,portrait) {
			@include image-desc-redo;
			font-size: larger;
			margin-top: -1rem;
			margin-bottom: 3rem !important;
		}
		@include mediabreak(small,landscape,true,640px) {
			@include image-desc-redo;
		}
		@include mediabreak(large,portrait) {
			font-size: x-large;
			margin-top: 0;
		}
		@include mediabreak(large,landscape) { font-size: 1.25rem !important; width: 75.25%; }
		@include mediabreak(larger,landscape,true,1600px) { width: 100%; }
		@include mediabreak(larger,landscape,true,1900px) { font-size: 1.75rem !important; }

		&.hidden {
			height: 0; width: 0;
			overflow: hidden;
			margin: 0 !important;
			opacity: 0;
		}
	}  
}      */

.image-desc-container {
	@media (max-width:992px){
		margin-top: 3rem;
	}
	.image-desc {
		&.hidden {
			height: 0; width: 0;
			overflow: hidden;
			margin: 0 !important;
			opacity: 0;
		}
		@media (min-width:576px) and (max-width:992px){
			h6{
				display: inline-block;
			}
		}
	}
}

::ng-deep .slider-component {
	@media (max-width: 768px) {
		.owl-carousel .owl-nav {
			top: 15rem;
		}
	}
	@media (max-width: 576px) and (min-width: 400px) {
		.owl-carousel .owl-nav {
			top: 17rem;
		}
	}

	
}