<div class="gallery d-flex flex-wrap">
  <div class="images carousel col-sm-2" [class.d-none]="settings.sliderImage && settings.sliderImage.length<2">
    <owl-carousel #imgsElement 
    [options]="myCarouselOptions" 
    
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="image-item mb-3" *ngFor="let image of settings.sliderImage;index as i" (click)="goToImg(i)">
        <img class="slide-image" src="{{image.image}}">

      </div>
    </owl-carousel>
  </div>
  <div class="carousel col-sm-7" [class.margin-both-auto]="settings.sliderImage && settings.sliderImage.length<2">
    <owl-carousel #owlElement 
    [options]="mySlideOptions" 
    
    [carouselClasses]="['owl-theme', 'row', 'sliding']">
      <div class="item" *ngFor="let image of settings.sliderImage;index as i">
        <img class="slide-image" src="{{image.image}}">
      </div>
    </owl-carousel>
  </div>
  <div class="image-desc-container d-flex col-sm-3">
    <p [class.margin-both-auto]="settings.sliderImage && settings.sliderImage.length<2" class="mb-4 image-desc" *ngFor="let image of settings.sliderImage; index as i" [class.hidden]="i!=shown">{{ image.description }}</p>
  </div>
</div>
