<div class="person-card">
  <a class="person-link" *ngIf="person.pageUrl" [href]="person.pageUrl" target="_blank" rel="noopener noreferrer">
    <ng-container *ngTemplateOutlet="personTemplate; context: { person: person }"></ng-container>
  </a>
  <div *ngIf="!person.pageUrl">
    <ng-container *ngTemplateOutlet="personTemplate; context: { person: person }"></ng-container>
  </div>
</div>

<ng-template #personTemplate let-person="person">
  <div class="person-data">
    <div class="person-image">
      <img *ngIf="person.image" [src]="person.image" [alt]="person.name + ' image'" />
    </div>
    <div class="person-identity">
      <p *ngIf="person.name" class="person-name">{{ person.name }}</p>
      <p *ngIf="person.role" class="person-role">{{ person.role }}</p>
      <p class="person-something">Fundación Amblema</p>
    </div>
  </div>
  <div class="person-content">
    <p *ngIf="person.text" class="person-text">{{ person.text }}</p>
  </div>
</ng-template>
