<div class="testimonial-card">
  <div class="testimonial-data">
    <div class="testimonial-image">
      <img
        *ngIf="testimonial.image"
        [src]="testimonial.image"
        [alt]="(testimonial.firstName ? testimonial.firstName : '') + ' ' + (testimonial.lastName ? testimonial.lastName : '') + ' logo'"
        loading="lazy"
      />
    </div>
    <div class="testimonial-identity">
      <p *ngIf="testimonial.firstName || testimonial.lastName" class="testimonial-fullname">
        {{ (testimonial.firstName || '') + (testimonial.firstName && testimonial.lastName ? ' ' : '') + (testimonial.lastName || '') }}
      </p>
      <p *ngIf="testimonial.function || testimonial.position" class="testimonial-role">
        {{ testimonial.position ? testimonial.position : testimonial.function }}
      </p>
    </div>
  </div>
  <div class="testimonial-content">
    <p *ngIf="testimonial.description" class="testimonial-description">
      {{ testimonial.description }}
    </p>
  </div>
</div>
