@import "scss/responsive";
@import "scss/variables";
@import "scss/elements/headings";

$img-big: url("../../../../assets/images/error404/background-404-con-hoja.jpg");
$img-small: url("../../../../assets/images/error404/background-404.jpg");

.background {
  background-image: $img-small;
  min-height: 100%;
  min-width: 100%;
  background-size: 100% 100%;
  width: auto;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;

  //1024 px
  @include breakpoint(large) {
    background-image: $img-big;
  }
  //Ipad pro

  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) {
    background-image: $img-small;
  }

  @media only screen 
  and (device-width : 375px) 
  and (device-height : 812px) 
  and (-webkit-device-pixel-ratio : 3) { 
    background-image: $img-small;

  }

  //Telefonos en horizontal
  @include breakpoint(small, landscape) {
    background-image: $img-big;
  }
  //Tablets en horizontal
  @include breakpoint(medium, landscape) {
    background-image: $img-big;
  }
}

h1 {
  color: $white !important;
  font-size: 2.7em;

  //Telefonos en vertical
  @include breakpoint(small, portrait) {
    font-size: 4em;
  }
  //Telefonos en horizontal
  @include breakpoint(small, landscape) {
    font-size: 2em;
  }

  //Nexus 7
  @media (min-width: 590px) and (max-width: 620px) {
    font-size: 7em;
  }

  @include breakpoint(medium) {
    font-size: 8em;
  }

  //1024 px
  @include breakpoint(large) {
    font-size: 11em;
  }
}

h2 {
  color: $white !important ;
  font-size: 1em;
  padding-right: 20%;
  @include breakpoint(small, portrait) {
    padding-right: 42%;
    font-size: 1.5em;
  }

  @include breakpoint(small, landscape) {
    padding-right: 42%;
    font-size: 0.7em;
  }

  @media (min-width: 590px) and (max-width: 620px) {
    padding-right: 8%;
    font-size: 2.4em;
  }

  @include breakpoint(medium) {
    padding-right: 16%;
    font-size: 3em;
  }

  //1024 px
  @include breakpoint(large) {
    font-size: 3em;
    padding-right: 0%;
  }

  //Ipad pro portrait
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    padding-right: 20%;
    font-size: 4em;
  }
}
span {
  color: $white;
  font-size: 0.7em;
  line-height: 1;
  text-align: center;

  @include breakpoint(small, portrait) {
    padding-right: 20%;
  }

  @include breakpoint(small, landscape) {
    font-size: 0.6em;
  }

  @media (min-width: 590px) and (max-width: 620px) {
    font-size: 1.3em;
  }

  @include breakpoint(medium) {
    font-size: 1.4em;
    letter-spacing: 0.05em;
  }

  //1024 px
  @include breakpoint(large) {
    font-size: 1.6em;
    padding-right: 5%;
    letter-spacing: 0.05em;
  }

  //Ipad pro portrait
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    font-size: 1.85em;
    padding-right: 0%;
    letter-spacing: 0.05em;
  }
}

.button-style {
  margin-top: 1.4em;

  @include breakpoint(medium) {
    margin-top: 2em;
  }

  //1024 px
  @include breakpoint(large) {
    margin-top: 5.6em;
  }

  button {
    font-size: 0.8rem;
    display: inline-block;
    min-width: 50%;

    @include breakpoint(small, portrait) {
      min-width: 20%;
      width: 48%;
    }

    @include breakpoint(small, landscape) {
      min-width: 0%;
      width: 25%;
      font-size: 0.6rem;
    }

    @media (min-width: 590px) and (max-width: 620px) {
      font-size: 1rem;
    }

    @include breakpoint(medium) {
      min-width: 40%;
      width: 19%;
      font-size: 1.2rem;
    }

    //1024 px
    @include breakpoint(large) {
      min-width: 0%;
      width: 19%;
      font-size: 1.2rem;
    }

    //Ipad pro portrait
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      min-width: 0%;
      width: 45%;
      font-size: 1.7rem;
    }
  }
}
.adjust-margin {
  margin-top: 48%;
  margin-left: 6%;

  @include breakpoint(small, portrait) {
    margin-top: 50%;
    margin-left: 10%;
  }

  @include breakpoint(small, landscape) {
    margin-top: 20%;
    margin-left: 18%;
  }

  @media (min-width: 410px) and (max-width: 430px) {
    margin-top: 55%;
    margin-left: 10%;
  }

  /* iPhone 4/4S vertical */
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    margin-top: 40%;
    margin-left: 10%;
  }

  /* iPhone5+ */
  @media screen and (device-aspect-ratio: 40/71) {
    margin-top: 40%;
    margin-left: 10%;
  }
  /* iPhone x */
  @media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
    margin-top: 65%;
    margin-left: 10%;
  }

  @media (min-width: 590px) and (max-width: 620px) {
    margin-left: 12%;
    margin-top: 45%;
  }

  @include breakpoint(medium) {
    margin-left: 14%;
    margin-top: 48%;
  }

  /* ipad vertical */
  @media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
    margin-left: 14%;
    margin-top: 35%;
  }

  //1024 px
  @include breakpoint(large) {
    margin-top: 15%;
    margin-left: 13%;
  }

  //Ipad pro vertical
  @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
    margin-top: 35%;
    margin-left: 13%;
  }

  @media (min-width: 2200px) {
    margin-top: 15%;
    margin-left: 16%;
  }

  @media (min-width: 2000px) and (max-width: 2200px) {
    margin-top: 20%;
    margin-left: 13%;

  }

}
.text-context {
  @include breakpoint(small, portrait) {
    padding-right: 25%;
    line-height: 1;
    padding-top: 1.5%;
  }

 /* iPhone 5 horizontal*/

 @media screen and (orientation: landscape) and (device-aspect-ratio: 40/71) {
  line-height: 1;
  padding-top: 1.5%;
  padding-right: 20%;
}
  @include breakpoint(small, landscape) {
    padding-right: 25%;
    line-height: 1;
    padding-top: 1.5%;
  }

  @media (min-width: 410px) and (max-width: 430px) {
    padding-right: 36%;
    line-height: 1;
    padding-top: 1.5%;
  }

  /* iPhone 4/4S vertical*/
  @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 2/3) {
    line-height: 1;
    padding-top: 1.5%;
    padding-right: 15%;
  }


  /* iPhone 5 horizontal*/

  @media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  line-height: 1;
  padding-top: 1.5%;
  padding-right: 40%;
}
  /* iPhone x vertical */
  @media only screen and (device-width: 375px) and (device-height: 812px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    line-height: 1;
    padding-top: 1.5%;
    padding-right: 30%;
  }

  /* iPhone 6,7,8+ vertical*/
  @media only screen and (device-width: 414px) and (device-height: 736px) and (orientation: portrait)  and (-webkit-device-pixel-ratio: 3) {
    padding-right: 35%;
  }

  @media (min-width: 590px) and (max-width: 620px) {
    line-height: 1;
    padding-top: 1.5%;
    padding-right: 0%;
  }
}
