<form [formGroup]="componentForm" (keydown.enter)="prevDef($event)" (ngSubmit)="onSubmitForm(componentForm)">
    <div class="fields-container">
        <div
          [class]="'form-group ' + settings.formsContent[field].type"
          *ngFor="let field of fields; trackBy: trackByFn"
          [ngSwitch]="settings.formsContent[field].type"
        >
          <!-- <ng-container *ngSwitchCase="'textarea'">
            <textarea
              [id]="field"
              [formControlName]="field"
              (change)="updateDataToSubmit()"
              [placeholder]="stepsContent[i][field].placeholder"></textarea>
          </ng-container> -->

          <!-- <ng-container *ngSwitchCase="'select'">
            <label class="field-label text-bold" [for]="field">{{ stepsContent[i][field].label }}</label>
            <ng-select
              class="field-control"
              notFoundText="Elementos no encontrados"
              [items]="stepsContent[i][field].options"
              bindValue="id"
              bindLabel="name"
              [labelForId]="field"
              [formControlName]="field"
              [virtualScroll]="true"
              (change)="updateDataToSubmit()"
              [id]="field">
              <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
                <small>{{item.name}}</small>
              </ng-template>
            </ng-select>
          </ng-container> -->

          <!-- <ng-container *ngSwitchCase="'list'">
            <ol class="field-list">
              <li *ngFor="let option of stepsContent[i][field].options; index as i; trackBy: trackByFn">
                {{ i+1 }}. {{ option }}
              </li>
            </ol>
          </ng-container> -->

          <!-- <ng-container *ngSwitchCase="'confirmation'">
            <web-form-confirmation
              [label]="stepsContent[i][field].label"
              [options]="stepsContent[i][field].options"
              [formGroup]="formWizard[i]"
              [name]="field"
              [id]="field"
            >
            </web-form-confirmation>
          </ng-container> -->

          <!-- <ng-container *ngSwitchCase="'identification'">
            <label class="field-label text-bold">{{ stepsContent[i][field].label }}</label>
            <ng-select
              class="field-control"
              notFoundText="Elementos no encontrados"
              [searchable]="false"
              [items]="stepsContent[i][field].subfields.type.options"
              bindValue="id"
              bindLabel="name"
              [formControlName]="stepsContent[i][field].subfields.type.name"
              [virtualScroll]="true"
              [id]="stepsContent[i][field].subfields.type.name">
              <ng-template ng-option-tmp let-item="item">
                <small>{{item.name}}</small>
              </ng-template>
            </ng-select>
            <input
              class="field-control"
              autocomplete='off'
              [type]="stepsContent[i][field].subfields.id.type"
              [formControlName]="stepsContent[i][field].subfields.id.name"
              [id]="stepsContent[i][field].subfields.id.name"
              (change)="updateDataToSubmit()"
            />
            <web-form-validation
              [patternMessage]="stepsContent[i][field].subfields.id.messages && stepsContent[i][field].subfields.id.messages.pattern"
              [validationErrors]="formWizard[i].get(stepsContent[i][field].subfields.id.name).errors"
            >
            </web-form-validation>
          </ng-container> -->

          <!-- <ng-container *ngSwitchCase="'number'">
            <label class="field-label" [for]="field">{{ stepsContent[i][field].label }}</label>
            <input
              class="field-control"
              autocomplete='off'
              type="number"
              [formControlName]="field"
              (change)="updateDataToSubmit()"
              [id]="field"
            />
          </ng-container> -->

          <ng-container *ngSwitchCase="'text'">            
            <label class="field-label" [for]="field">{{ settings.formsContent[field].label }}</label>
            <input
              class="form-control"
              autocomplete='off'
              type="text"
              [formControlName]="field"
              [id]="field"
              [placeholder]="settings.formsContent[field].placeholder"
            />
          </ng-container>

          <ng-container *ngSwitchDefault>
            <label class="field-label" [for]="field">{{ settings.formsContent[field].label }}</label>
            <input
              class="field-control"
              autocomplete='off'
              [type]="settings.formsContent[field].type"
              [formControlName]="field"
              [id]="field"
            />
          </ng-container>

          <ng-container *ngIf="hasErrors(field)">
            <div *ngIf="settings.formsContent[field].messages && settings.formsContent[field].messages.pattern" 
            class="error-message">
              <strong>{{hasErrors(field)}}</strong>
            </div>
          </ng-container>
        </div>

        <div class="btn-container">
          <button type="submit" class="btn btn-primary text-decoration-none py-1 px-4 mt-1 submit-btn"
          [disabled]="!componentForm.valid || sendingForm">
            <span *ngIf="sendingForm" class="spinner-grow spinner-grow-sm"></span>{{ !sendingForm? 'Enviar':'Enviando..' }}
          </button>
        </div>        
    </div>
</form>