<!-- SPONSOR -->
<form *ngIf="who=='sponsor'" [formGroup]="sponsorForm" (keydown.enter)="prevDef($event)" (ngSubmit)="onSubmitSponsor(sponsorForm)" [class.form-disabled]="disableThis()">
    <div class="form-group">
      <label>Nombre</label>
      <input 
        name="name" 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('name')" 
        [class.not-empty]="isEmpty('name')" 
        formControlName="name" 
        placeholder="Nombre de la empresa" 
        [readonly]="disableThis()"
        maxlength="40"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div>      
    </div>
    <div class="form-group input-group">
      <label>RIF de la empresa</label>
      <div class="input-group-prepend">
        <ng-select
        class="form-control"
        [items]="cardTypes"
        bindValue="id"
        bindLabel="name"
        formControlName="selectedDoc"
        [id]="mode+'-'+index+'-'+1" 
        [virtualScroll]="true"
        [clearable]="false"
        [searchable]="false"
        [readonly]="true"
      >
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      </div>
      <input 
        type="text" 
        class="form-control" 
        [ngClass]="{
          'not-valid': validate('rif'),
          'not-empty': isEmpty('rif'),          
          'max-len-over': isMaxLenOver('rif','selectedDoc'),
          'min-len-under': isMinLenUnder('rif','selectedDoc'),
          'not-has-max-or-min': !hasMaxOrMin('rif','selectedDoc')
        }"
        formControlName="rif" 
        placeholder="RIF de la empresa" 
        [readonly]="disableThis()"
        [maxlength]="setMaxLen('selectedDoc')"      
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
        <div class="field-max-len-over">¡Superó el máximo de caracteres permitidos!</div>
        <div class="field-min-len-under">¡Está por debajo del mínimo de caracteres permitidos!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Correo electrónico</label>
      <input 
        type="email" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('email')" 
        [class.not-empty]="isEmpty('email')" 
        formControlName="email" 
        placeholder="Correo electrónico" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,5}$" 
        [readonly]="disableThis()"
        maxlength="320"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Debe tener un formato valido!</div>
      </div> 
    </div>
    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="Estado"> -->
      <!-- (change)="updateDataToSubmit()" -->
      <label>Estado</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="statesData"
        bindLabel="name"
        bindValue="id"
        [labelForId]="mode+'-'+index+'-'+2"
        formControlName="addressState"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+2"
        placeholder="Estado"
        (change)="updateMuns()"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un estado!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Municipio</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="municipalitiesData"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+3"
        formControlName="addressMunicipality"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+3"
        placeholder="Municipio"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un municipio!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Calles / Carreras</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressStreet')" 
        [class.not-empty]="isEmpty('addressStreet')" 
        formControlName="addressStreet" 
        placeholder="Calles / Carreras" 
        [readonly]="disableThis()"
        maxlength="100"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Ciudad</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressCity')" 
        [class.not-empty]="isEmpty('addressCity')" 
        formControlName="addressCity" 
        placeholder="Ciudad" 
        [readonly]="disableThis()"
        maxlength="20"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Número de teléfono</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('phone')" 
        [class.not-empty]="isEmpty('phone')" 
        formControlName="phone" 
        placeholder="Número de teléfono" 
        [readonly]="disableThis()"
        maxlength="15"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Tipo de empresa</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="companyTypes"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+4"
        formControlName="companyType"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+4"
        placeholder="Tipo de empresa"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un tipo de empresa!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Otro tipo de empresa</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('companyOtherType')" 
        [class.not-empty]="isEmpty('companyOtherType')" 
        formControlName="companyOtherType" 
        placeholder="Otro tipo de empresa" 
        [readonly]="disableThis() || disableOther"
        maxlength="20"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <!-- <div class="two-wrapper"> -->
      <div class="form-group">
        <label>Nombre de la persona de contacto</label>
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('contactFirstName')" 
          [class.not-empty]="isEmpty('contactFirstName')" 
          formControlName="contactFirstName" 
          placeholder="Nombre de la persona de contacto" 
          [readonly]="disableThis()"
          maxlength="25"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo letras permitidas!</div>
        </div>   
      </div>
      <div class="form-group">
        <label>Apellido de la persona de contacto</label>
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('contactLastName')" 
          [class.not-empty]="isEmpty('contactLastName')" 
          formControlName="contactLastName" 
          placeholder="Apellido de la persona de contacto" 
          [readonly]="disableThis()"
          maxlength="25"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo letras permitidas!</div>
        </div> 
      </div>
    <!-- </div>     -->
    <div class="form-group">
      <label>Teléfono de la persona de contacto</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('contactPhone')" 
        [class.not-empty]="isEmpty('contactPhone')" 
        formControlName="contactPhone" 
        placeholder="Teléfono de la persona de contacto" 
        [readonly]="disableThis()"
        maxlength="15"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Correo electrónico de la persona de contacto</label>
      <input 
        type="email" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('contactEmail')" 
        [class.not-empty]="isEmpty('contactEmail')" 
        formControlName="contactEmail" 
        placeholder="Correo electrónico de la persona de contacto" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,5}$" 
        [readonly]="disableThis()"
        maxlength="320"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Debe tener un formato valido!</div>
      </div> 
    </div>

    <button *ngIf="showSendBtn()" type="submit" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
    [disabled]="!sponsorForm.valid || disable || sendingForm" [class.disabled]="!sponsorForm.valid">
    <span *ngIf="sendingForm" class="spinner-grow spinner-grow-sm"></span>{{ !sendingForm? 'Enviar solicitud':'Enviando..' }}
    </button>
</form>

<!-- COORDINATOR -->
<form *ngIf="who=='coordinator'" [formGroup]="coordinatorForm" (keydown.enter)="prevDef($event)" (ngSubmit)="onSubmitCoordinator(coordinatorForm)" [class.form-disabled]="disableThis()">
    <div class="form-group">
      <label>Nombre</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('firstName')" 
        [class.not-empty]="isEmpty('firstName')" 
        formControlName="firstName" 
        placeholder="Nombre" 
        [readonly]="disableThis()"
        maxlength="25"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Apellido</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('lastName')" 
        [class.not-empty]="isEmpty('lastName')" 
        formControlName="lastName" 
        placeholder="Apellido" 
        [readonly]="disableThis()"
        maxlength="25"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">   
      <label>Fecha de nacimiento</label>
      <div class="date-container">
        <input
          #inputBirthDate
          type="date" 
          class="form-control form-date-picker calendar-date-icon" 
          [class.not-enabled]="disableThis()" 
          [class.not-valid]="validate('birthdate')" 
          [class.not-empty]="isEmpty('birthdate')" 
          formControlName="birthdate"          
          (change)="glbls.validateDate($event,'lower',false,false,18)" 
          [readonly]="disableThis()"
        />          
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Debe tener al menos 18 años de edad!</div>
        </div>
        <input 
          [class.d-none]="inputBirthDate.value.length > 0"
          class="form-control form-date-placeholder"
          autocomplete='off'
          type="text"              
          [id]="'form-date-placeholder'+'-'+mode+'-'+index"
          placeholder="Fecha de nacimiento"
          readonly    
          (click)="focusDatePicker(inputBirthDate)"
        />
      </div>
    </div>
    <div class="form-group">
      <label>Sexo</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="genders"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+1"
        formControlName="gender"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+1"
        placeholder="Sexo"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un sexo!</div>
      </div>
    </div>    
    <div class="form-group input-group">
      <label>Identificación</label>
      <div class="input-group-prepend">
        <ng-select
        class="form-control"
        [items]="cardTypes"
        bindValue="id"
        bindLabel="name"
        formControlName="cardType"
        [id]="mode+'-'+index+'-'+2"
        [virtualScroll]="true"
        [clearable]="false"
        [searchable]="false"
        [readonly]="disableThis()"        
      >
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      </div>
      <input
        type="text" 
        class="form-control" 
        [ngClass]="{
          'not-valid': validate('cardId'),
          'not-empty': isEmpty('cardId'),          
          'max-len-over': isMaxLenOver('cardId','cardType'),
          'min-len-under': isMinLenUnder('cardId','cardType'),
          'not-has-max-or-min': !hasMaxOrMin('cardId','cardType')
        }"
        formControlName="cardId" 
        placeholder="Identificación" 
        [readonly]="disableThis()"
        [maxlength]="setMaxLen('cardType')"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
        <div class="field-max-len-over">¡Superó el máximo de caracteres permitidos!</div>
        <div class="field-min-len-under">¡Está por debajo del mínimo de caracteres permitidos!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Teléfono de habitación</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('homePhone')" 
        [class.not-empty]="isEmpty('homePhone')" 
        formControlName="homePhone" 
        placeholder="Teléfono de habitación" 
        [readonly]="disableThis()"
        maxlength="15"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Estado</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="statesData"
        bindLabel="name"
        bindValue="id"
        [labelForId]="mode+'-'+index+'-'+3"
        formControlName="addressState"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+3"
        placeholder="Estado"
        (change)="updateMuns()"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un estado!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Municipio</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="municipalitiesData"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+4"
        formControlName="addressMunicipality"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+4"
        placeholder="Municipio"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un municipio!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Calles / Carreras</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressStreet')" 
        [class.not-empty]="isEmpty('addressStreet')" 
        formControlName="addressStreet" 
        placeholder="Calles / Carreras" 
        [readonly]="disableThis()"
        maxlength="100"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Ciudad de residencia</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressCity')" 
        [class.not-empty]="isEmpty('addressCity')" 
        formControlName="addressCity" 
        placeholder="Ciudad de residencia" 
        [readonly]="disableThis()"
        maxlength="20"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Casa / Edificio</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressHome')" 
        [class.not-empty]="isEmpty('addressHome')" 
        formControlName="addressHome" 
        placeholder="Casa / Edificio" 
        [readonly]="disableThis()"
        maxlength="40"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Correo electrónico</label>
      <input 
        type="email" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('email')" 
        [class.not-empty]="isEmpty('email')" 
        formControlName="email" 
        placeholder="Correo electrónico" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,5}$" 
        [readonly]="disableThis()"
        maxlength="320"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Debe tener un formato valido!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Número de teléfono</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('phone')" 
        [class.not-empty]="isEmpty('phone')" 
        formControlName="phone" 
        placeholder="Número de teléfono" 
        [readonly]="disableThis()"
        maxlength="15"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Profesión</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('profession')" 
        [class.not-empty]="isEmpty('profession')" 
        formControlName="profession" 
        placeholder="Profesión" 
        [readonly]="disableThis()"
        maxlength="40"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div>
    </div>  
    <button *ngIf="showSendBtn()" type="submit" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
    [disabled]="!coordinatorForm.valid || disable || !controlDate() || sendingForm" [class.disabled]="!coordinatorForm.valid || !controlDate()">
    <span *ngIf="sendingForm" class="spinner-grow spinner-grow-sm"></span>{{ !sendingForm? 'Enviar solicitud':'Enviando..' }}
    </button>
</form>

<!-- SCHOOL -->
<form *ngIf="who=='school'" [formGroup]="schoolForm" (keydown.enter)="prevDef($event)" (ngSubmit)="onSubmitschool(schoolForm)" [class.form-disabled]="disableThis()">
    <h6>Datos de la escuela</h6>
    <div class="form-group">
      <label>Nombre de la escuela</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('name')" 
        [class.not-empty]="isEmpty('name')" 
        formControlName="name" 
        placeholder="Nombre de la escuela" 
        [readonly]="disableThis()"
        maxlength="40"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Correo electrónico</label>
      <input 
        type="email" class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('email')" 
        [class.not-empty]="isEmpty('email')" 
        formControlName="email" 
        placeholder="Correo electrónico" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,5}$" 
        [readonly]="disableThis()"
        maxlength="320"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Debe tener un formato valido!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Código del plantel</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('code')" 
        [class.not-empty]="isEmpty('code')" 
        formControlName="code" 
        placeholder="Código del plantel" 
        [readonly]="disableThis()"
        maxlength="40"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras y números permitidos!</div>
      </div> 
    </div>    
    <!-- <div class="form-group">
      <input type="text" class="form-control" [class.not-valid]="validate('address')" [class.not-empty]="isEmpty('address')" formControlName="address" placeholder="Direccion" [readonly]="disableThis()">
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div> 
    </div> -->
    <div class="form-group">
      <!-- <input type="text" class="form-control" placeholder="Estado"> -->
      <!-- (change)="updateDataToSubmit()" -->
      <label>Estado</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="statesData"
        bindLabel="name"
        bindValue="id"
        [labelForId]="mode+'-'+index+'-'+1"
        formControlName="addressState"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+1"
        placeholder="Estado"
        (change)="updateMuns()"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un estado!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Municipio</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="municipalitiesData"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+2"
        formControlName="addressMunicipality"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+2"
        placeholder="Municipio"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un municipio!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Calles / Carreras</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressStreet')" 
        [class.not-empty]="isEmpty('addressStreet')" 
        formControlName="addressStreet" 
        placeholder="Calles / Carreras" 
        [readonly]="disableThis()"
        maxlength="100"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div> 
    </div>
    <div class="form-group">   
      <label>Ciudad</label>   
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressCity')" 
        [class.not-empty]="isEmpty('addressCity')" 
        formControlName="addressCity" 
        placeholder="Ciudad" 
        [readonly]="disableThis()"
        maxlength="20"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Número de teléfono</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('phone')" 
        [class.not-empty]="isEmpty('phone')" 
        formControlName="phone" 
        placeholder="Número de teléfono" 
        [readonly]="disableThis()"
        maxlength="15"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Tipo de escuela</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="schoolTypes"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+3"
        formControlName="schoolType"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+3"
        placeholder="Tipo de escuela"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un tipo de escuela!</div>
      </div>
    </div>
    <div class="form-group input-group">
      <label>Zona</label>
      <div class="input-group-prepend">
        <ng-select
          class="form-control"
          notFoundText="Elementos no encontrados"
          [items]="addressZoneTypes"
          bindValue="id"
          bindLabel="name"
          [labelForId]="mode+'-'+index+'-'+4"
          formControlName="addressZoneType"
          [virtualScroll]="true"
          [id]="mode+'-'+index+'-'+4"
          [clearable]="false"
          [readonly]="disableThis()">
          <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
            <small>{{item.name}}</small>
          </ng-template>
        </ng-select>
        <div class="field-alerts">
          <div class="field-empty">¡Debe Seleccionar una zona!</div>
        </div>
      </div>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('addressZone')" 
        [class.not-empty]="isEmpty('addressZone')" 
        formControlName="addressZone" 
        placeholder="Detalle de la zona" 
        [readonly]="disableThis()"
        maxlength="40"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
      </div> 
    </div>
    <!-- MAPA ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <ng-container *ngIf="glbls.isBrowser && showMap">
      <div class="map-container">
        <hr/>
        <label>Marca la ubicación exacta de la escuela</label>        
        <ng-container *ngIf="googleLoaded; else mapProblem">
          <div #schoolAddressMap id="school-address-map"></div>
        </ng-container>
        <ng-template #mapProblem>
          <p class="map-problem">Hubo un problema al cargar el mapa, por favor recargue la página.</p>
        </ng-template>
        <hr/>
      </div>      
    </ng-container>    
    <!-- END-MAPA ------------------------------------------------------------------------------------------------------------------------------------------------ -->
    
    <h6>Datos del director o directora</h6>
    <div class="form-group">
      <label>Nombre de director o directora</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('principalFirstName')" 
        [class.not-empty]="isEmpty('principalFirstName')" 
        formControlName="principalFirstName" 
        placeholder="Nombre de director o directora" 
        [readonly]="disableThis()"
        maxlength="25"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Apellido del director</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('principalLastName')" 
        [class.not-empty]="isEmpty('principalLastName')" 
        formControlName="principalLastName" 
        placeholder="Apellido del director" 
        [readonly]="disableThis()"
        maxlength="25"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Correo del director</label>
      <input 
        type="email" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('principalEmail')" 
        [class.not-empty]="isEmpty('principalEmail')" 
        formControlName="principalEmail" 
        placeholder="Correo del director" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,5}$" 
        [readonly]="disableThis()"
        maxlength="320"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Debe tener un formato valido!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Número de teléfono del director</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('principalPhone')" 
        [class.not-empty]="isEmpty('principalPhone')" 
        formControlName="principalPhone" 
        placeholder="Número de teléfono del director" 
        [readonly]="disableThis()"
        maxlength="15"
      >
      <div class="field-alerts">
        <div class="field-empty">¡Debe llenar este campo!</div>
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <h6>Datos del subdirector o subdirectora</h6>
    <div class="form-group">
      <label>Nombre de subdirector o subdirectora</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('subPrincipalFirstName')" 
        [class.not-empty]="isEmpty('subPrincipalFirstName')"
        formControlName="subPrincipalFirstName" 
        placeholder="Nombre de subdirector o subdirectora" 
        [readonly]="disableThis()"
        maxlength="25"
      > <!-- [class.not-empty]="isEmpty('subPrincipalFirstName')" -->
      <div class="field-alerts">
        <!-- <div class="field-empty">¡Debe llenar este campo!</div> -->
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Apellido del subdirector</label>
      <input 
        type="text" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('subPrincipalLastName')" 
        [class.not-empty]="isEmpty('subPrincipalLastName')"
        formControlName="subPrincipalLastName" 
        placeholder="Apellido del subdirector" 
        [readonly]="disableThis()"
        maxlength="25"
      > <!-- [class.not-empty]="isEmpty('subPrincipalLastName')" -->
      <div class="field-alerts">
        <!-- <div class="field-empty">¡Debe llenar este campo!</div> -->
        <div class="field-invalid">¡Solo letras permitidas!</div>
      </div> 
    </div>
    <div class="form-group">
      <label>Correo del subdirector</label>
      <input 
        type="email" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('subPrincipalEmail')" 
        [class.not-empty]="isEmpty('subPrincipalEmail')"
        formControlName="subPrincipalEmail" 
        placeholder="Correo del subdirector" 
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{1,5}$" 
        [readonly]="disableThis()"
        maxlength="320"
      > <!-- [class.not-empty]="isEmpty('subPrincipalEmail')" -->
      <div class="field-alerts">
        <!-- <div class="field-empty">¡Debe llenar este campo!</div> -->
        <div class="field-invalid">¡Debe tener un formato valido!</div>
      </div>
    </div>
    <div class="form-group">
      <label>Número de teléfono del subdirector</label>
      <input 
        type="tel" 
        class="form-control not-has-max-or-min" 
        [class.not-valid]="validate('subPrincipalPhone')" 
        [class.not-empty]="isEmpty('subPrincipalPhone')" 
        formControlName="subPrincipalPhone" 
        placeholder="Número de teléfono del subdirector" 
        [readonly]="disableThis()"
        maxlength="15"
      > <!-- [class.not-empty]="isEmpty('subPrincipalPhone')" -->
      <div class="field-alerts">
        <!-- <div class="field-empty">¡Debe llenar este campo!</div> -->
        <div class="field-invalid">¡Solo números permitidos!</div>
      </div>
    </div>
    <h6>Otros datos de la escuela</h6>
    <div class="two-wrapper">
      <div class="form-group">   
        <label>Cantidad de docentes</label>   
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('nTeachers')" 
          [class.not-empty]="isEmpty('nTeachers')" 
          formControlName="nTeachers" 
          placeholder="Cantidad de docentes" 
          [readonly]="disableThis()"
          maxlength="5"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo números positivos permitidos!</div>
        </div>
      </div>
      <div class="form-group">
        <label>Cantidad personal administrativo</label>
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('nAdministrativeStaff')" 
          [class.not-empty]="isEmpty('nAdministrativeStaff')" 
          formControlName="nAdministrativeStaff" 
          placeholder="Cantidad personal administrativo" 
          [readonly]="disableThis()"
          maxlength="5"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo números positivos permitidos!</div>
        </div>
      </div>
    </div>
    <div class="two-wrapper">
      <div class="form-group">
        <label>Cantidad personal obrero</label>
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('nLaborStaff')" 
          [class.not-empty]="isEmpty('nLaborStaff')" 
          formControlName="nLaborStaff" 
          placeholder="Cantidad personal obrero" 
          [readonly]="disableThis()"
          maxlength="5"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo números positivos permitidos!</div>
        </div>
      </div>
      <div class="form-group"> 
        <label>Cantidad de estudiantes</label>     
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('nStudents')" 
          [class.not-empty]="isEmpty('nStudents')" 
          formControlName="nStudents" 
          placeholder="Cantidad de estudiantes" 
          [readonly]="disableThis()"
          maxlength="5"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo números positivos permitidos!</div>
        </div>
      </div>
    </div>
    <div class="two-wrapper">
      <div class="form-group">
        <label>Cantidad de grados</label>
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('nGrades')" 
          [class.not-empty]="isEmpty('nGrades')" 
          formControlName="nGrades" 
          placeholder="Cantidad de grados" 
          [readonly]="disableThis()"
          maxlength="5"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo números positivos permitidos!</div>
        </div>
      </div>
      <div class="form-group">
        <label>Cantidad de secciones</label>
        <input 
          type="text" 
          class="form-control not-has-max-or-min" 
          [class.not-valid]="validate('nSections')" 
          [class.not-empty]="isEmpty('nSections')" 
          formControlName="nSections" 
          placeholder="Cantidad de secciones" 
          [readonly]="disableThis()"
          maxlength="5"
        >
        <div class="field-alerts">
          <div class="field-empty">¡Debe llenar este campo!</div>
          <div class="field-invalid">¡Solo números positivos permitidos!</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label>Turno de clases</label>
      <ng-select
        class="form-control"
        notFoundText="Elementos no encontrados"
        [items]="schoolShifts"
        bindValue="id"
        bindLabel="name"
        [labelForId]="mode+'-'+index+'-'+5"
        formControlName="schoolShift"
        [virtualScroll]="true"
        [id]="mode+'-'+index+'-'+5"
        placeholder="Turno de clases"
        [readonly]="disableThis()">
        <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
          <small>{{item.name}}</small>
        </ng-template>
      </ng-select>
      <div class="field-alerts">
        <div class="field-empty">¡Debe Seleccionar un turno!</div>
      </div>
    </div>    

    <button *ngIf="showSendBtn()" type="submit" class="btn btn-primary text-decoration-none py-2 px-4 mt-1"
    [disabled]="!schoolForm.valid || disable || sendingForm" [class.disabled]="!schoolForm.valid">
    <span *ngIf="sendingForm" class="spinner-grow spinner-grow-sm"></span>{{ !sendingForm? 'Enviar solicitud':'Enviando..' }}
    </button>
</form>