@import "scss/variables";
@import "scss/responsive";

::ng-deep {
  .nb-theme-default {
    nb-tabset {
      @media (max-width: 768px) {
        .tabs-padding-escuela {
          padding: 1.5rem 0rem !important;
        }
      }
      .tab-link {
        font-family: "Montserrat";
        font-size: 1.2rem;
        padding: 1rem 3rem;
        text-transform: none;
        line-height: 1.3rem;
        height: 100%;
        justify-content: center;
        align-items: center;

        &::before {
          bottom: 2px !important;
        }
      }
      @media (max-width: 992px) {
        .tab-link {
          font-size: 1rem;
        }
      }
      @media (max-width: 768px) {
        .tab-link {
          font-size: 1rem;
          padding: 1rem 1rem;
        }
      }

      @media (max-width: 576px) {
        .tabset {
          overflow: auto;
          overflow-y: hidden;
          justify-content: start !important;
          //height: 60px;
          li {
            margin: 0 1.5rem;
          }
          a {
            width: 130%;
          }
        }
      }
      @media (min-width: 405px) and (max-width: 575px) {
        .tabset {
          li {
            margin: 0 3rem;
          }
        }
      }
      @media (max-width: 405px) {
        .tabset {
          a {
            width: 150%;
          }
        }
      }

      .tab.active .tab-link {
        background-color: transparent;
        color: $blue;
      }
      .tab,
      .tab:hover,
      .tab.active {
        .tab-link {
          //color: $blue;
          &:hover {
            color: $blue;
          }
        }
      }

      .tab:hover,
      .tab.active {
        .tab-link {
          &::before {
            background-color: $blue;
          }
        }
      }
      nb-tab {
        padding: 1rem 1rem;

        &.environmental-project {
          padding: 1rem 0.5rem !important;

          @include mediabreak(medium,landscape,true,800px) {
            padding: 1rem 0rem !important;
          }

          .profile-wrapper:first-child {
            .container-form{
              padding-bottom: 0;

              h5 {
                font-size: 1rem;
                line-height: 1.2;

                @include mediabreak(large,landscape) {
                  font-size: 1.125rem;
                }
                @include mediabreak(larger,landscape) {
                  font-size: 1.6rem;
                }
              }

              .line-breaker {
                display: none;
              }
            }
          }

          .profile-wrapper:nth-child(2) {
            nb-accordion {
              nb-accordion-item-body {
                .item-body {
                  padding: 1.25rem 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
