@import "scss/variables";

::ng-deep {
  .nb-theme-default {
    nb-tabset {
      .tab-link {
        font-family: Montserrat;
        font-size: 1.2rem;
        padding: 1rem 3rem;
        text-transform: none;
        line-height: 1.3rem;
      }
      @media (max-width: 992px) {
        .tab-link {
          font-size: 1rem;
        }
      }
      @media (max-width: 768px) {
        .tab-link {
          font-size: 1rem;
          padding: 1rem 1rem;
        }
      }

      @media (max-width: 576px) {
        .tabset {
          overflow: auto;
          justify-content: start !important;
          li {
            margin: 0 1.5rem;
          }
          a {
            width: 130%;
          }
        }
      }
      @media (min-width: 405px) and (max-width: 575px) {
        .tabset {
          li {
            margin: 0 3rem;
          }
        }
      }

      .tab,
      .tab:hover,
      .tab.active {
        .tab-link {
          color: $blue;
          &:hover {
            color: $blue;
          }
        }
      }

      .tab:hover,
      .tab.active {
        .tab-link {
          &::before {
            background-color: $blue;
          }
        }
      }
    }
  }
}
