@import "scss/variables";

::ng-deep {
  .nb-theme-default {
    nb-tabset {
      @media (max-width: 768px) {
        .tabs-padding-escuela {
          padding: 1.5rem 0rem !important;
        }
      }
      .tab-link {
        font-family: "Montserrat";
        font-size: 1.2rem;
        padding: 1rem 3rem;
        text-transform: none;
        line-height: 1.3rem;
      }
      @media (max-width: 992px) {
        .tab-link {
          font-size: 1rem;
        }
      }
      @media (max-width: 768px) {
        .tab-link {
          font-size: 1rem;
          padding: 1rem 1rem;
        }
      }

      @media (max-width: 576px) {
        .tabset {
          overflow: inherit;
          justify-content: start !important;
          li {
            margin: 0 1.5rem;
          }
          a {
            width: 130%;
          }
        }
      }
      @media (min-width: 405px) and (max-width: 575px) {
        .tabset {
          li {
            margin: 0 3rem;
          }
        }
      }
      @media (max-width: 405px) {
        .tabset {
          a {
            width: 100%;
          }
        }
      }

      .tab.active .tab-link {
        background-color: transparent;
        color: $blue;
      }
      .tab,
      .tab:hover,
      .tab.active {
        .tab-link {
          //color: $blue;
          &:hover {
            color: $blue;
          }
        }
      }

      .tab:hover,
      .tab.active {
        .tab-link {
          &::before {
            background-color: $blue;
          }
        }
      }
    }
  }
}
