<div class="table-container">
  <h6 *ngIf="settings.tableTitle && !isContentRefreshing" class="table-title">
    {{ settings.tableTitle }}
  </h6>
  <ng2-smart-table
    [settings]="settings"
    [source]="source"
    [ngClass]="{
      'd-none': settings.hideImgContainer,
      'hide-view': settings.classes.hideView,
      'hide-edit': settings.classes.hideEdit,
      'hide-delete': settings.classes.hideDelete,
      'has-img-in-first-col': settings.isImageFirstCol
    }"
    (custom)="onCustomActions($event)"
  ></ng2-smart-table>

  <div *ngIf="settings.total" class="estilo-total">
    <h5>Total: <span>{{ settings.total | number:'1.0':'es-ES' }}</span></h5>
  </div>
</div>
