<div>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group" *ngIf="settings.fields.inputImg">
      <label class="label">{{ settings.fields.inputImg.label }}</label>
    </div>
    <div class="form-group" *ngIf="settings.fields.description">
      <label class="label">
        {{ settings.fields.description.label }}
      </label>
      <textarea
        nbInput
        class="form-control"
        [placeholder]="settings.fields.description.placeholder"
        rows="10"
      ></textarea>
    </div>
    <button  type="submit" *ngIf="settings.fields.button" nbButton class="btn btn-primary">
      {{ settings.fields.button.text }}
    </button>
  </form>
</div>
