<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <!-- Input file image -->
    <div class="form-group" *ngIf="settings.fields.inputImg">
    
      <label class="label">{{ settings.fields.inputImg.label }}</label>
      
      <!-- Display image -->
      <div id="wrapper-image" *ngIf="form.get('inputImg').value" class="position-relative form-group">
        <img [src]="form.get('inputImg').value" class="img-fluid">
        <button (click)="form.get('inputImg').setValue(null)" nbButton status="danger" id="btn-delete">Quitar</button>
      </div>

      <nb-alert *ngIf="msgErrorFile" closable (close)="msgErrorFile=false" status="danger"> El archivo no es una imagen. </nb-alert>

      <div class="form-group text-left">
        <input
          (change)="onUploadImage($event)"
          type="file"
          name="file"
          id="file"
          class="input-file"
        />
        <label for="file" class="btn btn-tertiary js-labelFile">
          <span class="js-fileName">
            <span *ngIf="!form.get('inputImg').value">
              Carga de imagen
            </span>
            <span *ngIf="form.get('inputImg').value">
              Archivo cargado
            </span>
          </span>
        </label>
      </div>
    </div>

    <!-- Input description -->
    <div class="form-group" *ngIf="settings.fields.description">
      <label class="label">
        {{ settings.fields.description.label }}
      </label>
      <textarea
        nbInput
        class="form-control"
        formControlName="description"
        [placeholder]="settings.fields.description.placeholder"
        rows="10"
      ></textarea>
    </div>

    <!-- Button -->
    <div class="text-right">
      <button
        type="submit"
        *ngIf="settings.fields.button"
        nbButton
        class="btn btn-primary col-12 col-lg-auto btn-normal"
      >
        {{ settings.fields.button.text }}
      </button>
    </div>
  </form>
</div>
