<div>
  <form [formGroup]="form" (ngSubmit)="onSubmitAction(form.value)">
    <!-- Input file image -->
    <div class="form-group" *ngIf="settings.fields.inputImg">
      <label class="label">{{ settings.fields.inputImg.label }}</label>

      <!-- Display image -->
      <div
        id="wrapper-image"
        *ngIf="!settings.fields.inputImg.multiple && form.get('inputImg').value"
        class="position-relative form-group"
      >
        <img [src]="form.get('inputImg').value" class="img-fluid" />
        <button
          (click)="setNullFormImg()"
          nbButton
          status="danger"
          id="btn-delete"
          [disabled]="
            settings.fields.inputImg.disabled ||
            isSaving ||
            (makingActionSubs$ | async).makingAction
          "
        >
          Quitar
        </button>
      </div>

      <nb-alert
        *ngIf="msgErrorFile"
        closable
        (close)="msgErrorFile = false"
        status="danger"
      >
        {{ msgErrorFile }}
      </nb-alert>

      <div class="form-group text-left" *ngIf="settings.fields.inputImg">
        <input
          (change)="onUploadImage($event)"
          type="file"
          [name]="settings.fields.inputImg.name"
          [id]="settings.fields.inputImg.name"
          class="input-file"
          [disabled]="
            settings.fields.inputImg.disabled ||
            isSaving ||
            (makingActionSubs$ | async).makingAction
          "
          [readonly]="
            settings.fields.inputImg.disabled ||
            isSaving ||
            (makingActionSubs$ | async).makingAction
          "
        />
        <label
          [for]="settings.fields.inputImg.name"
          class="btn btn-tertiary js-labelFile"
        >
          <span class="js-fileName">
            <span *ngIf="!form.get('inputImg').value"> Carga de imagen </span>
            <span *ngIf="form.get('inputImg').value"> Archivo cargado </span>
          </span>
        </label>
        <p *ngIf="settings.fields.inputImg.sizeLimitMb">
          El peso de la imagen no debe exceder de
          {{ settings.fields.inputImg['sizeLimitMb'] }} MB.
        </p>
      </div>
      <ng2-smart-table
        *ngIf="settings.fields.inputImg.multiple"
        [settings]="tableImages"
        [source]="source"
        (custom)="onTableActions($event)"
      >
        <!-- [ngClass]="{
          'hide-delete': settings.fields.inputImg.disabled,
        }" -->
      </ng2-smart-table>
    </div>

    <!-- Input description -->
    <div class="form-group" *ngIf="settings.fields.description">
      <label class="label">
        {{ settings.fields.description.label }}
      </label>
      <textarea
        nbInput
        class="form-control"
        formControlName="description"
        [placeholder]="settings.fields.description.placeholder"
        rows="8"
        [disabled]="settings.fields.description.disabled"
        [readonly]="settings.fields.description.disabled"
        [maxlength]="
          settings.fields.description.maxLength
            ? settings.fields.description.maxLength
            : null
        "
        [minlength]="
          settings.fields.description.minLength
            ? settings.fields.description.minLength
            : null
        "
      >
      </textarea>
      <p
        *ngIf="
          settings.fields.description.maxLength ||
          settings.fields.description.minLength
        "
        [ngClass]="{
          'text-danger':
            formControlHasError('description', 'maxlength') ||
            formControlHasError('description', 'minlength')
        }"
      >
        Cantidad de caracteres: {{ form.get('description').value.length
        }}<span *ngIf="settings.fields.description.maxLength"
          >/{{ settings.fields.description.maxLength }}</span
        >.
        <span *ngIf="formControlHasError('description', 'maxlength')">
          (Excedido)
        </span>
        <span *ngIf="formControlHasError('description', 'minlength')">
          (Mínimo
          {{ settings.fields.description.minLength }})
        </span>
      </p>
    </div>
    <!-- Button -->
    <div class="text-right">
      <button
        type="button"
        [class.d-none]="
          (makingActionSubs$ | async).makingAction &&
          (makingActionSubs$ | async).wasSaving
        "
        *ngIf="
          settings.fields.cancelButton && !settings.fields.cancelButton.hidden
        "
        nbButton
        status="danger"
        class="btn btn-danger col-12 col-lg-auto btn-cancel"
        [disabled]="form.invalid"
        (click)="settings.onCancel($event)"
      >
        {{
          isSaving ||
          (settings.fields.cancelButton.isMainBtn &&
            (makingActionSubs$ | async).makingAction)
            ? settings.fields.cancelButton.ingAction
            : settings.fields.cancelButton.text
        }}
      </button>

      <!--           settings.fields.cancelButton.disabled ||
          isSaving ||
          (makingActionSubs$ | async).makingAction || -->
      <!-- || formControlHasError('description', 'maxlength') ||
      formControlHasError('description', 'minlength') -->
      <!-- Type submit  -->
      <button
        *ngIf="
          settings.fields.button &&
          !settings.fields.button.hidden &&
          (settings.fields.button.type === 'submit' ||
            !settings.fields.button.type)
        "
        nbButton
        class="btn btn-primary submit-btn col-12 col-lg-auto btn-normal"
        [disabled]="
          settings.fields.button.disabled ||
          isSaving ||
          (makingActionSubs$ | async).makingAction
        "
      >
        {{
          isSaving &&
          (makingActionSubs$ | async).makingAction &&
          (makingActionSubs$ | async).wasSaving
            ? settings.fields.button.ingAction
            : settings.fields.button.text
        }}
      </button>
      <!-- Type button -->
      <button
        (click)="onClickButton(form.value)"
        *ngIf="
          settings.fields.button &&
          !settings.fields.button.hidden &&
          settings.fields.button.type === 'button'
        "
        type="button"
        nbButton
        class="btn btn-primary submit-btn col-12 col-lg-auto btn-normal"
        [disabled]="
          settings.fields.button.disabled ||
          isSaving ||
          (makingActionSubs$ | async).makingAction
        "
      >
        {{
          isSaving &&
          (makingActionSubs$ | async).makingAction &&
          (makingActionSubs$ | async).wasSaving
            ? settings.fields.button.ingAction
            : settings.fields.button.text
        }}
      </button>
      <!-- {{ isSaving || ( settings.fields.button.isMainBtn && (makingActionSubs$ | async).makingAction )
            ? settings.fields.button.ingAction : settings.fields.button.text }} -->
    </div>
  </form>
</div>
