@import 'scss/placeholders';

::ng-deep body {
    background: map-get($color_map, gray);
}

//
h1{
    @extend %h1;
}
h3, h4 {
    @extend %h34;
}
p, button, a, li {
    @extend %p;
}

.modules-list-container {
    @extend %padding-conts;

    .welcome-message {
        @mixin welcome-message { flex-direction: row !important; flex-wrap: wrap; }
        @media screen and (orientation:landscape) and (min-width:640px) { @include welcome-message; }
        @include mediabreak(large,portrait) { @include welcome-message; }

        h1, p {
            color: map-get($color_map, blue);
        }

        // desktop 
        h1 {            
            text-align: center; width: 100%;
            @include mediabreak(large,landscape) { margin-bottom: 1.25rem !important; }
        }
        .below-welcome {
            width: 100%;

            p {           
                margin-left: auto; margin-right: auto; 
                @include mediabreak(large,landscape) { width: 80%; }
                @include mediabreak(larger,landscape,true,1600px) { width: 70%; }
                @include mediabreak(larger,landscape,true,1900px) { width: 62%; }
            }
        }        
        //
        // paginator
        .paginator {
            order: 4;
            @media screen and (orientation:landscape) and (min-width:640px) { order: unset; }
            @include mediabreak(large,portrait) { order: unset; }

            ::ng-deep ul.pagination {
                @media screen and (orientation:landscape) and (min-width:640px) { margin-block-start: 1.25rem; }
                @include mediabreak(large,landscape) { 
                    margin-bottom: 2rem !important;
                    margin-block-start: 0 !important; 
                }
            }
        }
        //

        button {
            background: map-get($color_map, blue);
            border-color: map-get($color_map, blue);
            width: 100%;         
                    
            @include mediabreak(small,landscape,true,640px) { width: auto; }
            @include mediabreak(large,portrait) { width: auto; }
            @include mediabreak(large,landscape) {
                @include button-pad; 
                border: 2px solid map-get($color_map, blue);
                margin-bottom: 2rem !important;
                margin-right: 1.5rem;                 
            }       

            &:focus {
                box-shadow: none;
            }
            &:hover {
                background: transparent;
                color: map-get($color_map, blue);
            }
        }        
    }

    .modules-list {
        .module-item {
            background: #fff;
            margin-bottom: 0.75rem;
            padding-inline-start: 2rem;
            padding-inline-end: 1.5rem;

            @include mediabreak(small,portrait) { 
                margin-bottom: 1.25rem;
                padding-inline-start: 3.25rem;
                padding-inline-end: 2.5rem;
                padding-block-start: 1.25rem !important;
            }
            @include mediabreak(larger,landscape,true,1600px) { 
                padding-bottom: 1.2rem !important;
                padding-top: 1.2rem !important;
                margin-bottom: 1rem;
            }
            @include mediabreak(larger,landscape,true,1900px) { 
                padding-bottom: 1.4rem !important;
                padding-top: 1.4rem !important;
                padding-left: 2.5rem;
            }

            h2 {
                font-size: 1.25rem;
                color: map-get($color_map, blue);
                
                @include mediabreak(small,portrait) { font-size: 1.75rem; }
                // desktop
                @include mediabreak(large,landscape) { font-size: 1.4rem; }
                @include mediabreak(larger,landscape,true,1600px) { font-size: x-large; }
                @include mediabreak(larger,landscape,true,1900px) { font-size: xx-large; }

                i {
                    margin-left: 1rem;
                    color: map-get($color_map, soft-green);
                }
            }
            button {                
                border: 0;
                padding: 0;
                color: map-get($color_map, blue);    
                
                @include mediabreak(large,landscape) { 
                    @include button-pad; 
                    border: 2px solid;
                }

                .no-icon {
                    @extend %p;
                    display: none;
                    @include mediabreak(large,landscape) { display: inline; }
                }
                .icon {
                    font-size: x-large !important;
                    @include mediabreak(large,landscape) { display: none; }
                }

                &:active, &:hover {
                    background: transparent;
                }
                &:hover {
                    @include mediabreak(large,landscape) {
                        background: map-get($color_map, blue);
                        color: #fff;
                    }
                }
                &:focus {
                    box-shadow: none;
                }
            }            
        }
    }
}