// Variables
$black: #000000;

@media print {
  .not-print {
    display: none;
  }
}


.page {
  width: 27.94cm;
  height: 21.59cm;

  padding: 60px 70px 70px 70px;
}

.yearbook-pdf {
  font-size: 20px;


  h1, p {
    color: $black !important;
  }

  .front-page {
    background-image: url('../../../../../assets/images/pdf/yearbook/frontpage.jpg');
    background-repeat: no-repeat;
    background-size: contain;

    .head {
      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      .headings {
        max-width: 60%;
        text-align: center;
        text-transform: uppercase;

        p {
          margin: 0;
        }
      }

      .partner-img {
        width: 180px;
        height: 180px;
        position: absolute;
        top: 0;
        right: 0;
        // right: calc(100vw - 29.7cm);

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      text-align: center;

      position: relative;
      top: 100px;


      h1 {
        font-weight: bold;
        font-size: 64px;
        line-height: 65px;
        margin: 0px;

      }

      p {
        text-transform: uppercase;
      }
    }
  }

  .background-2 {
    background: blue;
  }

}


