::ng-deep {
    .color {
        background-color: #00809a;
    }
    .modal {
        &.show {
            background: rgba(0,0,0,0.5);
        }
        
        .modal-content {
            .modal-header {
                padding: 1rem 1rem 0;
                border-bottom: none;

                .close {
                    &:focus {
                        outline: none;
                    }
                }
            }

            .modal-body {
                padding: 1rem 1.75rem;
            }
        }            
    }
}