@import 'scss/responsive';
@import 'scss/variables';
@import 'scss/elements/headings';

section.school-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8vw 8vw 30vw 8vw;
  background-image: url('../../../../../assets/images/cover-blue-simbolos.png');
  background-repeat: no-repeat;
  background-size: 240vw;
  background-position-y: 102.5%;

  @include breakpoint(small, landscape) {
    padding: 10vw 3vw 13vw 10vw;
    background-size: 100vw;
    background-position-y: 105%;
  }

  @include breakpoint(medium) {
    padding: 10vw 3vw 13vw 10vw;
    background-size: 100vw;
    background-position-y: 105%;
  }

  & > div {
    flex: 0 0 100%;
    width: 100%;

    &:first-child {
      margin-bottom: 5vw;
    }

    @include breakpoint(small, landscape) {
      &:first-child {
        flex: 0 0 40%;
        width: 40%;
        margin-bottom: 0;
      }

      &:last-child {
        flex: 0 0 55%;
        width: 55%;
      }
    }

    @include breakpoint(medium) {
      &:first-child {
        flex: 0 0 40%;
        width: 40%;
        margin-bottom: 0;
      }

      &:last-child {
        flex: 0 0 55%;
        width: 55%;
      }
    }
  }

  .school-details-wrapper {
    color: $blue;

    .school-name {
      margin-bottom: 7vw;

      @include breakpoint(small, landscape) {
        margin-bottom: 3.5vw;
      }

      @include breakpoint(medium) {
        margin-bottom: 3.5vw;
      }
    }

    .school-data-wrapper {
      .school-data {
        display: flex;
        align-items: center;
        font-size: 4vw;
        margin-bottom: 1.8vw;

        @include breakpoint(small, landscape) {
          font-size: 1.8vw;
        }

        @include breakpoint(medium) {
          font-size: 1.8vw;
        }

        @include breakpoint(large) {
          font-size: 1.2vw;
        }

        .icon {
          margin-right: 5vw;
          flex-basis: 15%;

          @include breakpoint(small, landscape) {
            margin-right: 2vw;
            flex-basis: 8%;
          }

          @include breakpoint(medium) {
            margin-right: 2vw;
            flex-basis: 8%;
          }
        }
      }
    }
  }

  .school-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

::ng-deep {
  owl-carousel.school-image-carousel {
    .owl-carousel {
      .owl-nav {
        background-color: $blue;
        height: 10vw;
        margin: auto;
        position: relative;
        top: -5vw;
        width: 90%;

        @include breakpoint(small, landscape) {
          height: 4vw;
          top: -2vw;
          width: 80%;
        }

        @include breakpoint(medium) {
          height: 4vw;
          top: -2vw;
          width: 80%;
        }

        .owl-next,
        .owl-prev {
          position: absolute;
          bottom: 0;
          top: 0;

          &::before {
            display: flex;
            color: white;
            font-size: 4vw;
            @include breakpoint(small, landscape) {
              font-size: 2vw;
            }
            @include breakpoint(medium) {
              font-size: 2vw;
            }
          }
        }

        .owl-prev {
          left: 6%;
          @include breakpoint(small, landscape) {
            left: 2%;
          }
          @include breakpoint(medium) {
            left: 2%;
          }
        }

        .owl-next {
          right: 6%;
          @include breakpoint(small, landscape) {
            right: 2%;
          }
          @include breakpoint(medium) {
            right: 2%;
          }
        }
      }
    }
  }
}

section.charts {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vw 6vw;
  position: relative;

  @include breakpoint(small, landscape) {
    flex-direction: row;
  }

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .charts-switcher {
    width: 100%;

    @include breakpoint(small, landscape) {
      width: 60%;
    }

    @include breakpoint(medium) {
      width: 60%;
    }
  }

  .chart-testimonial {
    position: relative;
    margin: 5vw 0;
    width: 90%;

    @include breakpoint(small, landscape) {
      position: absolute;
      right: 0;
      margin: 0;
      width: 30%;
    }

    @include breakpoint(medium) {
      position: absolute;
      right: 0;
      margin: 0;
      width: 30%;
    }
  }
}

section.math-olympics {
  padding: 15vw 10vw;
  background-color: #EEE;

  @include breakpoint(small, landscape) {
    padding: 5vw 10vw;
  }

  @include breakpoint(medium) {
    padding: 5vw 10vw;
  }

  .heading {
    text-align: center;
    color: $blue;
    margin-bottom: 8vw;

    p {
      font-size: 3.5vw;
      margin: 2vw 0 0;

      @include breakpoint(small, landscape) {
        font-size: 1.5vw;
      }

      @include breakpoint(medium) {
        font-size: 1.5vw;
      }

      @include breakpoint(large) {
        font-size: 1vw;
      }
    }
  }

  .result-summary {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .result {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;

      @include breakpoint(medium, portrait, down) {
        &.gold {
          width: 100%;

          .result-count,
          .result-label {
            width: min-content;
          }
        }
      }

      @include breakpoint(small, landscape) {
        width: min-content;
      }

      @include breakpoint(medium) {
        width: min-content;
      }

      .result-icon {
        height: 25vw;

        @include breakpoint(small, landscape) {
          height: 10vw;
        }

        @include breakpoint(medium) {
          height: 10vw;
        }
      }

      .result-count {
        color: $white;
        font-size: 6vw;
        font-weight: bold;
        left: 0.3vw;
        position: relative;
        top: -12vw;

        @include breakpoint(small, landscape) {
          font-size: 2.5vw;
          left: 0.1vw;
          top: -5vw;
        }

        @include breakpoint(medium) {
          font-size: 2.5vw;
          left: 0.1vw;
          top: -5vw;
        }
      }

      .result-label {
        color: $blue;
        font-size: 5vw;
        line-height: 1;
        text-align: center;
        position: relative;
        top: -8vw;

        @include breakpoint(small, landscape) {
          font-size: 2vw;
          top: -2vw;
        }

        @include breakpoint(medium) {
          font-size: 2vw;
          top: -2vw;
        }

        @include breakpoint(large) {
          font-size: 1.5vw;
        }
      }
    }
  }
}

section.activities {
  padding: 6vw 0;

  .activities-tabs-wrapper {
    display: flex;
    border-bottom: 3px solid $blue;
    text-align: center;
    margin: auto;
    width: 90%;

    @include breakpoint(small, landscape) {
      border-bottom: 5px solid $blue;
      width: 80%;
    }
    @include breakpoint(medium) {
      border-bottom: 5px solid $blue;
      width: 80%;
    }

    .activities-tab {
      color: $green;
      flex: 1 0 50%;
      font-weight: normal;
      font-size: 4.5vw;
      line-height: 1;
      padding: 8% 2%;

      @include breakpoint(small, landscape) {
        font-size: 2.5vw;
        padding: 2% 10%;
      }
      @include breakpoint(medium) {
        font-size: 2.5vw;
        padding: 2% 10%;
      }

      &.active {
        color: $blue;
        font-weight: bold;
      }

      &:hover:not(.active) {
        cursor: pointer;
      }
    }
  }
  .activities-details-wrapper {
    .activities-index-carousel {
      width: 100%;
      padding: 0 4%;

      .activity-index {
        border: 1px solid $blue;
        color: $blue;
        font-size: 5vw;
        font-weight: bold;
        padding: 2.5vw 2vw;
        text-align: center;
        margin: 0 1vw;

        @include breakpoint(small, landscape) {
          font-size: 1.8vw;
          padding: 1vw 2vw;
        }
        @include breakpoint(medium) {
          font-size: 1.8vw;
          padding: 1vw 2vw;
        }

        &.active,
        &:hover {
          background-color: $blue;
          color: $white;
          cursor: pointer;
        }
      }
    }

    .activity-details {
      .activity-info {
        color: $blue;
        padding: 5% 10%;
        text-align: center;

        .activity-name {
          display: block;
          font-size: 6vw;
          font-weight: bold;
          margin-bottom: 5vw;

          @include breakpoint(small, landscape) {
            font-size: 2.25vw;
            margin-bottom: 2vw;
          }
          @include breakpoint(medium) {
            font-size: 2.25vw;
            margin-bottom: 2vw;
          }
        }
        .activity-description {
          font-size: 4vw;

          @include breakpoint(small, landscape) {
            font-size: 1.5vw;
          }
          @include breakpoint(medium) {
            font-size: 1.5vw;
          }
          @include breakpoint(large) {
            font-size: 1vw;
          }
        }
      }

    }
  }
}

::ng-deep {
  owl-carousel.activities-index-carousel {
    .owl-carousel {
      .owl-nav {
        display: none;
        position: relative;
        z-index: -1;

        @include breakpoint(small, landscape) {
          display: flex;
          top: -4.5vw;
        }

        @include breakpoint(medium) {
          display: flex;
          top: -4.5vw;
        }

        .owl-next,
        .owl-prev {
          position: absolute;
          bottom: 0;
          top: 0;

          &::before {
            display: flex;
            @include breakpoint(small, landscape) {
              font-size: 2vw;
            }
            @include breakpoint(medium) {
              font-size: 2vw;
            }
          }
        }

        .owl-prev {
          @include breakpoint(small, landscape) {
            left: -2vw;
          }
          @include breakpoint(medium) {
            left: -2vw;
          }
        }

        .owl-next {
          @include breakpoint(small, landscape) {
            right: -2vw;
          }
          @include breakpoint(medium) {
            right: -2vw;
          }
        }
      }
    }
  }

  owl-carousel.activity-image-carousel {
    .owl-carousel {
      .owl-stage {
        display: flex;
        align-items: center;
        height: 66vw;

        @include breakpoint(small, landscape) {
          height: 25vw;
        }

        @include breakpoint(medium) {
          height: 25vw;
        }

        .owl-item {
          height: 33vw;

          @include breakpoint(small, landscape) {
            height: 20vw;
          }

          @include breakpoint(medium) {
            height: 20vw;
          }

          .image-wrapper {
            position: relative;
            bottom: 0;
            left: 0;
            height: 33vw;
            width: 33vw !important;
            transition: width 1s ease, height 1s ease, left 1s ease, bottom 1s ease;

            @include breakpoint(small, landscape) {
              height: 20vw ;
              width: 20vw !important;
            }

            @include breakpoint(medium) {
              height: 20vw;
              width: 20vw !important;
            }

            img {
              height: 100%;
              width: 100%;
            }
          }

          &.center {
            position: relative;
            z-index: 100;

            .image-wrapper {
              height: 66vw !important;
              width: 66vw !important;
              left: calc(-33vw / 2);
              bottom: calc(33vw / 2);
              transition: width 1s ease, height 1s ease, left 1s ease, bottom 1s ease;

              @include breakpoint(small, landscape) {
                height: 25vw !important;
                width: 25vw !important;
                left: calc(-5vw / 2);
                bottom: calc(5vw / 2);
              }

              @include breakpoint(medium) {
                height: 25vw !important;
                width: 25vw !important;
                position: relative;
                left: calc(-5vw / 2);
                bottom: calc(5vw / 2);
              }
            }
          }
        }
      }
    }
  }
}

section.teachers {
  background-image: url('../../../../../assets/images/background-trees-movil.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  min-height: 152vw;
  overflow-x: hidden;
  position: relative;

  @include breakpoint(small, landscape) {
    background-image: url('../../../../../assets/images/background-trees.png');
    min-height: 56vw;

  }

  @include breakpoint(medium) {
    background-image: url('../../../../../assets/images/background-trees.png');
    min-height: 56vw;
  }

  .heading {
    color: $white;
    position: absolute;
    top: 40vw;
    width: 60%;
    left: 15vw;

    @include breakpoint(small, landscape) {
      bottom: 16vw;
      left: 6vw;
      top: unset;
      width: 25vw;
    }

    @include breakpoint(medium) {
      bottom: 16vw;
      left: 6vw;
      top: unset;
      width: 25vw;
    }

    h2 {
      font-size: 8vw;

      @include breakpoint(small, landscape) {
        font-size: 3.3vw;

      }

      @include breakpoint(medium) {
        font-size: 3.3vw;
      }
    }

    p {
      font-size: 4.5vw;
      margin: 1.5vw 0;

      @include breakpoint(small, landscape) {
        font-size: 1.8vw;
        margin: 1vw 0;
      }

      @include breakpoint(medium) {
        font-size: 1.8vw;
        margin: 1vw 0;
      }
    }
  }
}

section.next-activities {
  background-color: $blue;
  color: $white;
  padding: 10vw;

  @include breakpoint(small, landscape) {
    padding: 6vw 8vw;
  }

  @include breakpoint(medium) {
    padding: 6vw 8vw;
  }

  .heading {
    color: $white;
    text-align: center;

    h2 {
      color: inherit;
    }
  }

  .activities-list {
    margin-top: 5vw;

    .activity {
      text-align: center;
      padding: 0 8vw;

      @include breakpoint(small, landscape) {
        padding: 0 3vw;
      }

      @include breakpoint(medium) {
        padding: 0 3vw;
      }

      .white-box {
        background-color: $white;
        color: $blue;
        display: flex;
        // justify-content: space-between; // Uncomment when the activity place need to be shown
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        padding: 2vw 4vw;
        margin: 2vw 0 4vw;

        @include breakpoint(small, landscape) {
          font-size: 1.5vw;
          padding: .5vw 1vw;
          margin: .5vw 0 1vw;
        }

        @include breakpoint(medium) {
          font-size: 1.5vw;
          padding: .5vw 1vw;
          margin: .5vw 0 1vw;
        }

        @include breakpoint(large) {
          font-size: .9vw;
        }

        span {
          width: 50%;
          text-align: center;
          // Uncomment when the activity place need to be shown
          /*
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
          */
        }
      }

      .title {
        color: $white;
      }

      .description {
        font-size: 4vw;
        padding: 0 4vw;

        @include breakpoint(small, landscape) {
          font-size: 1.5vw;
          padding: 0 2vw;
        }

        @include breakpoint(medium) {
          font-size: 1.5vw;
          padding: 0 2vw;
        }

        @include breakpoint(large) {
          font-size: .9vw;
        }
      }

    }
  }
}

section.other-schools {
  padding: 10vw;
  text-align: center;

  @include breakpoint(small, landscape) {
    padding: 6vw 8vw;
  }

  @include breakpoint(medium) {
    padding: 6vw 8vw;
  }

  .other-schools-list {
    margin-top: 5vw;

    .school {
      padding: 0 2vw;

      .school-name {
        margin-top: 5vw;

        @include breakpoint(small, landscape) {
          margin-top: 2vw;
        }

        @include breakpoint(medium) {
          margin-top: 2vw;
        }
      }
    }
  }
}

::ng-deep {
  owl-carousel {
    &.activities-carousel {
      .owl-nav {
        top: 40% !important;

        .owl-prev,
        .owl-next {
          &::before {
            color: $white !important;
          }
        }

        .owl-prev {
          left: -8vw !important;

          @include breakpoint(small, landscape) {
            left: -3vw !important;
          }

          @include breakpoint(medium) {
            left: -3vw !important;
          }
        }

        .owl-next {
          right: -87vw !important;

          @include breakpoint(small, landscape) {
            right: -86vw !important;
          }

          @include breakpoint(medium) {
            right: -86vw !important;
          }
        }
      }
    }

    &.other-schools-carousel {
      .owl-nav {
        top: 40% !important;

        .owl-prev {
          left: -8vw !important;

          @include breakpoint(large) {
            left: -3vw !important;
          }
        }

        .owl-next {
          right: -88vw !important;

          @include breakpoint(large) {
            right: -80vw !important;
          }
        }
      }
    }
  }

  owl-carousel-o {
    &.teachers-carousel {
      position: absolute;
      bottom: 20vw;
      display: block;
      left: 12vw;
      width: 130%;

      @include breakpoint(small, landscape) {
        bottom: 10vw;
        left: 35vw;
        width: 80%;
      }

      @include breakpoint(medium) {
        bottom: 10vw;
        left: 35vw;
        width: 80%;
      }

      web-testimonial-card {
        .testimonial-card {
          width: 90%;
        }
      }

      .owl-nav {
        top: -35% !important;

        @include breakpoint(small, landscape) {
          top: 80% !important;
          left: -37% !important;
        }

        @include breakpoint(medium) {
          top: 80% !important;
          left: -37% !important;
        }

        .owl-prev,
        .owl-next {
          &:before {
            color: $white !important;
          }
        }

        .owl-prev {
          left: 0 !important;
        }
        .owl-next {
          right: -20vw !important;

          @include breakpoint(small, landscape) {
            right: -8vw !important;
          }

          @include breakpoint(medium) {
            right: -8vw !important;
          }
        }
      }
    }
  }
}
