@import 'scss/responsive';
@import 'scss/variables';
@import 'scss/elements/headings';

section.charts {
  background-color: $blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8vw 6vw;
  position: relative;

  @include breakpoint(small, landscape) {
    flex-direction: row;
  }

  @include breakpoint(medium) {
    flex-direction: row;
  }

  .charts-switcher {
    width: 100%;

    @include breakpoint(small, landscape) {
      width: 60%;
    }

    @include breakpoint(medium) {
      width: 60%;
    }
  }

  .chart-testimonial {
    position: relative;
    margin: 5vw 0;
    width: 90%;

    @include breakpoint(small, landscape) {
      position: absolute;
      right: 0;
      margin: 0;
      width: 30%;
    }

    @include breakpoint(medium) {
      position: absolute;
      right: 0;
      margin: 0;
      width: 30%;
    }
  }
}

section.teachers {
  background-image: url('../../../../../assets/images/background-trees-movil.png');
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  min-height: 152vw;
  overflow-x: hidden;
  position: relative;

  @include breakpoint(small, landscape) {
    background-image: url('../../../../../assets/images/background-trees.png');
    min-height: 56vw;

  }

  @include breakpoint(medium) {
    background-image: url('../../../../../assets/images/background-trees.png');
    min-height: 56vw;
  }

  .heading {
    color: $white;
    position: absolute;
    top: 40vw;
    width: 60%;
    left: 15vw;

    @include breakpoint(small, landscape) {
      bottom: 16vw;
      left: 6vw;
      top: unset;
      width: 25vw;
    }

    @include breakpoint(medium) {
      bottom: 16vw;
      left: 6vw;
      top: unset;
      width: 25vw;
    }

    h2 {
      font-size: 8vw;

      @include breakpoint(small, landscape) {
        font-size: 3.3vw;

      }

      @include breakpoint(medium) {
        font-size: 3.3vw;
      }
    }

    p {
      font-size: 4.5vw;
      margin: 1.5vw 0;

      @include breakpoint(small, landscape) {
        font-size: 1.8vw;
        margin: 1vw 0;
      }

      @include breakpoint(medium) {
        font-size: 1.8vw;
        margin: 1vw 0;
      }
    }
  }
}

section.activities {
  background-color: $blue;
  color: $white;
  padding: 10vw;

  @include breakpoint(small, landscape) {
    padding: 6vw 8vw;
  }

  @include breakpoint(medium) {
    padding: 6vw 8vw;
  }

  .heading {
    color: $white;
    text-align: center;

    h2 {
      color: inherit;
    }
  }

  .activities-list {
    margin-top: 5vw;

    .activity {
      text-align: center;
      padding: 0 8vw;

      @include breakpoint(small, landscape) {
        padding: 0 3vw;
      }

      @include breakpoint(medium) {
        padding: 0 3vw;
      }

      .white-box {
        background-color: $white;
        color: $blue;
        display: flex;
        // justify-content: space-between; // Uncomment when the activity place need to be shown
        justify-content: center;
        align-items: center;
        font-size: 4vw;
        padding: 2vw 4vw;
        margin: 2vw 0 4vw;

        @include breakpoint(small, landscape) {
          font-size: 1.5vw;
          padding: .5vw 1vw;
          margin: .5vw 0 1vw;
        }

        @include breakpoint(medium) {
          font-size: 1.5vw;
          padding: .5vw 1vw;
          margin: .5vw 0 1vw;
        }

        @include breakpoint(large) {
          font-size: .9vw;
        }

        span {
          width: 50%;
          text-align: center;
          // Uncomment when the activity place need to be shown
          /*
          &:first-child {
            text-align: left;
          }
          &:last-child {
            text-align: right;
          }
          */
        }
      }

      .title {
        color: $white;
      }

      .description {
        font-size: 4vw;
        padding: 0 4vw;

        @include breakpoint(small, landscape) {
          font-size: 1.5vw;
          padding: 0 2vw;
        }

        @include breakpoint(medium) {
          font-size: 1.5vw;
          padding: 0 2vw;
        }

        @include breakpoint(large) {
          font-size: .9vw;
        }
      }

    }
  }
}

section.other-schools {
  padding: 10vw;
  text-align: center;

  @include breakpoint(small, landscape) {
    padding: 6vw 8vw;
  }

  @include breakpoint(medium) {
    padding: 6vw 8vw;
  }

  .other-schools-list {
    margin-top: 5vw;

    .school {
      padding: 0 2vw;

      .school-name {
        margin-top: 5vw;

        @include breakpoint(small, landscape) {
          margin-top: 2vw;
        }

        @include breakpoint(medium) {
          margin-top: 2vw;
        }
      }
    }
  }
}

::ng-deep {
  owl-carousel {
    &.activities-carousel {
      .owl-nav {
        top: 40% !important;

        .owl-prev,
        .owl-next {
          &::before {
            color: $white !important;
          }
        }

        .owl-prev {
          left: -8vw !important;

          @include breakpoint(small, landscape) {
            left: -3vw !important;
          }

          @include breakpoint(medium) {
            left: -3vw !important;
          }
        }

        .owl-next {
          right: -87vw !important;

          @include breakpoint(small, landscape) {
            right: -86vw !important;
          }

          @include breakpoint(medium) {
            right: -86vw !important;
          }
        }
      }
    }

    &.other-schools-carousel {
      .owl-nav {
        top: 40% !important;

        .owl-prev {
          left: -8vw !important;

          @include breakpoint(large) {
            left: -3vw !important;
          }
        }

        .owl-next {
          right: -88vw !important;

          @include breakpoint(large) {
            right: -80vw !important;
          }
        }
      }
    }
  }

  owl-carousel-o {
    &.teachers-carousel {
      position: absolute;
      bottom: 20vw;
      display: block;
      left: 12vw;
      width: 130%;

      @include breakpoint(small, landscape) {
        bottom: 10vw;
        left: 35vw;
        width: 80%;
      }

      @include breakpoint(medium) {
        bottom: 10vw;
        left: 35vw;
        width: 80%;
      }

      web-testimonial-card {
        .testimonial-card {
          width: 90%;
        }
      }

      .owl-nav {
        top: -35% !important;

        @include breakpoint(small, landscape) {
          top: 80% !important;
          left: -37% !important;
        }

        @include breakpoint(medium) {
          top: 80% !important;
          left: -37% !important;
        }

        .owl-prev,
        .owl-next {
          &:before {
            color: $white !important;
          }
        }

        .owl-prev {
          left: 0 !important;
        }
        .owl-next {
          right: -20vw !important;

          @include breakpoint(small, landscape) {
            right: -8vw !important;
          }

          @include breakpoint(medium) {
            right: -8vw !important;
          }
        }
      }
    }
  }
}
