<div class="post-card">
  <div class="image-wrapper">
    <img class="post-image" [src]="post.mainImage" [alt]="post.title + ' imagen'" />
    <span class="post-date">
      {{ post.date | date: "mediumDate":"-0400":"es" }}
    </span>
  </div>
  <div class="post-content">
    <h2 #title class="post-title">{{ post.title }}</h2>
    <p #excerpt class="post-excerpt" [innerHTML]="getExcerpt()"></p>
    <a class="read-more d-flex align-items-center" [routerLink]="['/blog/post', post.slug]">
      Leer Más
    </a>
  </div>
</div>
