@import 'scss/variables';
@import 'scss/responsive';

::ng-deep {
  web-form-wizard {
    &.school-form-wizard {
      .form-step-3 {
        .form-heading {
          font-size: 4.5vw;
          display: block;
          text-align: center;
          font-weight: normal;
          padding: 0 5%;

          @include breakpoint(small, landscape) {
            font-size: 2.5vw;
            padding: 0 15%;
          }

          @include breakpoint(medium) {
            font-size: 2.5vw;
            padding: 0 15%;
          }

          @include breakpoint(large) {
            font-size: 1.5vw;
            padding: 0 15%;
          }
        }
      }

      .form-step-3,
      .form-step-6 {
        .form-heading {
          text-align: center;
          display: block;
        }

        .fields-container {
          margin: 2rem 0;

          .form-field {
            width: 100% !important;

            &.field-school.select,
            &.field-sponsor.select {
              max-width: 680px !important;
              margin: 1.2rem auto !important;
              display: flex !important;
              flex-wrap: nowrap !important;
              align-items: center !important;
              justify-content: center !important;

              .field-label {
                top: 0 !important;
                margin-right: 1rem !important;
                align-self: center !important;
                flex: 0 0 auto !important;
                font-size: 1.1rem !important;
                line-height: 1.2 !important;
              }

              .field-control,
              ng-select {
                flex: 1 1 auto !important;
                max-width: 420px !important;
                width: 100% !important;
              }
            }

            &.confirmation {
              web-form-confirmation {
                width: 100%;
              }

              web-form-confirmation.ng-touched {
                &~web-form-validation {
                  display: block;

                  .error-message {
                    text-align: center;
                  }
                }
              }

              web-form-confirmation.ng-untouched {
                &~web-form-validation {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    &.sponsor-form-wizard {
      .form-step-2 {
        .form-heading {
          font-size: 1.5vw;
          display: block;
          font-weight: normal;
          padding: 0 5%;

          @include breakpoint(small, landscape) {
            font-size: 2.5vw;
            padding: 0 15%;
          }

          @include breakpoint(medium) {
            font-size: 2.5vw;
            padding: 0 15%;
          }

          @include breakpoint(large) {
            font-size: 1.5vw;
            padding: 0 15%;
          }
        }
      }

      .form-step-2,
      .form-step-6 {
        .form-heading {
          text-align: center;
          display: block;
        }

        .fields-container {
          margin: 2rem 0;

          @include breakpoint(small, landscape) {
            margin: 4vw 0;
          }

          @include breakpoint(medium) {
            margin: 4vw 0;
          }

          .form-field {
            width: 100% !important;

            &.field-school.select,
            &.field-sponsor.select {
              max-width: 680px !important;
              margin: 1.2rem auto !important;
              display: flex !important;
              flex-wrap: nowrap !important;
              align-items: center !important;
              justify-content: center !important;

              .field-label {
                top: 0 !important;
                margin-right: 1rem !important;
                align-self: center !important;
                flex: 0 0 auto !important;
                font-size: 1.1rem !important;
                line-height: 1.2 !important;
              }

              .field-control,
              ng-select {
                flex: 1 1 auto !important;
                max-width: 600px !important;
                width: 100% !important;
              }
            }

            &.confirmation {
              web-form-confirmation {
                width: 100%;
              }

              web-form-confirmation.ng-touched {
                &~web-form-validation {
                  display: block;

                  .error-message {
                    text-align: center;
                  }
                }
              }

              web-form-confirmation.ng-untouched {
                &~web-form-validation {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}