@import 'scss/placeholders';

::ng-deep {
    .nb-theme-default {
        p, h5, h6 {
            color: $blue;
        }
    }
    // .texts-buttons-wrapper {
        // padding: 2rem;
    // }
    .estilo-date{
        margin-left: 10px;
        display: inline-block;

        @media (max-width:768px){
            margin: 10px 0px;
        }
    }
    .texts-buttons-wrapper {
        .texts-wrapper {
            .date-download-status {
                .left-side {
                    .left-sided-content {
                        margin-bottom: 0;
                    }
                }
                .right-side {
                    display: flex;
                    // align-items: baseline;
                    align-items: center;

                    a, button {
                        @include shared-btn-confs;

                        @media (max-width:768px) {
                            margin: 10px 0px;
                            margin-left: 0px !important;
                        }
                    }
                    .status {
                        .rounded-circle {
                            background: #ffff00;
                            width: 0.85rem;
                            height: 0.85rem;
                            display: inline-block;
                            vertical-align: middle;
                        }
                        @media (max-width:768px){
                            margin: 5px 0px 15px !important;
                        }
                    }
                    @media  (max-width:768px){
                        display: block;
                    }
                }
                
                .select-estatus-width {
                    width: auto;
                    flex: auto;
                    align-items: center;
                    justify-content: flex-end;
                    
                    .ng-select {
                        //max-width: 13rem;
                        //width: auto;
                        min-width: 10rem;
                    }                  
                }               
            }
            @media  (max-width:768px){
                .d-flex{
                    display: flow-root !important;
                }
                
            }

            .sub-titles {
                &.text-incremented p {
                    font-size: large !important;
                }
            }
        }
        .buttons-wrapper {
            width: 100%;
            text-align: right;
            margin: 1rem 0 0 0;
            nb-icon {
                &::before {
                    margin: 0;
                    vertical-align: middle;
                }
            }    
    
            a.btn, button.btn {
                @include shared-btn-confs;
                margin-right: 0;
            }
    
            .btn-in-wrapper {
                margin-left: 1rem;
    
                &:first-child {
                    margin-left: 0;
                }
            }
        }
        
        @media (max-width:768px) {
            .buttons-wrapper{
                text-align: left;
                margin: 0 0 0 0;
            }
        }

    }
    .select-estatus{
        width: 40%;
    }
    .select-estatuz{
        width: auto;
    }
    .select-general{
        width: 10%;
    }
    .h6-select{
        margin-right: 10px;
        font-size: 1rem !important;
        font-weight: normal !important;
    }
    .containerInputAndBtn{
        width: 100%;
        padding: 1rem 0rem;
        .mb-negativo{
            margin-bottom: 0rem !important;
        }
        .style-input{
            width: 73%;
            display: inline-block;
        }
        .styleInputAndBtn{
            width: 25%;
            display: inline-block;
        }
        @media (min-width: 768px) and (max-width:992px){
            .style-input{
                width: 72%;
                display: inline-block;
            }
        }
        @media (max-width:768px){
            .styleInputAndBtn{
                width: 200px;
                display: inline-block;
                margin-top: 1rem;
                margin-left: 0px !important;
            }
            .style-input{
                width: 100%;
                display: inline-block;
            }
        }
        .style-textarea{
            width: 100%;
            resize: none;
            height: 130px;
        }
    }
    
    .form-control {
        color: $blue;

        &.is-date-placeholder {
        cursor: default;
        background-color: #fff;
        position: absolute;
        top: 2px;
        left: 2px;
        border: none;
        width: 80%;
        padding-bottom: 0 !important;
        height: auto;
        }

        &[readonly] {
            background-color: #fff;
        }

        &[type="date"]:focus + .form-control.is-date-placeholder {
        display: none;
        }
    
        &:focus {
        box-shadow: none;
        }
    
        &.ng-touched {
        &.ng-invalid, &.date-not-valid {
            border: 2px solid $red;
        }
    
        &.ng-valid:not(.date-not-valid):not(.image-description):not(.image-status) {
            border: 2px solid $green;
        }
        
        & ~ .error-message, &.ng-invalid.date-not-valid ~ .date-error-message {
            display: block;
        }

        &:not(.date-not-valid) ~ .date-error-message {
            display: none;
        }          
        }
    
        &.ng-untouched {
        & ~ .error-message, & ~ .date-error-message {
            display: none;
        }
        }
    }
    .ng-select {
        .ng-dropdown-panel {
        z-index: 3;
        .scroll-host {
            left: -0.75rem;
            top: 0.35rem;
            background: #fff;
            border: solid map-get($color_map, form-gray);
            border-width: 0 1px 1px;

            .scrollable-content{
                padding: 0 1rem;
            }
        }
        }

        &.ng-select-opened .ng-select-container {
            z-index: 3;           
        }
        
        .ng-select-container {
            .ng-placeholder {
                color: #6c757d;
            }

            &.ng-has-value .ng-placeholder {
                display: none;
            }
        }         

        &.ng-untouched {
            &.ng-invalid .ng-select-container .ng-placeholder,
            &.image-status .ng-select-container .ng-placeholder {
                display: block;
            }
            &.ng-valid:not(.image-status) .ng-select-container.ng-has-value .ng-placeholder {
                display: none;
            }
        }

        &.ng-touched {
            &.ng-pristine, 
            &.ng-invalid {
              .ng-select-container .ng-placeholder {
                  display: block;
              }
            }
            &.ng-invalid .ng-select-container .ng-placeholder {
                display: block !important;
            }
            &.ng-pristine:not(.image-status) .ng-select-container.ng-has-value .ng-placeholder {
                display: none;
            }
        }

        &.ng-select-filtered .ng-select-container .ng-placeholder {
            display: none !important;
        }

        .ng-clear-wrapper .ng-clear {
            color: map-get($color_map, form-gray);
        }

        .ng-arrow-wrapper {
            width: 1rem;

            .ng-arrow {
                height: 0.5rem !important;
                width: 0.5rem !important;
                border-color: map-get($color_map, form-gray);
                border-style: solid;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                top: -0.15rem;
            }
        } 
    }
}
