<div class="texts-buttons-wrapper">
    <div class="texts-wrapper" *ngIf="settings.date || settings.download || settings.status">
        <div class="date-download-status d-flex justify-content-between">
            <div *ngIf="settings.date" class="left-side">
                <h6>
                    <span *ngIf="settings.date.text">{{ settings.date.text }}:&nbsp;</span>
                    <span *ngIf="settings.date.date">{{ settings.date.date }}</span>
                </h6>
            </div>
            <div *ngIf="settings.download || settings.status" class="right-side">
                <h6 *ngIf="settings.status" class="status ml-4">
                    <span>Estatus:&nbsp;</span><span class="rounded-circle"></span>&nbsp;
                    <span class="font-weight-normal">{{ settings.status }}</span>
                </h6>

                <a *ngIf="settings.download" title="Descargar" 
                [href]="settings.download.url" target="_blank" 
                [download]="settings.download.name" 
                class="btn btn-primary text-decoration-none p-1 btn-in-wrapper ml-4">Descargar</a>
            </div>
        </div>

        <!-- <ng-container *ngFor="let text of settings.texts"> -->
            <h5 *ngIf="settings.title" class="title" 
            [class.mt-4]="settings.date || settings.download || settings.status"
            [class.text-left]="settings.title.aligning == 'left'" 
            [class.text-center]="settings.title.aligning == 'center'">
                {{ settings.title.text }}
            </h5> <br *ngIf="settings.title">
    
            <div class="sub-titles mb-2" *ngFor="let subtitle of settings.subtitles">
                <h6 class="sub-title">{{ subtitle.title }}</h6>
                <p>{{ subtitle.text }}</p>
            </div>
        <!-- </ng-container> -->
    </div>
    <div *ngIf="settings.action" class="d-inline-block buttons-wrapper">
        <!-- <div *ngIf="settings.upload" class="d-inline btn-in-wrapper" id="upload-btn-container" #uploadFile>
            <input class="d-none" id="upload-btn-input-file" type="file">
            <button id="upload-btn"  title="Subir archivo"
            class="btn btn-primary text-decoration-none p-1">
            <nb-icon icon="planificacion"></nb-icon>
            </button>
        </div>
    
        <a *ngIf="settings.download" title="Descargar" 
        [href]="settings.download.url" target="_blank" 
        [download]="settings.download.name" 
        class="btn btn-primary text-decoration-none p-1 btn-in-wrapper">
            <nb-icon icon="planificacion"></nb-icon>
        </a> -->
    
        <button *ngIf="settings.action.name"
        class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper action-btn">
            <span *ngIf="false" class="spinner-grow spinner-grow-sm"></span>
            {{ settings.action.name }}
        </button>
    </div>
</div>