<div class="texts-buttons-wrapper">
    <div class="texts-wrapper" 
        *ngIf="settings.dateOrtext || settings.download || settings.status || settings.selectGeneralStatus || settings.selectStatus || settings.btnGeneral || settings.inputAndBtns || settings.title || (settings.subtitles && settings.subtitles.length>0)">
        <div class="date-download-status d-flex justify-content-between mt-1">
            <div *ngIf="settings.dateOrtext" class="left-side">
                <h6 class="left-sided-content">
                    <span *ngIf="settings.dateOrtext.text">{{ settings.dateOrtext.text }}</span>
                    <span [class.display-date]="settings.dateOrtext.date" *ngIf="settings.dateOrtext.text && settings.dateOrtext.date"></span>
                    <span *ngIf="settings.dateOrtext.date">{{ settings.dateOrtext.date }}</span>
                    <span class="estilo-date" *ngIf="settings.dateOrtext.text && settings.dateOrtext.fields">
                        <input
                        #inputDate
                        type="date" 
                        class="form-control" 
                        (change)="glbls.validateDate($event,'greater')"
                        />
                        <input 
                        [class.d-none]="inputDate.value.length > 0"
                        class="form-control is-date-placeholder"
                        autocomplete='off'
                        type="text"
                        readonly    
                        (click)="focusDatePicker(inputDate)"
                        />
                        <!--
                        <div class="date-error-message">
                          <strong>La fecha debe ser mayor a la de hoy</strong>
                        </div>
                        -->
                    </span>
                </h6>
            </div>
            <div *ngIf="settings.download || settings.status" class="right-side">
                <h6 *ngIf="settings.status && settings.status.subText != 0" class="status ml-4">
                    <span>{{settings.status.text}}:&nbsp;</span>
                    <span 
                        class="rounded-circle"
                        [ngClass]="{
                            'yellow': settings.status.subText === 1,
                            'green': settings.status.subText === 2,
                            'red': settings.status.subText === 3
                        }"
                    ></span>&nbsp;
                    <span class="font-weight-normal">{{
                        settings.status.subText === 1 
                        ? 'Pendiente' 
                        : settings.status.subText === 2 
                        ? 'Aprobado'
                        : 'Rechazado'
                    }}</span>
                </h6>

                <a *ngIf="settings.download" title="Descargar" 
                [href]="settings.download.url" target="_blank" 
                [download]="settings.download.name" 
                class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper ml-4">Descargar</a>
            </div>
            <div  *ngIf="settings.selectStatus || settings.btnGeneral || settings.selectGeneralStatus" class="right-side select-estatus-width">
                <h6 *ngIf="settings.selectGeneralStatus" class="h6-select">
                    <span>{{settings.selectGeneralStatus.text}}</span>
                </h6>
                    <ng-select *ngIf="settings.selectGeneralStatus"
                        class="form-control select-general"
                        [items]="settings.selectGeneralStatus.lista"
                        [(ngModel)]="currentSelected"
                        bindValue="id"
                        bindLabel="name"
                        [placeholder]="settings.selectGeneralStatus.placeholder"
                    >
                    </ng-select>
                    <ng-select *ngIf="settings.selectStatus"
                        class="form-control select-estatus"
                        [items]="settings.selectStatus.lista"
                        [(ngModel)]="currentSelected"
                        bindValue="id"
                        bindLabel="name"
                        [placeholder]="settings.selectStatus.placeholder"
                    >
                    </ng-select>
                    <ng-container *ngIf="settings.btnGeneral && settings.btnGeneral.addToTable; else regularGeneral">
                        <button 
                            class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper ml-4"
                            (click)="addToTable(true)"
                        >{{settings.btnGeneral.name}}
                        </button>
                    </ng-container>
                    <ng-template #regularGeneral>
                        <button 
                            *ngIf="settings.btnGeneral"
                            title="general" 
                            class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper ml-4"
                            (click)="addToTable()"
                            [disabled]="!currentSelected"
                        >{{settings.btnGeneral.name}}
                        </button>
                    </ng-template>                    
            </div>

            <!--Input y boton para el anuario-->
            <div *ngIf="settings.inputAndBtns" class="containerInputAndBtn buttons-wrapper">
                <div *ngFor="let prueba of settings.inputAndBtns" class="" >
                    <h6 class="text-left" *ngIf="prueba.titleInput" [class.mb-negativo]="prueba.titleInput">{{prueba.titleInput}}</h6>
                    <input *ngIf="prueba.input"
                    class="form-control style-input"
                    type="text"
                    placeholder="{{prueba.input}}"
                    />
                    <button *ngIf="prueba.btn"
                    title="general" 
                    type="button"
                    class="btn btn-primary text-decoration-none btn-in-wrapper styleInputAndBtn"
                    (click)="addToTable()"
                    >{{prueba.btn}}
                    </button>
                    <!--<textarea *ngIf="prueba.textDesc"
                    class="form-control mt-3 style-textarea"
                    type="text"
                    placeholder="{{prueba.textDesc}}"
                    ></textarea>-->
                </div>
            <!--------------------------------------->

            </div>
        </div>

        <!-- <ng-container *ngFor="let text of settings.texts"> -->
            <h5 *ngIf="settings.title" class="title" 
            [class.mt-4]="settings.dateOrtext || settings.download || settings.status || settings.selectStatus"
            [class.text-left]="settings.title.aligning == 'left'" 
            [class.text-center]="settings.title.aligning == 'center'">
                {{ settings.title.text }}
            </h5> <br *ngIf="settings.title">
    
            <div 
                class="sub-titles mb-2" 
                *ngFor="let subtitle of settings.subtitles"
                [class.text-center]="settings.isFromCustomTableActions"
                [class.text-incremented]="settings.isFromCustomTableActions"
            >
                <h6 class="sub-title">{{ subtitle.title }}</h6>
                <p>{{ subtitle.text }}</p>
            </div>
        <!-- </ng-container> -->
    </div>
    <div 
        *ngIf="(settings.action && settings.action.length>0) || settings.upload" 
        class="d-inline-block buttons-wrapper"
        [class.text-center]="settings.isFromCustomTableActions"
        [class.py-3]="settings.isFromCustomTableActions"
    >
        <div *ngIf="settings.upload" class="d-inline btn-in-wrapper" id="upload-btn-container" #uploadFile>
            <input class="d-none" id="upload-btn-input-file" type="file">
            <button id="upload-btn"  title="settings.upload.name"
            class="btn btn-primary text-decoration-none py-1 px-4">
            {{settings.upload.name}}
            </button>
        </div>
    <!-- 
        <a *ngIf="settings.download" title="Descargar" 
        [href]="settings.download.url" target="_blank" 
        [download]="settings.download.name" 
        class="btn btn-primary text-decoration-none p-1 btn-in-wrapper">
            <nb-icon icon="planificacion"></nb-icon>
        </a> 
    -->
        <ng-container *ngFor="let action of settings.action">
            <ng-container *ngIf="action.type==6 || action.type == 5; else notModal">
                <button
                    *ngIf="action.name"
                    class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper action-btn"                    
                    (click)="addToTable(true, action.type==6?false : true)"
                >{{ action.name }}
                </button>
            </ng-container>
            <ng-template #notModal>
                <button
                    *ngIf="action.name"
                    [class.d-none]="action.type==4 && settings.fetcherUrls && settings.fetcherUrls.cancel"
                    class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper action-btn"
                    [disabled]="disableThis(action.type) || isSending || sleepSend"
                    (click)="takeAction(action.type, $event)"
                >
                        <span *ngIf="isSending && ( 
                            action.type==4 
                            || (settings.isDeleting 
                                && action.type==1) 
                        )" class="spinner-grow spinner-grow-sm"></span>
                        {{ isSending && action.type==4 ? 'Enviando' : action.name }}
                </button>

                <ng-container *ngIf="action.type==4 && settings.fetcherUrls && settings.fetcherUrls.cancel">
                    <button                        
                        class="btn btn-primary text-decoration-none py-1 px-4 btn-in-wrapper action-btn"
                        [disabled]="isSending || sleepSend"
                        (click)="cancelRequest()"
                    >
                        <span *ngIf="isSending" class="spinner-grow spinner-grow-sm"></span>
                        {{ isSending ? 'Cancelando' : 'Cancelar solicitud' }}
                    </button>
                </ng-container>
            </ng-template>
        </ng-container>        
    </div>
</div>