@import "scss/variables";

@mixin btn-min-width() {
    min-width: 8rem;
}
@mixin download-btn() {
    font-size: 1rem;
    line-height: 1.5;
    
    &:hover , &.btn {
        color: #fff;
    }
}

::ng-deep {
    .nb-theme-default {
        p, h5, h6 {
            color: $blue;
        }
    }
    .texts-buttons-wrapper {
        .texts-wrapper {
            .date-download-status {
                .right-side {
                    a {
                        background-color: $blue;
                        @include btn-min-width;
                        @include download-btn;
                    }

                    .status {
                        .rounded-circle {
                            background: #ffff00;
                            width: 0.85rem;
                            height: 0.85rem;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    }
                }               
            }
        }
        .buttons-wrapper {
            width: 100%;
            text-align: right;
        
            nb-icon {
                &::before {
                    margin: 0;
                    vertical-align: middle;
                }
            }    
    
            .btn {
                background-color: $blue;
            }
    
            a {
                @include download-btn;
            }
    
            .btn-in-wrapper {
                margin-left: 1rem;
    
                &:first-child {
                    margin-left: 0;
                }
    
                &.action-btn {
                    @include btn-min-width;
                }
            }
        }
    }
}
