<p>table-custom-block works!</p>
<div class="table-container">
  <div class="table-component isMultiMode">
    <ng2-smart-table
      [settings]="settings"
      [source]="source"
      class="is-multi table-block-component"
      (custom)="onCustomActions($event)"
      (userRowSelect)="onUserRowSelect($event)"
    ></ng2-smart-table>
  </div>

  <!-- <ng2-smart-table
  [settings]="settings"
  [source]="settings.data"
  (custom)="onCustomActions($event)"
  (userRowSelect)="onUserRowSelect($event)"
  ></ng2-smart-table> -->
</div>
