<section class="blog-post d-flex">
  <section class="post-detail">
    <div>
      <div class="image-wrapper">
        <img class="post-image" [src]="post.secondaryImage" />
        <span class="post-date">
          {{ post.date | date: "mediumDate":"+0430":"es" }}
        </span>
      </div>
      <div class="post" lang="es">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-content" [innerHTML]="post.content"></p>
      </div>
    </div>
    <social-sharing></social-sharing>
  </section>
  <aside class="sidebar">
    <searcher (search)="navigateToArchive($event)"></searcher>
    <blog-categories-list></blog-categories-list>
    <recent-posts-list [posts]="recentPosts"></recent-posts-list>
  </aside>
</section>
