@import 'scss/responsive';
@import 'scss/elements/button';
@import 'scss/elements/headings';
@import 'scss/elements/lists';

h1 {
  color: $white;
  font-size: 9vw;
  position: absolute;
  left: 8vw;
  top: 30vw;
  z-index: 20;

  @include breakpoint(small, landscape) {
    font-size: 4.5vw;
    left: 8vw;
    top: 16vw;
  }

  @include breakpoint(medium) {
    font-size: 4.5vw;
    left: 8vw;
    top: 16vw;
  }
}

owl-carousel-o {
  &.testimonials-carousel {
    position: absolute;
    top: 45vw;
    margin: 0 8vw;
    z-index: 20;
    width: 80%;

    @include breakpoint(small, landscape) {
      top: 25vw;
      width: 35%;
    }

    @include breakpoint(medium) {
      top: 25vw;
      width: 35%;
    }

    @include breakpoint(large) {
      width: 26%;
    }
  }
}

::ng-deep {
  owl-carousel {
    // Sponsors owl carousel in sponsors page
    &.sponsors-carousel {
      display: block;
      margin-bottom: 20vw;

      @include breakpoint(small, landscape) {
        margin-bottom: 5vw;
      }

      @include breakpoint(medium) {
        margin-bottom: 5vw;
      }

      .owl-carousel {
        width: 80%;
        margin: auto;

        .owl-stage {
          display: flex;

          .owl-item {
            display: flex;
            justify-content: center;
          }
        }
      }

      .owl-prev {
        left: -8vw !important;

        @include breakpoint(large) {
          left: 0 !important;
        }
      }

      .owl-next {
        right: -88vw !important;

        @include breakpoint(large) {
          right: -79vw !important;
        }
      }
    }
  }
}

web-bg-heading {
  display: block;
  margin: 8vw auto;
  width: 65%;

  @include breakpoint(small, landscape) {
    margin: 4vw auto;
    width: 35%;
  }

  @include breakpoint(medium) {
    margin: 4vw auto;
    width: 35%;
  }
}

.steps-wrapper {
  @import 'scss/animations';
  @include columns(10);
  margin: 8vw auto;
}

.steps-list {
  display: flex;
  flex-wrap: wrap;

  .steps-list__divider {
    flex: 1 0 100%;

    @include breakpoint(small, landscape) {
      flex: 1 0 50%;
    }

    @include breakpoint(medium) {
      flex: 1 0 50%;
    }
  }
}

.sponsors {
  min-height: 40vw;

  .heading {
    text-align: center;
    margin: 10vw 0;

    @include breakpoint(small, landscape) {
      margin: 8vw 0;
    }

    @include breakpoint(medium) {
      margin: 8vw 0;
    }
  }
}

.sponsors-list {
  margin: auto;

  .inner-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .sponsor {
    color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 3vw;
    margin-bottom: 10%;
    min-height: 40%;

    .image-wrapper {
      display: flex;
      align-items: center;
      height: 30vw;
      width: 30vw;

      @include breakpoint(small, landscape) {
        height: 5vw;
        width: 5vw;
      }

      @include breakpoint(medium) {
        height: 5vw;
        width: 5vw;
      }

      img {
        width: 100%;
      }
    }
    .title {
      font-size: 4vw;

      @include breakpoint(small, landscape) {
        font-size: 2vw;
      }

      @include breakpoint(medium) {
        font-size: 2vw;
      }

      @include breakpoint(large) {
        font-size: 1.5vw;
      }
    }
  }
}
