@import "scss/variables";

::ng-deep {
  .nb-theme-default {
    nb-accordion {
        box-shadow: none;

        nb-accordion-item-header {
            font-family: Montserrat;
            font-size: 1.2rem;
            border-bottom-color: $blue;
            color: $blue;

            .expansion-indicator {
                right: 1.25rem;
            }
        }
    }
  }
}
