@import 'scss/variables';
@import 'scss/responsive';

ol {
  counter-reset: circle-counter;
  list-style: none;
  padding-left: 1vw;
  margin: 0;

  li {
    color: $green;
    counter-increment: circle-counter;
    font-size: 3.5vw;
    margin-bottom: 4vw;
    padding-left: 10vw;
    position: relative;

    @include breakpoint(small, landscape) {
      font-size: 1.5vw;
      margin-bottom: 2vw;
      padding-left: 5vw;
    }

    @include breakpoint(medium) {
      font-size: 1.5vw;
      margin-bottom: 2vw;
      padding-left: 5vw;
    }

    &::before {
      border: 1px solid $blue;
      border-radius: 50%;
      color: $blue;
      content: counter(circle-counter);
      display: inline-block;
      font-size: 4vw;
      font-weight: bold;
      position: absolute;
      top: -1vw;
      left: 3vw;
      text-align: center;
      width: 5vw;

      @include breakpoint(small, landscape) {
        font-size: 2vw;
        left: 1.5vw;
        top: 0;
        width: 2.5vw;
      }

      @include breakpoint(medium) {
        font-size: 2vw;
        left: 1.5vw;
        top: 0vw;
        width: 2.5vw;
      }
    }
  }
}
