@import "scss/responsive";
@import "scss/variables";
@import "scss/elements/headings";
@import "scss/elements/button";

h1,
h2 {
  text-align: center;
}

h1 {
  margin: 5vw auto;
}

h2 {
  margin: 7vw auto;
}

section.about-us {
  color: $blue;
  padding: 11vw 0;
  min-height: 40vw;
  background-image: url("../../../../assets/images/leaves-background-movil.png");
  background-position-y: 3vw;
  background-repeat: no-repeat;
  background-size: 100%;

  @include breakpoint(small, landscape) {
    padding: 6vw 0 12vw;
    min-height: 55vw;
    background-image: url("../../../../assets/images/leaves-background-desktop.png");
    background-position-y: 0;
  }

  @include breakpoint(medium) {
    padding: 6vw 0 12vw;
    min-height: 55vw;
    background-image: url("../../../../assets/images/leaves-background-desktop.png");
  }

  .heading {
    @include columns(9);
    margin: 0 auto 8vw;

    @include breakpoint(small, landscape) {
      margin: 0 auto 4vw;
    }

    @include breakpoint(medium) {
      margin: 0 auto 4vw;
    }
  }
  .about-text {
    @include columns(10);
    margin: auto;

    @include breakpoint(small, landscape) {
      @include columns(7);
    }

    @include breakpoint(medium) {
      @include columns(7);
    }

    p {
      font-size: 4vw;
      text-align: center;
      line-height: 1.3;

      @include breakpoint(small, landscape) {
        font-size: 1.8vw;
        line-height: 1.5;
      }

      @include breakpoint(medium) {
        font-size: 1.8vw;
        line-height: 1.5;
      }

      @include breakpoint(large) {
        font-size: 1.2vw;
      }
    }
  }
}

::ng-deep {
  owl-carousel {
    &.pillars-carousel {
      display: flex;

      .owl-carousel {
        width: 80%;
        margin: auto;
        .owl-stage {
          display: flex;
          .owl-item {
            display: flex;
            .pillar {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      .owl-prev {
        left: -10vw !important;
      }
      .owl-next {
        right: -90vw !important;
      }
    }
  }

  owl-carousel {
    // Awards owl carousel in about us page
    &.awards-carousel {
      .owl-stage-outer {
        display: flex;
        justify-content: center;

        @include breakpoint(medium, portrait, down) {
          justify-content: unset;
        }

        .owl-stage {
          display: flex;
          justify-content: center;
          .owl-item {
            display: flex;
            justify-content: center;
          }
        }
      }

      .owl-prev {
        @include breakpoint(large) {
          left: 1vw !important;
        }
      }

      .owl-next {
        @include breakpoint(large) {
          right: -98vw !important;
        }
      }
    }
  }
}

::ng-deep {
  .pillar {
    .amblema-icon {
      &--white {
        svg {
          .st0 {
            fill: $white !important;
          }
        }
      }
    }
  }
}

section.pillars {
  .heading {
    background-color: $blue;
    color: $white;
    padding: 10vw 5vw;
    margin: 0;

    @include breakpoint(small, landscape) {
      padding: 3vw;
      font-size: 3vw;
    }

    @include breakpoint(medium) {
      padding: 3vw;
      font-size: 3vw;
    }
  }

  .pillars-list {
    @include breakpoint(large) {
      display: flex;
      overflow: hidden;
    }

    .pillar-wrapper {
      @include breakpoint(large) {
        @include columns(4);
        background-color: gray;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        position: relative;

        &.environment {
          background-image: url("../../../../assets/images/background-pillar-ambiente.jpg");
        }

        &.reading {
          background-image: url("../../../../assets/images/background-pillar-lectura.jpg");
        }

        &.math {
          background-image: url("../../../../assets/images/background-pillar-matematica.jpg");
        }
      }
    }
  }

  .pillar {
    background-color: $green;
    color: $white;
    padding: 6vw 10vw;
    text-align: center;

    @include breakpoint(small, landscape) {
      padding: 2vw 3vw;
      margin: 0 0.5vw;
    }

    @include breakpoint(medium) {
      padding: 2vw 3vw;
      margin: 0 0.5vw;
    }

    @include breakpoint(large) {
      bottom: -81%;
      flex-grow: 1;
      margin: 0;
      position: relative;
      transition: 1s bottom ease, 0.5s background-color ease;

      &:hover {
        background-color: $blue;
        bottom: 0;
        transition: 1s bottom ease, 0.5s background-color ease;
      }
    }

    h3 {
      color: inherit;
      font-weight: normal;
      font-size: 6vw;

      @include breakpoint(small, landscape) {
        font-size: 3vw;
      }

      @include breakpoint(medium) {
        font-size: 3vw;
      }
    }

    p {
      font-size: 4vw;
      margin: 8vw 0;

      @include breakpoint(small, landscape) {
        font-size: 1.8vw;
        margin: 5vw 0;
      }

      @include breakpoint(medium) {
        font-size: 1.8vw;
        margin: 5vw 0;
      }

      @include breakpoint(large) {
        font-size: 1.2vw;
        line-height: 1.5;
        margin: 2vw 0;
      }
    }
  }
}

section.awards {
  position: relative;
  .heading {
    text-align: center;

    @include breakpoint(small, landscape) {
      width: 40%;
    }

    @include breakpoint(medium) {
      width: 40%;
    }
  }
}

.awards-list {
  margin: 12vw auto;
  @include breakpoint(small, landscape) {
    margin: 6vw auto;
  }
  @include breakpoint(medium) {
    margin: 6vw auto;
  }

  .award {
    color: $blue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 1vw 0;

    .image-wrapper {
      display: flex;
      align-items: center;
      height: 30vw;
      width: 30vw;

      @include breakpoint(small, landscape) {
        height: 10vw;
        width: 10vw;
      }

      @include breakpoint(medium) {
        height: 10vw;
        width: 10vw;
      }

      img {
        width: 100%;
      }
    }
    .title {
      font-size: 6vw;
      font-weight: bold;
      margin: 4vw 15vw 0;

      @include breakpoint(small, landscape) {
        font-size: 2vw;
        margin: 2vw 8vw 0;
      }

      @include breakpoint(medium) {
        font-size: 2vw;
        margin: 2vw 8vw 0;
      }

      @include breakpoint(large) {
        font-size: 1.5vw;
      }
    }

    .description {
      font-size: 4vw;
      margin: 5vw 20vw;

      @include breakpoint(small, landscape) {
        font-size: 1.8vw;
        margin: 1.5vw 8vw;
      }

      @include breakpoint(medium) {
        font-size: 1.8vw;
        margin: 1.5vw 8vw;
      }

      @include breakpoint(large) {
        font-size: 0.9vw;
      }
    }

    .show-more {
      border-width: 1px;
      border-radius: 2px;
      text-decoration: none;
      padding: 3vw 14vw;

      @include breakpoint(small, landscape) {
        font-size: 1.8vw;
        border-radius: 4px;
        padding: 0.75vw 3vw;
      }

      @include breakpoint(medium) {
        font-size: 1.8vw;
        border-radius: 4px;
        padding: 0.75vw 3vw;
      }

      @include breakpoint(large) {
        font-size: 0.9vw;
      }
    }
  }
}

::ng-deep {
  .static-modal {
    position: absolute;
    overflow: visible;
  }
  .award-modal {
    .modal-dialog {
      width: 90vw;
      @include breakpoint(small, landscape) {
        width: 70vw !important;
      }
      @include breakpoint(medium) {
        width: 70vw !important;
      }
      @include breakpoint(large) {
        width: 65vw !important;
      }

      .modal-header {
        padding: 5% 5% 0 0;
        @include breakpoint(small, landscape) {
          padding: 2% 2% 0 0;
        }
        @include breakpoint(medium) {
          padding: 2% 2% 0 0;
        }
        button {
          background-color: transparent;
          border: 0;
        }
      }

      .modal-body {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        padding: 0 5% 5% !important;
        width: 100%;

        @include breakpoint(small, landscape) {
          flex-direction: row;
          font-size: 1.5vw !important;
        }
        @include breakpoint(medium) {
          flex-direction: row;
          font-size: 1.5vw !important;
        }
        @include breakpoint(large) {
          flex-direction: row;
          font-size: 1vw !important;
        }

        & > *:first-child {
          width: 35%;
        }
        & > *:last-child {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 60%;
        }

        @include breakpoint(medium, portrait, down) {
          & > *:first-child {
            width: 100%;
          }
          & > *:last-child {
            width: 100%;
          }
        }

        .image-wrapper {
          margin: auto;
          width: 20vw;

          @include breakpoint(medium, portrait, down) {
            width: 60vw;
          }
        }

        p {
          @include breakpoint(small, landscape) {
            font-size: 1.5vw !important;
          }
          @include breakpoint(medium) {
            font-size: 1.5vw !important;
          }
          @include breakpoint(large) {
            font-size: 1vw !important;
          }
        }
      }
    }
  }
  owl-carousel-o.award-images-carousel {
    .owl-carousel {
      .owl-stage {
        width: 100%;
      }
    }

    .owl-theme {
      .owl-dots {
        @include breakpoint(medium, portrait, down) {
          text-align: center;
        }
        .owl-dot {
          span {
            border: 1px solid $white;
          }
          &.active,
          &:hover {
            span {
              background: $white;
            }
          }
        }
      }
    }
  }
}
