<!-- Cover section -->
<web-cover [coverImage]="coverData.coverImage"
           [slides]="aboutUsPageData.slider">
</web-cover>
<!-- End cover section -->
<section class="about-us">
  <h1 class="heading">Nosotros</h1>
  <div class="about-text">
    <!-- <p *ngFor="let p of aboutUsPageData.aboutUsText">{{ aboutUsPageData.aboutUsText }}</p> -->
    <p *ngIf="aboutUsPageData.aboutUsText">{{ aboutUsPageData.aboutUsText }}</p>
  </div>
</section>
<section class="pillars">
  <h2 class="heading">Tenemos tres pilares fundamentales</h2>
  <div class="hide-lg">
      <owl-carousel-o [options]="pillarsOptions" class="pillars-carousel">
        <ng-template *ngIf="aboutUsPageData.environmentText" carouselSlide>
          <div class="pillar">
            <h3 class="pillar-title">
              <span class="bold">Amb</span>iente
            </h3>
            <p class="pillar-text">{{ aboutUsPageData.environmentText }}</p>
          </div>
        </ng-template>
        <ng-template *ngIf="aboutUsPageData.readingText" carouselSlide>
          <div class="pillar">
            <h3 class="pillar-title">
              <span class="bold">Le</span>ctura
            </h3>
            <p class="pillar-text">{{ aboutUsPageData.readingText }}</p>
          </div>
        </ng-template>
        <ng-template *ngIf="aboutUsPageData.mathText" carouselSlide>
          <div class="pillar">
            <h3 class="pillar-title">
              <span class="bold">Ma</span>temática
            </h3>
            <p class="pillar-text">{{ aboutUsPageData.mathText }}</p>
          </div>
        </ng-template>
      </owl-carousel-o>
  </div>
  <div class="pillars-list show-lg">
      <div class="pillar-wrapper environment">
          <div class="pillar invisible">
            <h3 class="pillar-title">
              <span class="bold">Amb</span>iente
            </h3>
            <p *ngIf="aboutUsPageData.environmentText" class="pillar-text">
              {{ aboutUsPageData.environmentText }}
            </p>
          </div>
          <div class="pillar">
            <h3 class="pillar-title">
              <span class="bold">Amb</span>iente
            </h3>
            <p *ngIf="aboutUsPageData.environmentText" class="pillar-text">
              {{ aboutUsPageData.environmentText }}
            </p>
          </div>
      </div>
      <div class="pillar-wrapper reading">
          <div class="pillar invisible">
            <h3 class="pillar-title">
              <span class="bold">Le</span>ctura
            </h3>
            <p *ngIf="aboutUsPageData.readingText" class="pillar-text">
              {{ aboutUsPageData.readingText }}
            </p>
          </div>
          <div class="pillar">
            <h3 class="pillar-title">
              <span class="bold">Le</span>ctura
            </h3>
            <p *ngIf="aboutUsPageData.readingText" class="pillar-text">
              {{ aboutUsPageData.readingText }}
            </p>
          </div>
      </div>
      <div class="pillar-wrapper math">
          <div class="pillar invisible">
            <h3 class="pillar-title">
              <span class="bold">Ma</span>temática
            </h3>
            <p *ngIf="aboutUsPageData.mathText" class="pillar-text">
              {{ aboutUsPageData.mathText }}
            </p>
          </div>
          <div class="pillar">
            <h3 class="pillar-title">
              <span class="bold">Ma</span>temática
            </h3>
            <p *ngIf="aboutUsPageData.mathText" class="pillar-text">
              {{ aboutUsPageData.mathText }}
            </p>
          </div>
      </div>
  </div>
</section>
<!-- Awards section -->
<section class="awards">
  <h2 class="heading">Premios y reconocimientos</h2>
  <div class="awards-list">
    <owl-carousel-o *ngIf="aboutUsPageData.awards.length > 0" [options]="carouselOptions" class="awards-carousel">
      <ng-template carouselSlide [width]="250" *ngFor="let award of aboutUsPageData.awards">
        <div class="award">
          <div class="image-wrapper">
            <img *ngIf="award.image" class="image" [src]="award.image" [alt]="award.name + ' logo'" />
          </div>
          <p *ngIf="award.title" class="title">{{ award.name }}</p>
          <p *ngIf="award.description" class="description">{{ award.description }}</p>
          <a class="button sm blue show-more" (click)="onAwardClick(award)">Ver más</a>
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>
<!-- End awards section -->
