<section class="cover">
  <web-cover [slides]="coverData.slides"></web-cover>
</section>

<div class="container-fluid posts-list">
  <ng-container *ngFor="let post of postsList; index as i">
    <div class="row" *ngIf="((i+1) % 4) == 0">
      <blog-post-card class="col-12 col-md-6 col-xl-3" [post]="postsList[i-3]"></blog-post-card>
      <blog-post-card class="col-12 col-md-6 col-xl-3" [post]="postsList[i-2]"></blog-post-card>
      <blog-post-card class="col-12 col-md-6 col-xl-3" [post]="postsList[i-1]"></blog-post-card>
      <blog-post-card class="col-12 col-md-6 col-xl-3" [post]="post"></blog-post-card>
    </div>
  </ng-container>
</div>

