@import "scss/responsive";
@import "scss/variables";
@import "scss/elements/button";

#grid {
  display: grid;
  min-height: 100vh;
  height: auto;
  grid-template-rows: 6% 94%;
}
#grid #navbar {
  display: grid;
  min-height: 60px !important;
  background-color: $blue;
  grid-auto-flow: column;
  grid-gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
}
#icon {
  display: grid;
  justify-content: start;
  align-content: center;
}
a {
  color: $white !important;
  text-decoration: none;
}
#grid #principal {
  position: absolute;
  min-width: 100vw;
  min-height: 130vh;
  width: auto;
  height: auto;
  @media (min-width: 100px) and (max-height: 700px) {
    min-height: 100vh;
  }
  @include breakpoint(small) {
    min-height: 100vh;
    height: auto !important;
  }
  @media (max-width: 600px) and (max-height: 700px) {
    min-height: 100vh;
  }
  @media (max-width: 850px) and (max-height: 1300px) {
    min-height: 100vh;
  }
  @include breakpoint(medium) {
    min-height: 100vh;
    height: auto !important;
  }

  /*  @include breakpoint(large) {
    min-height: 130vh;
    height: auto !important;
  } */
}

section {
  color: $white;
  background-image: url("../../../assets/images/banner-movil-2.jpg");
  background-position-y: 0vw;
  background-repeat: no-repeat;
  background-size: cover;

  @include breakpoint(small, landscape) {
    padding: 6vw 0 12vw;
    min-height: 95vw;
    background-image: url("../../../assets/images/banner-movil-2.jpg");
    background-position-y: 0;
  }

  @include breakpoint(medium) {
    padding: 6vw 0 12vw;
    min-height: 65vw;
    background-image: url("../../../assets/images/banner-2.jpg");
  }
  @include breakpoint(large) {
    padding: 6vw 0 12vw;
    min-height: 65vw;
    background-image: url("../../../assets/images/banner-2.jpg");
  }
  .heading {
    font-family: "Montserrat";
    color: $white;
    padding-top: 20%;
    text-align: center;
    line-height: 1;
    margin: 0;
    font-weight: bold;
    font-size: 8vw;

    @include columns(5);
    margin: 0 auto 8vw;

    @include breakpoint(small, landscape) {
      padding-top: 0 !important;
      font-size: 8vw;
      margin: 0 auto 4vw;
    }

    @include breakpoint(medium) {
      padding-top: 0 !important;
      font-size: 5.5vw;
      margin: 0 auto 4vw;
    }
    @include breakpoint(large) {
      padding-top: 0 !important;
      font-size: 4vw;
      margin: 0 auto 4vw;
    }

    //Ipad pro portrait
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      padding-top: 0 !important;
      font-size: 4vw;
      margin: 0 auto 4vw;
    }

    //Ipad pro lanscape
    @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
      padding-top: 0 !important;
      font-size: 5.5vw;
      margin: 0 auto 4vw;
    }
  }
  .text-description {
    @include columns(10);
    margin: auto;

    @include breakpoint(small, landscape) {
      @include columns(7);
    }

    @include breakpoint(medium) {
      @include columns(7);
    }

    .paragraph {
      font-family: "Montserrat";
      color: $white;
      font-size: 4vw;
      text-align: center;
      line-height: 1.3;

      @include breakpoint(small, landscape) {
        font-size: 2.5vw;
        line-height: 1.5;
      }

      @include breakpoint(medium) {
        font-size: 2.7vw;
        line-height: 1.5;
      }

      @include breakpoint(large) {
        font-size: 1.2vw;
      }

      @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
        font-size: 2.4vw;
        line-height: 1.2;
      }
      @media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
        font-size: 2.2vw;
        line-height: 1;
      }
    }
  }
  button {
    background-color: $white;
    color: $blue;
    font-size: 0.45rem;
    display: inline-block;
    text-align: center;
    min-width: 100%;
    @include breakpoint(small, landscape) {
      font-size: 0.4rem;
    }

    @include breakpoint(medium) {
      font-size: 0.8rem;
    }
    @include breakpoint(large) {
      font-size: 0.9rem;
    }
  }
  #button {
    position: relative;
    padding-top: 2%;
    grid-row-gap: 5%;
    padding-left: 2%;
    padding-right: 2%;
    @include breakpoint(small) {
      padding-top: 2%;
      grid-row-gap: 10%;
    }

    @include breakpoint(medium) {
      padding-top: 2%;
      grid-row-gap: 5%;
    }
  }
  .button-col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button-col .btn {
    margin-bottom: 2%;
  }
}
