<div id="grid">
  <div id="navbar">
    <div id="icon">
      <a [routerLink]="['/']"><fa-icon [icon]="backIcon"></fa-icon></a>
    </div>
    <div id="logout">
      <a [routerLink]="['/auth/logout']"><fa-icon [icon]="closeIcon"></fa-icon></a>
    </div>
  </div>
  <section id="principal">
    <div class="col-auto">
      <h1 class="heading">{{ title }}</h1>
    </div>
    <div class="col-auto">
      <div class="text-description">
        <p class="paragraph">
          {{ description }}
        </p>
      </div>
    </div>
    <div>
      <div class="col">
        <div id="button" class="row">
          <div
            class="text-description row justify-content-center"
            *ngIf="projects && projects.length == 0"
          >
            <div class="col-6 col-sm-6 col-md-4 col-lg-4 button-col">
              <button type="button" class="btn btn-light">
                Todavía no tienes proyectos asignados
              </button>
            </div>
            
          
          </div>
          <div
            *ngFor="let item of projects; index as i"
            class="col-6 col-sm-6 col-md-4 col-lg-4 button-col"
          >
            <button type="button" (click)="goTo(item.phase, item.id, i)" class="btn btn-light">
              {{
                item.school.name != undefined
                  ? item.school.name
                  : item.school.name == undefined
                  ? "Proyecto " + item.code
                  : ""
              }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div></div>
  </section>
</div>
