<div #mapWrapper id="map"></div>
<div
  *ngIf="(isItLoading$ | async) && !hadNotAcceptedModal(); else schoolList"
  id="school-overlay-loading"
>
  <span>Cargando información de escuelas...</span>
</div>

<ng-template #schoolList>
  <div class="school-list">
    <ul class="list">
      <ng-container
        *ngFor="
          let school of this.schoolsList
            | filter
              : searchInputValue
              : ['name', 'state']
              : 'some'
              : { notFound: true }
        "
      >
        <ng-container *ngIf="!school.notFound; else notFound">
          <li (click)="zoomTo(school.lat, school.lng)">
            <div>
              <nb-icon icon="pin-outline" class="icon"></nb-icon>
            </div>

            <div class="content">
              <span>{{ school.name | excerpt: 80 }}</span>
              <small class="state">{{ school.state }}</small>
            </div>
          </li>
        </ng-container>

        <ng-template #notFound>
          <li class="notFound">
            Sin coincidencias ¡Intenta otras palabras claves!
          </li>
        </ng-template>
      </ng-container>
    </ul>

    <input
      nbInput
      class="search-input"
      type="text"
      name="schoolSearcher"
      placeholder="Buscar escuela en Amblema "
      [(ngModel)]="searchInputValue"
    />
  </div>
</ng-template>

<ng-template #content let-modal>
  <div class="modal-header">
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Selecciona una escuela para ver el detalle</p>
    <button
      class="btn modal-button"
      type="button"
      (click)="modal.close('accept')"
    >
      Aceptar
    </button>
  </div>
</ng-template>
