<section class="cover">
  <web-cover [slides]="coverData.slides" *ngIf="coverData.slides"> </web-cover>
  <h1>Coordinadores</h1>
  <owl-carousel-o
    *ngIf="coordinatorsPageData.testimonials.length > 0"
    [options]="customOptions"
    class="testimonials-carousel"
  >
    <ng-template
      carouselSlide
      *ngFor="let testimonial of coordinatorsPageData.testimonials"
    >
      <web-testimonial-card [testimonial]="testimonial"></web-testimonial-card>
    </ng-template>
  </owl-carousel-o>
</section>

<section class="steps">
  <web-bg-heading>¿Cómo ser un coordinador?</web-bg-heading>
  <div class="steps-list">
    <ol #stepsList class="fade-in-animation animation-init">
      <li *ngFor="let step of coordinatorsPageData.steps">{{ step }}</li>
    </ol>
  </div>
</section>
