<nav class="web-menu">
  <ul>
    <li>
      <a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
    </li>
    <li>
      <a [routerLink]="['/nosotros']">Nosotros</a>
    </li>
    <li>
      <a [routerLink]="['/padrinos']">Padrinos</a>
    </li>
    <li>
      <a [routerLink]="['/coordinadores']">Coordinadores</a>
    </li>
    <li>
      <a [routerLink]="['/escuelas']">Escuelas</a>
    </li>
    <li>
      <a [routerLink]="['/blog']">Blog</a>
    </li>
    <li>
      <a [routerLink]="['/login']">Login</a>
    </li>
  </ul>
</nav>
