@import 'scss/variables';

@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/Montserrat-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf') format('truetype');
}

/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block !important;
}

owl-carousel-o {
  .owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          background: transparent;
          border: 1px solid $blue;
        }

        &.active,
        &:hover {
          span {
            background: $blue;
          }
        }
      }
    }
  }
}
