@import "./assets/scss/variables";
@import "scss/responsive";
@import "./assets/scss/scrollBar";

@import "~ngx-toastr/toastr", "~bootstrap/dist/css/bootstrap.css",
  "~bootstrap/scss/print", "~bootstrap/scss/reboot", "~bootstrap/scss/type",
  "~owl.carousel/dist/assets/owl.carousel.min.css",
  "~owl.carousel/dist/assets/owl.theme.default.min.css";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-lists/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-schedule/styles/material.css";

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("./assets/fonts/Montserrat-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "amblemaicons";
  src: url("./assets/fonts/amblema-icons/amblemaicons.eot?l7zsfx");
  src: url("./assets/fonts/amblema-icons/amblemaicons.eot?l7zsfx#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/amblema-icons/amblemaicons.ttf?l7zsfx")
      format("truetype"),
    url("./assets/fonts/amblema-icons/amblemaicons.woff?l7zsfx") format("woff"),
    url("./assets/fonts/amblema-icons/amblemaicons.svg?l7zsfx#icomoon")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/*
@font-face {
  font-family: "amblemaicons";
  src: url("./assets/fonts/amblema-icons/amblemaicons.eot?gupyn8");
  src: url("./assets/fonts/amblema-icons/amblemaicons.eot?gupyn8#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/amblema-icons/amblemaicons.ttf?gupyn8")
      format("truetype"),
    url("./assets/fonts/amblema-icons/amblemaicons.woff?gupyn8") format("woff"),
    url("./assets/fonts/amblema-icons/amblemaicons.svg?gupyn8#amblemaicons")
      format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */
@font-face {
  font-family: "arrows";
  src: url("./assets/fonts/arrows.eot");
  src: url("./assets/fonts/arrows.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/arrows.woff") format("woff"),
    url("./assets/fonts/arrows.ttf") format("truetype"),
    url("./assets/fonts/arrows.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media (max-width: 575px) {
  .nb-theme-default
    nb-layout
    .layout
    .layout-container
    .content
    .columns
    nb-layout-column {
    padding: 2.25rem 1rem 0.75rem !important;
  }
}

/* You can add global styles to this file, and also import other style files */
html.smooth-scrolling {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible !important;
}

p {
  line-height: 1.3;
}

a {
  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.fullscreen-space {
  @include breakpoint(large) {
    height: 100vh;
    width: 100vw;
    position: relative;
    z-index: -10;
  }
}

.b-show {
  display: block;
}

.f-show {
  display: flex;
}

.hide {
  display: none;
}

.show-lg {
  display: none;

  @include breakpoint(large) {
    display: block;
  }
}

.hide-lg {
  display: block;

  @include breakpoint(large) {
    display: none;
  }
}

.bold {
  font-weight: bold;
}

.image-wrapper {
  img {
    width: 100%;
  }
}

// Slideout menu styles
.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 70vw;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
}

.slideout-menu-left {
  left: -70vw;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #fff; /* A background-color is required */
  min-height: 100vh;
  transition: 0.25s ease transform;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-panel {
  transform: translateX(70vw) !important;
}

.slideout-open .slideout-menu {
  display: block;
  left: 0;
}

section.pillars {
  web-bg-heading {
    .bg-heading {
      h2 {
        font-size: 7vw !important;
        font-weight: normal !important;
        margin: 0 !important;
        text-align: center !important;
        width: 100% !important;

        @include breakpoint(small, landscape) {
          font-size: 3vw !important;
        }

        @include breakpoint(medium) {
          font-size: 3vw !important;
        }
      }
    }

    .line {
      &.blue {
        height: 10vw !important;
        right: -18vw !important;
        width: 60% !important;

        @include breakpoint(small, landscape) {
          height: 4vw !important;
          right: -30% !important;
          width: 40% !important;
        }

        @include breakpoint(medium) {
          height: 4vw !important;
          right: -30% !important;
          width: 40% !important;
        }
      }
      &.green {
        height: 10vw !important;
        left: 2vw !important;
        top: 0vw !important;
        width: 95% !important;

        @include breakpoint(small, landscape) {
          height: 4vw !important;
          left: 20% !important;
          width: 60% !important;
        }

        @include breakpoint(medium) {
          height: 4vw !important;
          left: 20% !important;
          width: 60% !important;
        }
      }
    }
  }
}

// Styles for Owl Carousels
.owl-carousel {
  position: relative;

  .owl-nav {
    position: absolute;
    top: 45%;

    button {
      &:focus {
        outline: none;
      }

      &.owl-prev,
      &.owl-next {
        background: transparent;
        margin: 0;
        padding: 0;
        position: absolute;
        transform: scaleY(1.5);

        &:hover {
          background: transparent;
        }

        &:before {
          color: $blue;
          font-family: "arrows";
          font-size: 6vw;
          @include breakpoint(small, landscape) {
            font-size: 3vw;
          }

          @include breakpoint(medium) {
            font-size: 3vw;
          }

          @include breakpoint(large) {
            font-size: 2vw;
          }
        }
      }

      &.owl-prev {
        left: 0;
        &:before {
          content: "\2190";
        }
      }

      &.owl-next {
        right: -100vw;
        &:before {
          content: "\2192";
        }
      }
    }
  }
  @media (max-width: 768px) {
    .owl-nav {
      top: 35%;
    }
  }
  @media (min-width: 400px) and (max-width: 576px) {
    .owl-nav {
      top: 50%;
    }
  }
  @media (max-width: 399px) {
    .owl-nav {
      top: 60%;
    }
  }
  .owl-dots {
    text-align: left;

    @include breakpoint(small, landscape) {
      text-align: center;
    }

    @include breakpoint(medium) {
      text-align: center;
    }

    .owl-dot {
      span {
        background: transparent;
        border: 1px solid $blue;
      }

      &.active,
      &:hover {
        span {
          background: $blue;
        }
      }
    }
  }
}

owl-carousel-o {
  // Founders owl carousel in Home page
  &.founders-carousel {
    .owl-nav {
      top: -40% !important;

      @include breakpoint(small, landscape) {
        top: 80% !important;
        left: -37% !important;
      }

      @include breakpoint(medium) {
        top: 80% !important;
        left: -37% !important;
      }

      .owl-prev,
      .owl-next {
        &:before {
          color: $white !important;
        }
      }

      .owl-prev {
        left: 0 !important;
      }
      .owl-next {
        right: -20vw !important;

        @include breakpoint(small, landscape) {
          right: -8vw !important;
        }

        @include breakpoint(medium) {
          right: -8vw !important;
        }
      }
    }
  }

  // General styles for owl carousels
  .owl-carousel {
    position: relative;
  }

  .owl-theme {
    .owl-nav {
      position: absolute;
      top: 45%;
      .owl-prev,
      .owl-next {
        background: transparent;
        margin: 0;
        padding: 0;
        position: absolute;
        transform: scaleY(1.5);

        &:hover {
          background: transparent;
        }

        &:before {
          color: $blue;
          font-family: "arrows";
          font-size: 6vw;

          @include breakpoint(small, landscape) {
            font-size: 3vw;
          }

          @include breakpoint(medium) {
            font-size: 3vw;
          }

          @include breakpoint(large) {
            font-size: 2vw;
          }
        }
      }

      .owl-prev {
        left: 0;
        &:before {
          content: "\2190";
        }
      }

      .owl-next {
        right: -100vw;
        &:before {
          content: "\2192";
        }
      }
    }
    .owl-dots {
      text-align: left;

      @include breakpoint(small, landscape) {
        text-align: center;
      }

      @include breakpoint(medium) {
        text-align: center;
      }

      .owl-dot {
        span {
          background: transparent;
          border: 1px solid $blue;
        }

        &.active,
        &:hover {
          span {
            background: $blue;
          }
        }
      }
    }
  }
}

.margin-both-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

//? PARA ESTILIZAR EL PAGINADOR------------------
jw-pagination {
  .pagination {
    justify-content: center;
    margin-block-start: 1.75rem;

    li {
      cursor: pointer;
    }
  }

  .page-item.first-item,
  .page-item.last-item {
    display: none;
  }

  .page-item .page-link,
  .page-item.disabled .page-link {
    background: none;
  }
  .page-item .page-link {
    border-color: $blue;
    color: $blue;
    font-size: small;
    padding: 0.9rem 1.2rem;

    @include mediabreak(small, portrait) {
      font-size: medium;
    }
    @include mediabreak(large, landscape) {
      padding: 0.8rem 1.1rem;
      font-size: 0.75rem;
    }
    @include mediabreak(larger, landscape, true, 1900px) {
      padding: 0.95rem 1.4rem;
      font-size: 1rem;
    }
  }
  .page-item.disabled .page-link {
    border-color: $dark-gray;
    color: $dark-gray;
  }
  .page-item.active .page-link {
    color: #fff;
    background: $blue;
    border-color: $blue;
  }
  .page-item.previous-item .page-link {
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
  }
  .page-item.next-item .page-link {
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
  }
}
span[class*="icon-"].icon-awesum {
  display: none;
}
//?----------------------------------------------

//SCHEDULE
.nb-theme-default li {
  color: #00809a !important;
  font-family: "Montserrat" !important;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
}
.e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text {
  color: #00809a;
  font-weight: bold;
}
.e-schedule .e-month-view .e-date-header-wrap table td {
  color: #00809a;
  font-weight: bold;
}
.e-schedule .e-month-view .e-work-cells {
  color: #00809a;
}
.e-schedule .e-agenda-view .e-day-date-header {
  color: #00809a;
}
.e-schedule .e-month-view .e-other-month,
.e-schedule .e-month-agenda-view .e-other-month {
  color: rgba(0, 0, 0, 0.54);
}
.e-schedule .e-schedule-toolbar .e-active-view .e-tbar-btn-text,
.e-schedule .e-schedule-toolbar .e-active-view .e-icons {
  color: #00353a;
}

.e-schedule .e-month-view .e-current-date .e-date-header,
.e-schedule .e-month-agenda-view .e-current-date .e-date-header {
  background-color: #00353a;
}

.e-toolbar .e-icons {
  color: #00353a;
}
.e-schedule .e-month-view .e-date-header-wrap table td.e-current-day,
.e-schedule .e-month-agenda-view .e-date-header-wrap table td.e-current-day {
  color: #00353a;
}

.e-input-group:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-input-group.e-control-wrapper:not(.e-success):not(.e-warning):not(.e-error):not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap,
.e-float-input.e-control-wrapper.e-float-icon-left:not(.e-success):not(.e-warning):not(.e-error)
  .e-input-in-wrap {
  border-color: #00353a;
}

.e-btn.e-flat.e-primary:hover,
.e-css.e-btn.e-flat.e-primary:hover {
  background-color: rgba(22, 171, 227, 0.04);
  border-color: transparent;
  color: #00353a;
}
.e-btn.e-flat.e-primary,
.e-css.e-btn.e-flat.e-primary {
  background-color: rgba(22, 171, 227, 0.04);
  border-color: transparent;
  color: #00353a;
}

.e-checkbox-wrapper .e-frame.e-check,
.e-css.e-checkbox-wrapper .e-frame.e-check {
  background-color: #00353a;
  border-color: transparent;
  color: #fff;
}

input.e-input::selection,
textarea.e-input::selection,
.e-input-group input.e-input::selection,
.e-input-group.e-control-wrapper input.e-input::selection,
.e-float-input input::selection,
.e-float-input.e-control-wrapper input::selection,
.e-input-group textarea.e-input::selection,
.e-input-group.e-control-wrapper textarea.e-input::selection,
.e-float-input textarea::selection,
.e-float-input.e-control-wrapper textarea::selection {
  background: #00353a;
  color: #fff;
}

.e-float-input.e-small textarea::selection,
.e-float-input textarea::selection {
  background: #00353a;
  color: #fff;
}

.e-calendar .e-content td.e-selected span.e-day,
.e-bigger.e-small .e-calendar .e-content td.e-selected span.e-day {
  background-color: #00809a;
  border: none;
  border-radius: 50%;
  color: #fff;
}

.e-schedule .e-month-view .e-appointment {
  background: #00809a;
  border: 1px solid #e8eaf6;
  border-radius: 2px;
  color: #fff;
  cursor: default;
  display: -webkit-box;
  display: flex;
  height: 22px;
  overflow: hidden;
  position: absolute;
}

.e-quick-popup-wrapper .e-event-popup .e-popup-header {
  background-color: #00809a;
}

.e-quick-popup-wrapper
  .e-event-popup
  .e-popup-header
  .e-header-icon-wrapper
  .e-delete:disabled
  > .e-delete-icon {
  display: none;
}

.e-quick-popup-wrapper
  .e-event-popup
  .e-popup-header
  .e-header-icon-wrapper
  .e-edit:disabled
  > .e-edit-icon {
  display: none;
}

/* .nb-theme-default * {
  font-family: "Montserrat" !important;
} */

@media (max-width: 768px) {
  .e-popup-header {
    margin-top: 100px !important;
  }
}

input[type="date"] {
  &:after {
    content: "v";
    content: "\25BE";
    content: "\f073";
    z-index: 0;
    position: absolute;
    right: 0;
    top: 0.7rem;
    color: #888585;

    margin-right: 4% !important;
    @media screen and (orientation: landscape) {
      margin-right: 2.75% !important;
    }
    @media screen and (orientation: landscape) and (min-width: 1600px) {
      margin-right: 2.25% !important;
    }
  }

  &::-webkit-inner-spin-button,
  &::-webkit-clear-button {
    display: none;
  }

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 1;
  }
}

// /* style sheet for "A4" printing */
// @media print and (width: 21cm) and (height: 29.7cm) {
//   @page {
//      margin: 3cm;
//   }
// }

// /* style sheet for "letter" printing */
// @media print and (width: 8.5in) and (height: 11in) {
//  @page {
//      margin: 1in;
//  }
// }

/* A4 Landscape*/
@page {
 size: A4 landscape;
//  margin: 10%;
}
