@import 'scss/responsive';
@import 'scss/variables';

::ng-deep {
  owl-carousel-o.web-cover__carousel {
    .owl-carousel {
      .owl-item {
        &.active {
          z-index: 50;
        }
      }
    }
  }
}

.web-cover {
  $self: &;
  position: relative;
  overflow: hidden;
  width: 100vw;

  &__overlay-green {
    background-color: $green;
  }

  &__overlay-image {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 10;

    @include breakpoint(small, landscape) {
      right: 0;
      width: 45%;
    }

    @include breakpoint(medium) {
      right: 0;
      width: 45%;
    }
  }

  &__mobile-image-extended-wrapper {
    width: 300vw;
    margin-left: -50vw;
    max-height: 75vh;

    @include breakpoint(small, landscape) {
      margin-left: initial;
      width: initial;
      max-height: 100vh;
    }

    @include breakpoint(medium) {
      margin-left: initial;
      width: initial;
      max-height: 100vh;
    }
  }

  &__image {
    img {
      width: 100%;
    }

    &--transparent {
      img {
        opacity: 0.5;
      }
    }
  }

  &__content-wrapper {
    bottom: 80vw;
    margin: 0 8vw;
    position: absolute;
    width: 84vw;
    z-index: 15;

    @include breakpoint(small, landscape) {
      margin: 0;
      margin-right: 5vw;
      right: 0;
      width: 45vw;
      bottom: 20vw;
    }

    @include breakpoint(medium) {
      margin: 0;
      margin-right: 5vw;
      right: 0;
      width: 45vw;
      bottom: 20vw;
    }

    &--sponsor-page,
    &--coordinator-page {
      bottom: 10vw;
      @include breakpoint(small, landscape) {
        bottom: 18vw;
      }

      @include breakpoint(medium) {
        bottom: 18vw;
      }

      @include breakpoint(large) {
        bottom: 15vw;
      }
    }
  }

  &__content-title {
    color: white;
    font-size: 7vw;
    line-height: 1.2;
    text-align: center;

    @include breakpoint(small, landscape) {
      font-size: 3vw;
      text-align: right;
    }

    @include breakpoint(medium) {
      font-size: 3vw;
      text-align: right;
    }

    &--bold {
      font-weight: bold;
    }
  }

  &__content-wrapper--sponsor-page,
  &__content-wrapper--coordinator-page {
    #{ $self }__content-title {
      font-size: 6.5vw;
      text-align: left;
      @include breakpoint(small, landscape) {
        font-size: 3vw;
      }

      @include breakpoint(medium) {
        font-size: 3vw;
      }
    }
    #{ $self }__content-description {
      text-align: left;
    }
  }

  &__content-description {
    color: white;
    font-size: 4.5vw;
    line-height: 1.2;
    text-align: center;

    @include breakpoint(small, landscape) {
      font-size: 2vw;
      text-align: right;
    }

    @include breakpoint(medium) {
      font-size: 2vw;
      text-align: right;
    }

    @include breakpoint(medium) {
      font-size: 1.4vw;
    }
  }
}
