<div class="modules-list-container">
    <div class="welcome-message d-flex flex-column align-items-center">
        <h1 class="font-weight-bold mb-4">¡Bienvenido Carlos Camacaro, que comience el aprendizaje!</h1>
        <div class="below-welcome">
            <p class="text-center">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        </div>        
        <!-- Paginator -->
        <div class="paginator">        
            <jw-pagination [items]="modules" [pageSize]="5" [maxPages]="3" (changePage)="onChangePage($event)"></jw-pagination>
            <span class="icon-back icon-awesum"><fa-icon [icon]="faAngleLeft"></fa-icon></span><span class="icon-forward icon-awesum"><fa-icon [icon]="faAngleRight"></fa-icon></span>
        </div>
        <!-- end paginator -->
        <button type="button" class="btn btn-primary ml-auto text-decoration-none py-2 px-4 mt-1">Volver a los pasos</button>
    </div>
    
    <div class="modules-list">    
        <div class="d-flex module-item py-3 rounded-sm" *ngFor="let module of pageOfItems; index as i">
            <div class="pr-1 mr-auto"><h2 class="text-uppercase font-weight-bold mt-2 mb-0">Módulo {{i+1}}<i *ngIf="checkApprove(module.id)"><fa-icon [icon]="faCheck"></fa-icon></i></h2></div>
            <button type="button" class="btn btn-outline-primary text-decoration-none" [routerLink]="['/e-learning/module-detail/'+module.id]">
                <span class="no-icon">{{ checkApprove(module.id) ? 'Ver':'Iniciar'}}</span><span class="icon"><fa-icon *ngIf="!checkApprove(module.id)" [icon]="faPlay"></fa-icon><fa-icon *ngIf="checkApprove(module.id)" [icon]="faEye"></fa-icon></span>
            </button>
        </div>        
    </div>
</div>